
// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';

$font-family-base: Nunito;
$font-family-base: Nunito;
$headings-font-family: Poppins;

$enable-grid-classes: false;
// $primary: #07689f;
$primary: #e02424;
$secondary: #c9d6df;
$success: #11d3bc;
$danger: #f67280;
$info: #a2d5f2;
$warning: #ff7e67;
$light: #fafafa;
$dark: #4e4e4e;
$enable-shadows: false;
$enable-gradients: false;
$border-radius-lg: 0.3rem;
$border-radius: 0.2rem;
$border-radius-sm: 0.1rem;
$font-size-base: 1rem;

// Include Bootstrap and BootstrapVue SCSS files
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";

@import "~vue2-datepicker/scss/index.scss";
