<template>
  <app-layout>
    <div class="m-3">
      <b-container fluid>
        <h3 class="text-xl mt-10 mb-5 ml-3">Technician Register</h3>



          <div class="flex justify-between">
           <count-card
          header="Technicians"
          description="People or Companies that service or maintain assets"
          icon="person"
          :count="count"
          createRoute="technicians.create"
          indexRoute="technicians.index"
        />
          <div v-if="route().current('*.edit') || route().current('*.show')">
            <take-photo
              :modelId="activeData.id"
              :counts="1"
              :size="`w-72 h-72`"
            />
          </div>
        </div>

        <div class="mt-10 mb-2 flex justify-between">
          <div>
            <inertia-link
              v-if="!route().current('technicians.index')"
              :href="route('technicians.index')"
              as="button"
              class="bg-gray-800 text-white rounded-full py-1 px-4 hover:opacity-75"
            >
              <b-icon icon="arrow-left" class="mr-1"></b-icon> All
              Technicians</inertia-link
            >
            <inertia-link
              v-if="!route().current('technicians.create')"
              :href="route('technicians.create')"
              as="button"
              class="bg-brand-500 text-white rounded-full py-1 px-4 hover:opacity-75"
            >
              <b-icon icon="plus-circle" class="mr-1"></b-icon> Add
              New</inertia-link
            >
            <inertia-link
              v-if="route().current('technicians.show')"
              :href="route('technicians.edit', activeData.id)"
              as="button"
              class="bg-brand-800 text-white rounded-full py-1 px-4 hover:opacity-75"
            >
              <b-icon icon="pencil-square" class="mr-1"></b-icon>
              Edit</inertia-link
            >
            <inertia-link
              v-if="route().current('technicians.edit')"
              :href="route('technicians.show', activeData.id)"
              as="button"
              class="bg-brand-800 text-white rounded-full py-1 px-4 hover:opacity-75"
            >
              <b-icon icon="eye" class="mr-1"></b-icon>
              View</inertia-link
            >
          </div>
          <div>
            <button
              v-if="route().current('technicians.show')"
              @click="removeItem('technicians.destroy', activeData.id)"
              class="bg-gray-900 text-white rounded-full py-1 px-4 hover:opacity-75"
            >
              <b-icon icon="trash" class="mr-1"></b-icon>
              Delete
            </button>
          </div>
        </div>
        <!-- <div class="bg-white rounded-2xl p-5 mt-4 shadow-md"> -->
        <div>
          <TechnicianTable
            v-if="display === 'table'"
            :technicians="technicians"
          />
          <TechnicianForm v-if="display === 'form'" :activeData="activeData" />
          <TechnicianView v-if="display === 'view'" :activeData="activeData" />
        </div>
      </b-container></div
  ></app-layout>
</template>

<script>
import TechnicianTable from "./TechnicianTable.vue";
import TechnicianForm from "./TechnicianForm.vue";
import TechnicianView from "./TechnicianView.vue";
import { defineComponent } from "@vue/composition-api";
import AppLayout from "@/Layouts/AppLayout.vue";
import Swal from "sweetalert2";
import CountCard from "@/components/CountCard.vue";

export default defineComponent({
  props: {
    technicians: Array,
    activeData: Object,
    count: Number,
    display: {
      type: String,
      default: "table"
    }
  },
  components: {
    TechnicianTable,
    AppLayout,
    TechnicianForm,
    TechnicianView,
    CountCard
  },
  data() {
    return {
      form: this.$inertia.form({
        id: -1
      })
    };
  },
  mounted() {
    document.title = `Technicians ${this.display} | Assets Management`;
  },
  methods: {
    removeItem(routePath, id) {
      Swal.fire({
        position: "center",
        icon: "warning",
        title: "Delete Record?",
        text: "Do you want to Delete this Record?",
        showCancelButton: true,
        showConfirmButton: true,
        confirmButtonText: "Delete",
        confirmButtonColor: "#e02424",
        toast: false,
        timer: 10000
      }).then(result => {
        if (result.isConfirmed) {
          this.$inertia.delete(route(routePath, id), {
            onFinish() {
              console.log("Deleted");
            },
            onError() {
              console.log("Oops!");
            }
          });
        }
      });
    }
  }
});
</script>

<style lang="scss" scoped>
</style>
