<template>
  <div class="mb-10  w-full">
    <div class="bg-white rounded-2xl p-5 mt-4 shadow-md">
      <b-form @submit.stop.prevent="saveChanges" class=" w-full">
        <div
          class="fixed top-0 right-0 rounded-bl-xl bg-gray-700 p-4 border-b border-gray-200 w-auto z-50"
        >
          <button
            type="submit"
            :disabled="busy"
            class="rounded bg-brand-500 text-white py-1 px-3 focus:outline-none hover:bg-brand-400 mr-2"
          >
            Save Changes
          </button>
          <button
            @click="loadDefaults()"
            type="button"
            :disabled="busy"
            class="rounded bg-brand-300 text-white py-1 px-3 focus:outline-none hover:bg-brand-500"
          >
            Reset
          </button>
        </div>
        <div
          class="flex justify-between font-light text-xl font-poppins border-b mt-2 border-brand-500 border-opacity-25"
        >
          <div class="text-brand-500">{{ pageTitle }}</div>
          <div class="text-2xl font-bold" v-if="form.id > 0">
            <div>
              <span class="font-light"> Technician:</span> {{ form.name }}
            </div>
          </div>
        </div>
        <stx-view-item title="Description/Status" look="style2" />
        <div class="grid lg:grid-cols-4 gap-6">
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-name"
            label="Technician Name/Company"
            label-for="___input-name"
            :invalid-feedback="form.errors.name"
            :state="!form.errors.name"
            class="col-span-2"
          >
            <b-form-input
              id="___input-name"
              v-model="form.name"
              type="text"
              :state="!form.errors.name ? null : false"
            ></b-form-input
          ></b-form-group>
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-contact_person"
            label="Contact Person"
            label-for="___input-contact_person"
            :invalid-feedback="form.errors.contact_person"
            :state="!form.errors.contact_person"
            class="w-auto"
          >
            <b-form-input
              id="___input-contact_person"
              v-model="form.contact_person"
              type="text"
              :state="!form.errors.contact_person ? null : false"
            ></b-form-input
          ></b-form-group>
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-status"
            label="Status"
            label-for="___input-status"
            :invalid-feedback="form.errors.status"
            :state="!form.errors.status"
            class="w-full"
          >
            <b-form-select
              id="___input-status"
              :options="status"
              v-model="form.status"
              :state="!form.errors.status ? null : false"
            ></b-form-select
          ></b-form-group>
        </div>
        <stx-view-item title="Communications" look="style2" />
        <div class="grid md:grid-cols-4 gap-6">
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-email"
            label="Email"
            label-for="___input-email"
            :invalid-feedback="form.errors.email"
            :state="!form.errors.email"
            class="w-full col-span-2"
          >
            <b-form-input
              id="___input-email"
              v-model="form.email"
              type="email"
              :state="!form.errors.email ? null : false"
            ></b-form-input
          ></b-form-group>
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-mobile"
            label="Mobile"
            label-for="___input-mobile"
            :invalid-feedback="form.errors.mobile"
            :state="!form.errors.mobile"
            class="w-full"
          >
            <b-form-input
              id="___input-mobile"
              v-model="form.mobile"
              type="text"
              :state="!form.errors.mobile ? null : false"
            ></b-form-input
          ></b-form-group>

          <b-form-group
            v-if="form && form.id"
            id="assetData-group-phone"
            label="Phone"
            label-for="___input-phone"
            :invalid-feedback="form.errors.phone"
            :state="!form.errors.phone"
            class="w-full"
          >
            <b-form-input
              id="___input-phone"
              v-model="form.phone"
              type="text"
              :state="!form.errors.phone ? null : false"
            ></b-form-input
          ></b-form-group>

          <b-form-group
            v-if="form && form.id"
            id="assetData-group-zip_code"
            label="Zip/Postal Code"
            label-for="___input-zip_code"
            :invalid-feedback="form.errors.zip_code"
            :state="!form.errors.zip_code"
            class="w-full"
          >
            <b-form-input
              id="___input-zip_code"
              v-model="form.zip_code"
              type="text"
              :state="!form.errors.zip_code ? null : false"
            ></b-form-input
          ></b-form-group>
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-website"
            label="Website"
            label-for="___input-website"
            :invalid-feedback="form.errors.website"
            :state="!form.errors.website"
            class="w-full"
          >
            <b-form-input
              id="___input-website"
              v-model="form.website"
              type="text"
              :state="!form.errors.website ? null : false"
            ></b-form-input
          ></b-form-group>
        </div>
        <stx-view-item title="Contact Address" look="style2" />
        <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-address"
            label="Address"
            label-for="___textarea-address"
            :invalid-feedback="form.errors.address"
            :state="!form.errors.address"
          >
            <b-form-input
              id="___input-address"
              v-model="form.address"
              type="text"
              :state="!form.errors.address ? null : false"
            ></b-form-input
          ></b-form-group>
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-city"
            label="City"
            label-for="___input-city"
            :invalid-feedback="form.errors.city"
            :state="!form.errors.city"
            class="w-full"
          >
            <b-form-input
              id="___input-city"
              v-model="form.city"
              type="text"
              :state="!form.errors.city ? null : false"
            ></b-form-input
          ></b-form-group>

          <b-form-group
            v-if="form && form.id"
            id="assetData-group-State"
            label="State"
            label-for="___input-State"
            :invalid-feedback="form.errors.State"
            :state="!form.errors.State"
            class="w-full"
          >
            <b-form-input
              id="___input-State"
              v-model="form.State"
              type="text"
              :state="!form.errors.State ? null : false"
            ></b-form-input
          ></b-form-group>

          <b-form-group
            v-if="form && form.id"
            id="assetData-group-country"
            label="Country"
            label-for="___input-country"
            :invalid-feedback="form.errors.country"
            :state="!form.errors.country"
            class="w-full"
          >
            <b-form-input
              id="___input-country"
              v-model="form.country"
              type="text"
              :state="!form.errors.country ? null : false"
            ></b-form-input
          ></b-form-group>
        </div>

        <div class="grid grid-cols-2 gap-6">
          <div>
            <stx-view-item
              title="Services/Operations/Technical Skills"
              look="style2"
            />
            <b-form-group
              v-if="form && form.id"
              id="assetData-group-specialization"
              label="Specializations"
              label-for="___input-specialization"
              :invalid-feedback="form.errors.specialization"
              :state="!form.errors.specialization"
              class="w-full"
            >
              <b-form-textarea
                id="___input-specialization"
                v-model="form.specialization"
                rows="6"
                :state="!form.errors.specialization ? null : false"
              ></b-form-textarea
            ></b-form-group>
          </div>
          <div>
            <stx-view-item title="Remarks/Notes" look="style2" />
            <b-form-group
              v-if="form && form.id"
              id="assetData-group-notes"
              label="Notes"
              label-for="___input-notes"
              :invalid-feedback="form.errors.notes"
              :state="!form.errors.notes"
              class="w-full"
            >
              <b-form-textarea
                id="___input-notes"
                v-model="form.notes"
                rows="6"
                :state="!form.errors.notes ? null : false"
              ></b-form-textarea
            ></b-form-group>
          </div>
        </div>
      </b-form>
    </div>
  </div>
</template>

<script>
import StxViewItem from "@/components/StxViewItem";
import Swal from "sweetalert2";
import { defineComponent } from "@vue/composition-api";
import { status } from "@/store/mainStore";

export default defineComponent({
  props: {
    activeData: {
      type: Object,
      required: true
    }
  },
  components: {
    StxViewItem
  },
  data() {
    return {
      busy: false,
      form: this.$inertia.form({
        id: -1,
        name: "",
        contact_person: "",
        address: "",
        city: "Victoria Island",
        state: "Lagos",
        country: "NG",
        email: "",
        mobile: "",
        phone: "",
        // phone_2: "",
        website: "",
        postal_zip: "",
        notes: "",
        status: "Active"
      })
    };
  },
  mounted() {
    this.loadDefaults();
  },
  computed: {
    data() {
      return this.activeData;
    },
    status: () => status,
    pageTitle() {
      return this.form.id > 0
        ? "Editing Technician Record"
        : "Create New Technician Record";
    }
  },
  methods: {
    showToast(title, icon) {
      Swal.fire({
        position: "top-right",
        icon: icon,
        title: title,
        showConfirmButton: false,
        toast: true,
        timer: 2500
      });
    },
    saveChanges() {
      const response = {
        preserveScroll: true,
        errorBag: "bag",
        onStart: () => {
          console.log("Started");
          this.busy = true;
        },
        onSuccess: res => {
          console.log("RESPONSE", res);
          this.form.reset();
          this.showToast("Record has been added successfully", "success");
        },
        onError: err => {
          console.log("THERE WAS AN ERROR", err);
          this.showToast("An error occurred!", "error");
        },
        onFinish: () => {
          console.log("Finished");
          this.busy = false;
        }
      };

      console.log(JSON.stringify(this.form, null, 2));

      if (this.form.id > 0) {
        this.form.put(route("technicians.update", this.form.id), response);
      } else {
        this.form.post(route("technicians.store"), response);
      }
    },
    loadDefaults() {
      //   this.form = {
      (this.form.id = this.activeData.id || "-1"),
        (this.form.name = this.activeData.name || ""),
        (this.form.contact_person = this.activeData.contact_person || ""),
        (this.form.address = this.activeData.address || ""),
        (this.form.city = this.activeData.city || ""),
        (this.form.state = this.activeData.state || ""),
        (this.form.country = this.activeData.country || "NG"),
        (this.form.email = this.activeData.email || ""),
        (this.form.mobile = this.activeData.mobile || ""),
        (this.form.phone = this.activeData.phone || ""),
        // (this.form.phone_2 = this.activeData.phone_2 || ""),
        (this.form.website = this.activeData.website || ""),
        (this.form.postal_zip = this.activeData.postal_zip || ""),
        (this.form.notes = this.activeData.notes || ""),
        (this.form.status = this.activeData.status || "Active");

      //   };
    }
  }
});
</script>

<style lang="scss" scoped></style>
