<template>
  <div class="container_">
    <app-layout>
      <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
          Principal
        </h2>
      </template>

      <template #default>
        <div class="py-12">
          <div class="mx-auto sm:px-6 lg:px-8">
            {{ assets }}
          </div>
        </div></template
      >
    </app-layout>
  </div>
</template>

<script >
import AppLayout from "../../Layouts/AppLayout.vue";
import {
  defineComponent,
  reactive,
  toRefs,
  computed
} from "@vue/composition-api";

export default defineComponent({
  name: "principalIndex",
  components: { AppLayout },
  props: {
    assets: Array
  },
  setup() {
    const state = reactive({});

    return {
      ...toRefs(state)
    };
  }
});
</script>
<style lang="scss" scoped></style>
