<template>
  <div>
    <div>
      <div class="mb-5 max-w-4xl mx-2 md:mx-5 ">
        <StxCard>
          <client-thumb :thumbData="activeClient" title="Client"></client-thumb>
        </StxCard>
        <StxCard class="mt-4">
          <div
            class="flex flex-col md:flex-row justify-center md:justify-between  mt-4 px-1 sm:px-10"
          >
            <stx-section-header :title="title"></stx-section-header>
            <div class="flex justify-center sm:justify-end items-center  my-2">
              <stx-small-button
                path="client.index"
                label="Back to Clients List"
                bg="bg-brand-200"
                :moreclasses="['bg-brand-400']"
              ></stx-small-button>
              <stx-delete-button
                v-if="principal && principal.id"
                :id="principal.id"
                @tap="resetForm"
                path="principal.destroy"
              ></stx-delete-button>
            </div>
          </div>
          <b-container class="mx-auto pb-10 px-1 sm:px-10">
            <b-form @submit.prevent="submit">
              <stx-header>Corporate Details:</stx-header>
              <div class="flex gap-6 justify-between flex-col md:flex-row">
                <div>
                  <principal-photo
                    v-if="principal && principal.id"
                    classes="w-28 h-28 rounded"
                    :photoData="principal"
                    url="principal.upload"
                  />
                </div>
                <div
                  class="flex gap-6 justify-start md:justify-end md:items-center flex-col md:flex-row   "
                >
                  <div>
                    <input type="hidden" v-model="form.client_id" />
                    <b-form-feedback
                      :state="!form.errors.client_id ? null : false"
                      >{{ form.errors.client_id }}</b-form-feedback
                    >
                  </div>
                  <!-- <b-form-group
                    label="Company/Organization"
                    label-for="input-1"
                    :invalid-feedback="form.errors.client_id"
                    :state="!form.errors.client_id"
                  >
                    <b-form-select
                      id="principal-client_id"
                      :value="activeClient.id"
                      v-model="form.client_id"
                      :options="clients"
                      :state="!form.errors.client_id ? null : false"
                    ></b-form-select>
                  </b-form-group> -->
                  <b-form-group
                    label="Registration Date:"
                    label-for="principal-registration_date"
                    :invalid-feedback="form.errors.registration_date"
                    :state="!form.errors.registration_date"
                  >
                    <date-picker
                      v-model="form.registration_date"
                      valueType="format"
                      class="w-full"
                    ></date-picker>
                  </b-form-group>
                  <b-form-group
                    v-if="principal && principal.id"
                    id="principal-group-id_card_numer"
                    label="ID Card Number"
                    label-for="principal_input-id_card_numer"
                    :invalid-feedback="form.errors.id_card_numer"
                    :state="!form.errors.id_card_numer"
                  >
                    <b-form-input
                      id="principal_input-id_card_number"
                      v-model="form.id_card_number"
                      type="text"
                      :state="!form.errors.id_card_number ? null : false"
                    ></b-form-input
                  ></b-form-group>
                </div>
              </div>
              <stx-header>Personal Details:</stx-header>
              <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 h-">
                <b-form-group
                  id="principal-group-first_name"
                  label="First Name:"
                  label-for="principal_input-first_name"
                  :invalid-feedback="form.errors.first_name"
                  :state="!form.errors.first_name"
                >
                  <b-form-input
                    id="principal_input-first_name"
                    v-model="form.first_name"
                    type="text"
                    :state="!form.errors.first_name ? null : false"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  id="principal-group-middle_name"
                  label="Midle Name:"
                  label-for="principal_input-middle_name"
                  :invalid-feedback="form.errors.middle_name"
                  :state="!form.errors.middle_name"
                >
                  <b-form-input
                    id="principal_input-middle_name"
                    v-model="form.middle_name"
                    type="text"
                    :state="!form.errors.middle_name ? null : false"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  id="principal-group-last_name"
                  label="Last Name:"
                  label-for="principal_input-last_name"
                  :invalid-feedback="form.errors.last_name"
                  :state="!form.errors.last_name"
                >
                  <b-form-input
                    id="principal_input-last_name"
                    v-model="form.last_name"
                    type="text"
                    :state="!form.errors.last_name ? null : false"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  label="Sex/Gender"
                  id="input-group-4"
                  v-slot="{ ariaDescribedby }"
                >
                  <b-form-radio-group
                    v-model="form.sex"
                    :aria-describedby="ariaDescribedby"
                  >
                    <b-form-radio value="Male">Male</b-form-radio>
                    <b-form-radio value="Female">Female</b-form-radio>
                  </b-form-radio-group>
                </b-form-group>
                <b-form-group
                  label="Date of Birth:"
                  label-for="principal-date_of_birth"
                  :invalid-feedback="form.errors.date_of_birth"
                  :state="!form.errors.date_of_birth"
                >
                  <date-picker
                    v-model="form.date_of_birth"
                    valueType="format"
                    class="w-full"
                  ></date-picker>
                  <!-- <b-form-datepicker
                                id="principle-date_of_birth"
                                v-model="form.date_of_birth"
                                type="date"
                                placeholder="Enter date_of_birth"
                                :state="
                                    !form.errors.date_of_birth
                                        ? null
                                        : false
                                "
                                menu-class="w-100"
                                calendar-width="100%"
                            ></b-form-datepicker> -->
                </b-form-group>
              </div>
              <stx-header>Contact Details:</stx-header>
              <div class="grid md:grid-cols-3 gap-6">
                <b-form-group
                  class="col-span-2"
                  id="principal-group-email"
                  label="Email:"
                  label-for="principal_input-email"
                  :invalid-feedback="form.errors.email"
                  :state="!form.errors.email"
                >
                  <b-form-input
                    id="principal_input-email"
                    v-model="form.email"
                    type="email"
                    :state="!form.errors.email ? null : false"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  id="principal-group-telephone"
                  label="Telephone:"
                  label-for="principal_input-telephone"
                  :invalid-feedback="form.errors.telephone"
                  :state="!form.errors.telephone"
                >
                  <b-form-input
                    id="principal_input-telephone"
                    v-model="form.telephone"
                    type="text"
                    :state="!form.errors.telephone ? null : false"
                  ></b-form-input>
                </b-form-group>
              </div>
              <div class="grid md:grid-cols-2 gap-6">
                <b-form-group
                  class="col-span-2"
                  id="principal-group-address"
                  label="Address:"
                  label-for="principal_input-address"
                  :invalid-feedback="form.errors.address"
                  :state="!form.errors.address"
                >
                  <b-form-input
                    id="principal_input-address"
                    v-model="form.address"
                    type="text"
                    :state="!form.errors.address ? null : false"
                  ></b-form-input>
                </b-form-group>
              </div>
              <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
                <b-form-group
                  id="principal-group-country"
                  label="Country:"
                  label-for="principal_input-country"
                  :invalid-feedback="form.errors.country"
                  :state="!form.errors.country"
                >
                  <b-form-select
                    id="principal_input-country"
                    v-model="form.country"
                    type="text"
                    :state="!form.errors.country ? null : false"
                    :options="countriesOptions"
                  ></b-form-select>
                </b-form-group>
                <b-form-group
                  id="principal-group-state"
                  label="State:"
                  label-for="principal_input-state"
                  :invalid-feedback="form.errors.state"
                  :state="!form.errors.state"
                >
                  <b-form-select
                    v-if="stateOptions.length"
                    id="principal_input-state"
                    v-model="form.state"
                    type="text"
                    :state="!form.errors.state ? null : false"
                    :options="stateOptions"
                  ></b-form-select>
                  <b-form-input
                    v-if="!stateOptions.length"
                    id="principal_input-state2"
                    v-model="form.state"
                    type="text"
                    :state="!form.errors.state ? null : false"
                    :options="stateOptions"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  class=""
                  id="principal-group-city"
                  label="City:"
                  label-for="principal_input-city"
                  :invalid-feedback="form.errors.city"
                  :state="!form.errors.city"
                >
                  <b-form-select
                    v-if="lgaOptions.length"
                    id="principal_input-city"
                    v-model="form.city"
                    type="text"
                    :state="!form.errors.city ? null : false"
                    :options="lgaOptions"
                  ></b-form-select>
                  <b-form-input
                    v-if="!lgaOptions.length"
                    id="principal_input-city2"
                    v-model="form.city"
                    type="text"
                    :state="!form.errors.city ? null : false"
                    :options="lgaOptions"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  class=""
                  id="principal-group-zip_code"
                  label="Zip Code:"
                  label-for="principal_input-zip_code"
                  :invalid-feedback="form.errors.zip_code"
                  :state="!form.errors.zip_code"
                >
                  <b-form-input
                    id="principal_input-zip_code"
                    v-model="form.zip_code"
                    type="text"
                    :state="!form.errors.zip_code ? null : false"
                    :options="lgaOptions"
                  ></b-form-input>
                </b-form-group>
              </div>
              <stx-header>History:</stx-header>
              <div class="grid md:grid-cols-2 gap-6">
                <b-form-group
                  class=""
                  id="principal-group-medical_condition"
                  label="Existing Medical Condition:"
                  label-for="principal_input-medical_condition"
                  :invalid-feedback="form.errors.medical_condition"
                  :state="!form.errors.medical_condition"
                >
                  <b-form-textarea
                    id="principal_input-medical_condition"
                    v-model="form.medical_condition"
                    :state="!form.errors.medical_condition ? null : false"
                    rows="6"
                  ></b-form-textarea>
                </b-form-group>

                <b-form-group
                  id="principal-group-about"
                  label="About/Description:"
                  label-for="principal_input-about"
                  :invalid-feedback="form.errors.about"
                  :about="!form.errors.about"
                >
                  <b-form-textarea
                    id="principal_input-about"
                    v-model="form.about"
                    :state="!form.errors.about ? null : false"
                    rows="6"
                  ></b-form-textarea>
                </b-form-group>
              </div>

              <b-button
                type="submit"
                variant="primary"
                :disabled="form.processing"
                ><b-spinner small v-if="form.processing"></b-spinner>
                Submit</b-button
              >
              <b-button
                type="reset"
                @click="form.reset()"
                variant="danger"
                class="text-white"
                >Reset</b-button
              >
            </b-form>
          </b-container>
        </StxCard>
      </div>

      <!-- <b-card class="mt-3" header="Form Data Result">
                <pre class="m-0">{{ form }}</pre>
            </b-card> -->
    </div>
  </div>
</template>
<script >
import {
  defineComponent,
  reactive,
  toRefs,
  computed
} from "@vue/composition-api";
import moment from "moment";
import StxHeader from "@/components/StxHeader.vue";
import StxLabel from "@/components/StxLabel.vue";
import ErrorMessage from "@/components/ErrorMessage.vue";
import { countries } from "countries-list";
import NaijaStates from "naija-state-local-government";
import Swal from "sweetalert2";
import StxSectionHeader from "@/components/StxSectionHeader.vue";
import StxDeleteButton from "@/components/StxDeleteButton.vue";
import StxSmallButton from "@/components/StxSmallButton.vue";
import PrincipalPhoto from "./PrincipalPhoto.vue";
import _ from "lodash";
import ClientThumb from "../Client/ClientThumb.vue";

export default defineComponent({
  name: "principalform",
  metaInfo: { title: "Enrollee Management System | Principals" },
  components: {
    StxLabel,
    StxHeader,
    ErrorMessage,
    StxSectionHeader,
    StxDeleteButton,
    StxSmallButton,
    PrincipalPhoto,
    ClientThumb
  },
  props: {
    errors: {
      type: Object
    },
    activeClient: Object,
    clients: Array,
    principal: {
      type: Object
    }
  },
  data() {
    return {
      size: 0,
      title: "Register New Principal",
      // @ts-ignore
      form: this.$inertia.form({
        registration_date: moment([]).format("YYYY-MM-DD"),
        first_name: "",
        middle_name: "",
        last_name: "",
        id_card_number: "",
        sex: "Male",
        date_of_birth: "",
        email: "",
        telephone: "",
        address: "",
        zip_code: "",
        city: "Port-Harcourt",
        state: "Rivers",
        country: "NG",
        client_id: "",
        medical_condition: "",
        about: "",
        photo: ""
      }),
      show: true
    };
  },
  mounted() {
    // @ts-ignore
    console.log(route().current());
    this.loadDefaultValues();
  },
  computed: {
    countriesOptions() {
      const countriesOptions = [];
      _.forOwn(countries, (value, key) => {
        countriesOptions.push({ value: key, text: value.name });
      });
      return countriesOptions;
    },
    lgaOptions() {
      if (NaijaStates.states().includes(this.form.state)) {
        const lgas = NaijaStates.lgas(this.form.state).lgas;
        if (lgas.includes(this.form.city) === false) this.form.city = "";
        return this.form.state ? lgas : [];
      }
      return [];
    },
    stateOptions() {
      if (this.form.country !== "NG") {
        this.form.state = "";
        this.form.city = "";
      }
      return this.form.country == "NG" ? NaijaStates.states() : [];
    }
  },
  methods: {
    resetForm(value) {
      this.loadDefaultValues();
      console.log("reseting form...", value);
    },
    showToast(title, icon) {
      Swal.fire({
        position: "top-right",
        icon: icon,
        title: title,
        showConfirmButton: false,
        toast: true,
        timer: 2500
      });
    },
    loadDefaultValues() {
      if (this.principal) {
        console.log("Editing");
        this.title = "Edit Enrolee Record";
        this.form.client_id = this.principal.client_id;
        this.form.registration_date = this.principal.registration_date;
        this.form.first_name = this.principal.first_name;
        this.form.middle_name = this.principal.middle_name;
        this.form.last_name = this.principal.last_name;
        this.form.id_card_number = this.principal.id_card_number;
        this.form.sex = this.principal.sex;
        this.form.date_of_birth = this.principal.date_of_birth;
        this.form.email = this.principal.email;
        this.form.telephone = this.principal.telephone;
        this.form.address = this.principal.address;
        this.form.zip_code = this.principal.zip_code;
        this.form.city = this.principal.city;
        this.form.state = this.principal.state;
        this.form.country = this.principal.country;
        this.form.medical_condition = this.principal.medical_condition;
        this.form.about = this.principal.about;
        this.form.photo = this.principal.photo;
      } else {
        this.form.client_id = this.activeClient?.id;
        this.title = "Create New Enrolee Record";
        console.log("Creating");
      }
    },
    submit() {
      const stxInertia = this.$inertia;
      const stxRoute = this.route;
      // console.log ({...this.principal, _token: document.head.querySelector('meta[name="csrf-token"]').getAttribute('content')})
      this.size = 0;

      if (!this.principal) {
        this.form.post("/principal", {
          preserveScroll: true,
          errorBag: "PrincipalBag",
          onStart: () => {
            console.log("Started");
          },
          onSuccess: res => {
            console.log("MY RESPONSE", res);
            this.form.reset();
            this.showToast("Record has been saved", "success");
          },
          onError: err => {
            console.log("THERE WAS AN ERROR", err);
            this.showToast("There was an error", "error");
          },
          onFinish: fin => {
            console.log("ALL DONE");
          }
        });
      } else {
        console.log(this.form);
        this.form.put(stxRoute("principal.update", this.principal.id), {
          preserveScroll: true,
          errorBag: "PrincipalBag",
          onStart: () => {
            console.log("Started");
            this.form.clearErrors();
          },
          onSuccess: res => {
            console.log("MY RESPONSE", res);
            // this.form.reset();
            this.showToast("Record has been saved", "success");
          },
          onError: err => {
            console.log("THERE WAS AN ERROR", err);
            this.showToast("There was an error", "error");
          },
          onFinish: fin => {
            console.log("ALL DONE");
          }
        });
      }
    }
  },
  watch: {
    // "$page.flash": {
    //   handler() {
    //     this.show = true;
    //     console.log("FLASHER", this.$page);
    //   },
    //   deep: true
    // },
    // errors: {
    //   immediate: true,
    //   deep: true,
    //   handler(val) {
    //     console.log("WATCHER", val);
    //   }
    // }
  }
  //   setup(props) {
  //     const state = reactive({

  //     });

  //     function submit(){

  //     }

  //     return {
  //       ...toRefs(state),
  //       submit
  //     };
  //   }
});
</script>
<style lang="scss" scoped></style>
