<template>
  <div>
    <div class="flex justify-between items-center">
      <stx-section-header
        title="List of Enrolees"
        class="m-4"
      ></stx-section-header>
      <div class="flex items-center">
        <span class="m-4 font-bold">Total: {{ itemsLength }}</span>
        <!-- <stx-add-new-button path="client.principal.create"></stx-add-new-button> -->

        <inertia-link
          :href="route('client.principal.create', clientId)"
          class="focus:outline-none bg-brand-100 hover:bg-brand-800 text-white py-2 px-3 shadow rounded-lg"
          as="button"
          v-if="clientId"
        >
          <i class="bi bi-plus-circle self-center p-0 mr-2 ml-1"></i> Add New
          Principal Enrollee</inertia-link
        >
      </div>
    </div>

    <b-input-group class="mb-2">
      <template #prepend>
        <b-input-group-text>
          <b-icon icon="search"></b-icon>
        </b-input-group-text>
      </template>
      <b-form-input
        type="search"
        v-model="filter"
        placeholder="Search/Filter"
        size="lg"
      ></b-form-input>
    </b-input-group>
    <b-table
      :items="principalsList"
      :fields="fields"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      responsive="xl"
      primary-key="id"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      striped
      bordered
      class="text-sm"
    >
      <template #cell(action)="data">
        <stx-edit-button
          :id="data.item.id"
          class="m-1"
          path="principal.edit"
        ></stx-edit-button>
        <stx-delete-button
          :id="data.item.id"
          class="m-1"
          path="principal.destroy"
        ></stx-delete-button>
      </template>
      <template #cell(last_name)="data">
        <div class="text-center flex flex-col justify-center">
          <inertia-link :href="route('principal.show', data.item.id)" as="a">
            <div class="text-base text-center font-bold">
              {{ data.item.last_name }}
            </div>
          </inertia-link>
          <stx-small-button
            path="principal.show"
            label="View"
            :id="data.item.id"
            icon="eye-fill"
            class="self-center mt-1"
            bg="bg-brand-100"
            :moreclasses="['bg-brand-100']"
          ></stx-small-button>
        </div>
      </template>
      <template #cell(first_name)="data">
        <inertia-link :href="route('principal.show', data.item.id)" as="a">
          <div class="font-semibold">{{ data.item.first_name }}</div>
          <div>{{ data.item.middle_name }}</div></inertia-link
        >
      </template>
      <template #cell(contact)="data">
        <div class="font-semibold">{{ data.item.email }}</div>
        <div>{{ data.item.telephone }}</div>
      </template>
      <template #cell(location)="data">
        <div class="font-semibold">{{ data.item.address }}</div>
        <div>{{ data.item.city }}</div>
      </template>
      <template #cell(state)="data">
        <div class="font-semibold">{{ data.item.state }},</div>
        <div>{{ data.item.country }}</div>
      </template>
      <template #cell(client_id)="data">
        <!-- @TODO ADD THE ID FOR THE RELATED COMPANY -->
        <inertia-link
          :href="route('client.show', data.item.client.id)"
          v-if="data.item.client"
        >
          <div class="font-semibold">{{ data.item.client.name }}</div>
          <div class="font-semibold">
            {{ data.item.client.telephone }}
          </div></inertia-link
        >
        <inertia-link
          :href="route('client.show', clientData.id)"
          v-else-if="clientData.id"
        >
          <div class="font-semibold">{{ clientData.name }}</div>
          <div class="font-semibold">
            {{ clientData.telephone }}
          </div></inertia-link
        >
      </template>
      <template #cell(photo)="data">
        <principal-photo
          :photoData="data.item"
          url="principal.upload"
          @finished="uploadFinished"
          :classes="'w-15 h-15 rounded-full'"
        />
        <!-- <div>
                    <b-img-lazy
                        v-if="data.item.photo"
                        :src="data.item.photo"
                        class="w-15 h-auto rounded-full"
                    ></b-img-lazy>
                </div> -->
      </template>
    </b-table>
    <b-pagination
      v-model="currentPage"
      :total-rows="itemsLength"
      :per-page="perPage"
      aria-controls="my-table"
      align="right"
    ></b-pagination>

    <!-- <div>
            Sorting By: <b>{{ sortBy }}</b
            >, Sort Direction:
            <b>{{ sortDesc ? "Descending" : "Ascending" }}</b>
        </div> -->
  </div>
</template>

<script >
import StxEditButton from "@/components/StxEditButton.vue";
import StxDeleteButton from "@/components/StxDeleteButton.vue";
import StxSectionHeader from "@/components/StxSectionHeader.vue";
import StxAddNewButton from "@/components/StxAddNewButton.vue";
import PrincipalPhoto from "./PrincipalPhoto.vue";
import StxSmallButton from "@/components/StxSmallButton.vue";
import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  name: "PrincipalTable",
  components: {
    StxEditButton,
    StxDeleteButton,
    StxSectionHeader,
    StxAddNewButton,
    PrincipalPhoto,
    StxSmallButton
  },
  props: {
    principals: {
      type: Array
    },
    clientId: Number,
    clientData: Object
  },
  data() {
    return {
      principalsUpdated: [],
      filter: "",
      currentPage: 1,
      perPage: 2,
      sortBy: "last_name",
      sortDesc: false,
      fields: [
        { key: "action", sortable: false },
        { key: "photo", sortable: false },
        { key: "last_name", sortable: true },
        // { key: "middle_name", sortable: true },
        { key: "first_name", sortable: true },
        { key: "contact", label: "Contact", sortable: true },
        { key: "location", label: "Location", sortable: true },
        //   { key: 'email', sortable: true },
        //   { key: 'telephone', sortable: true },
        //   { key: 'address', sortable: true },
        //   { key: 'zip_code', sortable: true },
        //   { key: 'city', sortable: true },
        { key: "state", label: "State/Country", sortable: true },
        // { key: "country", sortable: true },
        { key: "client_id", label: "Company/Organization", sortable: true }
      ]
    };
  },
  computed: {
    principalsList() {
      return this.principals;
      // return (this.principalsUpdated.length)? this.principalsUpdated: this.principals;
    },
    itemsLength() {
      return this.principalsList ? this.principalsList.length : 0;
    }
  },
  methods: {
    uploadFinished(e) {
      this.principalsUpdated = e.props.principals;
      console.log("UPLOAD FINISHED", e.props.principals);
    }
  }
});
</script>
<style lang="scss" scoped></style>
