<template>
  <div>
    <div class="flex justify-end">
      <div>
        <b-nav>
          <b-nav-item disabled>DEPENDANTS: </b-nav-item>
          <b-nav-item
            class="mb-1 font-bold"
            @click="
              current = 'principal';
              dependantItem = {};
            "
          >
            <span
              class="text-xs"
              :class="{
                'text-white bg-brand-400 rounded-full py-1 px-3 font-medium':
                  current == 'principal'
              }"
              >PRINCIPAL</span
            >
          </b-nav-item>
          <!-- <b-nav-item
            class="mb-1 font-bold"
            @click="
              current = 'principal';
              dependantItem = principalTyped;
            "
          >
            <span
              class="text-xs"
              :class="{
                'text-white bg-brand-400 rounded-full py-1 px-3 font-medium':
                  current == 'principal'
              }"
              >PRINCIPAL</span
            >
          </b-nav-item> -->
          <b-nav-item
            class="mb-1 font-bold"
            v-for="spouse in principalTyped.spouse"
            :key="spouse.id"
            @click="
              current = `spouse_${spouse.id}`;
              dependantItem = spouse;
            "
          >
            <span
              class="text-xs"
              :class="{
                'text-white bg-brand-400 rounded-full py-1 px-3 font-medium':
                  current == `spouse_${spouse.id}`
              }"
              >SPOUSE</span
            >
          </b-nav-item>
          <b-nav-item
            class="mb-1 font-bold"
            v-for="(child, index) in principalTyped.children"
            :key="child.id"
            @click="
              current = `child_${child.id}`;
              dependantItem = child;
            "
          >
            <span
              class="text-xs"
              :class="{
                'text-white bg-brand-400 rounded-full py-1 px-3 font-medium':
                  current == `child_${child.id}`
              }"
              >CHILD {{ index + 1 }}</span
            >
          </b-nav-item>
        </b-nav>
      </div>
    </div>
    <div
      class="bg-white shadow-sm sm:rounded-lg font-poppins flex flex-col md:flex-row justify-between py-3 px-3"
    >
      <!-- ID CARD BAR -->
      <div class="font-bold whitespace-nowrap mb-1 my-2">
        {{ principalTyped.id_card_number }}
      </div>
      <div class="mx-10"></div>
      <div>
        <div class="flex flex-col md:flex-row  my-1">
          <stx-edit-button
            :id="principalTyped.id"
            class="ml-1 my-1"
            path="principal.edit"
          ></stx-edit-button>
          <stx-small-button
            class="ml-1 my-1"
            path="principal.dependant.create"
            :id="principalTyped.id"
            icon="person-fill"
            label="Add Dependant"
            bg="bg-brand-100"
          ></stx-small-button>
          <stx-small-button
            class="ml-1 my-1"
            path="principal.index"
            label="View List"
            bg="bg-brand-100"
          ></stx-small-button>
        </div>
      </div>
    </div>
    <StxCard class="mt-4" v-if="dependantItem && (dependantItem.id || null)">
      <div>
        <dependant-simple-view
          :items="dependantItem"
          :principal="principalTyped"
        ></dependant-simple-view>
      </div>
    </StxCard>
    <div class="flex gap-8 flex-col md:flex-row ">
      <div>
        <div
          class="bg-white w-full md:w-auto md:max-w-sm lg:min-w-min-content shadow-sm sm:rounded-lg font-poppins mt-4"
        >
          <principal-photo
            v-if="principalTyped && principalTyped.id"
            classes="rounded w-full h-auto"
            :photoData="principalTyped"
            url="principal.upload"
          />
          <div class="mt-2 mx-3">
            <stx-section-header
              :title="principalTyped.last_name + ', '"
              :subtitle="
                principalTyped.first_name +
                  ' ' +
                  (principalTyped.middle_name || '')
              "
            ></stx-section-header>

            <barcode
              :idNumber="principalTyped.id_card_number"
              class="w-auto"
            ></barcode>

            <id-card
              :personaldata="principalTyped"
              enrolleetype="principal"
            ></id-card>

            <stx-view-item> ... </stx-view-item>
          </div>
        </div>
        <!-- <pre>{{ principal }}</pre> -->
      </div>
      <div class="w-full">
        <!-- SPLIT SECTIONS -->
        <div class="grid grid-col-1  lg:grid-cols-2 xl:grid-cols-3 mt-4 gap-6">
          <div>
            <StxCard class="mb-4">
              <bar-chart
                :realChartData="realChartData"
                class="w-auto max-h-32 max-w-sm"
              ></bar-chart>
            </StxCard>
            <div class="bg-white shadow-sm sm:rounded-lg p-3">
              <stx-view-item title="First Name:">{{
                principalTyped.first_name
              }}</stx-view-item>
              <stx-view-item title="Middle Name:">{{
                principalTyped.middle_name
              }}</stx-view-item>
              <stx-view-item title="Last Name:">{{
                principalTyped.last_name
              }}</stx-view-item>
              <stx-view-item title="Sex/Gender:">{{
                principalTyped.sex
              }}</stx-view-item>
              <stx-view-item title="Telephone:">{{
                principalTyped.telephone
              }}</stx-view-item>
              <stx-view-item title="Email:">{{
                principalTyped.email
              }}</stx-view-item>
              <stx-view-item title="Address:">{{
                principalTyped.address
              }}</stx-view-item>
              <stx-view-item title="City:">{{
                principalTyped.city
              }}</stx-view-item>
              <stx-view-item title="Zip Code:">{{
                principalTyped.zip_code
              }}</stx-view-item>
              <stx-view-item title="State:">{{
                principalTyped.state
              }}</stx-view-item>
              <stx-view-item title="Country:">{{
                principalTyped.country
              }}</stx-view-item>
            </div>
          </div>
          <div>
            <div class="bg-white shadow-sm sm:rounded-lg font-poppins p-3">
              <stx-view-item title="Occupation:">{{
                principalTyped.occupation
              }}</stx-view-item>
              <stx-view-item title="Company/Organization:">{{
                principalTyped.client_id
              }}</stx-view-item>
            </div>
            <StxCard class="mt-4">
              <DependantThumb
                v-for="spouse in principalTyped.spouse"
                :key="spouse.id"
                :thumbData="spouse"
                title="Spouse"
              />
            </StxCard>
            <StxCard
              class="mt-4"
              v-for="children in principalTyped.children"
              :key="children.id"
            >
              <DependantThumb :thumbData="children" title="Child" />
            </StxCard>
            <!-- <div class="grid md:grid-col-1 mt-4 gap-6"></div> -->
          </div>
          <div class="md:col-span-2 xl:col-span-1">
            <StxCard>
              <stx-view-item title="Medical Condition:">{{
                principalTyped.medical_condition
              }}</stx-view-item>
            </StxCard>
            <StxCard class="mt-4">
              <stx-view-item title="About/Description:">{{
                principalTyped.about
              }}</stx-view-item>
            </StxCard>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Barcode from "@/components/Barcode.vue";
import IdCard from "@/components/IdCard.vue";

import { defineComponent } from "@vue/composition-api";
import BarChart from "@/charts/BarChart.vue";
import StxEditButton from "../../components/StxEditButton.vue";
import StxSectionHeader from "../../components/StxSectionHeader.vue";
import StxSmallButton from "../../components/StxSmallButton.vue";
import StxViewItem from "../../components/StxViewItem.vue";
import DependantThumb from "../Dependant/DependantThumb.vue";
import PrincipalPhoto from "./PrincipalPhoto.vue";
import DependantSimpleView from "../Dependant/DependantSimpleView.vue";
export default defineComponent({
  components: {
    PrincipalPhoto,
    StxSectionHeader,
    StxViewItem,
    StxEditButton,
    StxSmallButton,
    Barcode,
    IdCard,
    DependantThumb,
    BarChart,
    DependantSimpleView
  },
  props: {
    principal: Object
  },
  data() {
    return {
      current: "principal",
      dependantItem: {}
    };
  },
  computed: {
    principalTyped() {
      return this.principal;
    },
    realChartData() {
      const spouseCount = this.principalTyped.spouse.length || 0;
      const childrenCount = this.principalTyped.children.length || 0;

      const data = {
        labels: ["Spouse", "Children"],
        datasets: [
          {
            label: "DEPENDANTS",
            backgroundColor: ["#f87979", "rgb(255,0,50)"],
            data: [spouseCount, childrenCount]
          },
          {
            label: "Plan Days",
            backgroundColor: "#a8f3ee",
            data: [35, 40]
          }
        ]
      };
      return data;
    }
  }
});
</script>

<style lang="scss" scoped></style>
