<template>
  <app-layout>
    <div class="mx-3">
      <b-container fluid>
        <h3 class="text-xl mt-10 mb-3 ml-3">{{$page.props.title}}</h3>

<div class="flex justify-between flex-wrap">
        <count-card
        v-if="!route().current('*.show')"
          :header="$page.props.header.plural"
          :description="$page.props.description"
          :icon="$page.props.icon"
          :count="$page.props.count"
          :createRoute="$page.props.createRoute"
          :indexRoute="$page.props.indexRoute"
        />
        <!-- <div v-if="data && (route().current($page.props.showRoute) || route().current($page.props.editRoute))">
            <take-photo :modelId="data.id" :counts="4" :size="`w-48 h-48`" />
        </div> -->
</div>


        <!-- <div class="bg-white rounded-2xl p-5 mt-4 shadow-md"> -->
        <div>
          <AssetTable v-if="display === 'table'" :records="records" />
          <AssetForm v-if="display === 'form'" :activeData="activeData" />
          <AssetView v-if="display === 'view'" :activeData="activeData" />
        </div>
      </b-container></div
  ></app-layout>
</template>

<script>
import AssetTable from "./AssetTable.vue";
import AssetForm from "./AssetForm.vue";
import AssetView from "./AssetView.vue";
import { defineComponent } from "@vue/composition-api";
import AppLayout from "@/Layouts/AppLayout.vue";
import Swal from "sweetalert2";
import CountCard from "@/components/CountCard.vue";
import TakePhoto from "@/components/TakePhoto.vue";

export default defineComponent({
  props: {
    records: Array,
    activeData: Object,
    count: Number,
    display: {
      type: String,
      default: "table"
    }
  },
  components: {
    AssetTable,
    AppLayout,
    AssetForm,
    AssetView,
    CountCard,
    TakePhoto
  },
  data() {
    return {
      form: this.$inertia.form({
        id: -1
      })
    };
  },
  mounted() {
    document.title = `Assets ${this.display} | Assets Management`;
  },
  methods: {
    removeItem(routePath, id) {
      Swal.fire({
        position: "center",
        icon: "warning",
        title: "Delete Record?",
        text: "Do you want to Delete this Record?",
        showCancelButton: true,
        showConfirmButton: true,
        confirmButtonText: "Delete",
        confirmButtonColor: "#e02424",
        toast: false,
        timer: 10000
      }).then(result => {
        if (result.isConfirmed) {
          this.$inertia.delete(route(routePath, id), {
            onFinish() {
              console.log("Deleted");
            },
            onError() {
              console.log("Oops!");
            }
          });
        }
      });
    }
  },
  computed: {
      data() {
          return this.activeData
      }
  },
});
</script>

<style lang="scss" scoped>
</style>
