<template>
  <div>
    <div class="bg-white font-poppins">
      <div
        class="px-0 py-0  text-white rounded-t-xl flex items-center justify-between"
      >
        <!-- <div class="my-2 text-xl font-light">
          Locations
        </div> -->
        <inertia-link
          :href="route('locations.create')"
          as="button"
          class="border-2 border-gray-400 text-brand-800 cursor-pointer pt-1 px-2 rounded-full text-xs my-2 mx-2 hover:opacity-75"
          >ADD NEW</inertia-link
        >
        <span
          @click="showLocationForm = !showLocationForm"
          class="border-2 border-gray-400 text-brand-800 cursor-pointer pt-1 px-2 rounded-full text-xs my-2 ml-0 hover:opacity-75"
          >ASSIGN VENDOR</span
        >
      </div>
      <div class="p-2" v-if="showLocationForm">
        <b-form @submit.stop.prevent="saveChanges" class=" w-full">
          <b-form-group
            v-if="locations_all"
            id="assetData-group-location_id"
            label=""
            label-for="___input-location_id"
          >
            <b-form-select
              id="___input-location_id"
              v-model="location_id"
              :options="locations_all"
              text-field="name"
              value-field="id"
              :select-size="4"
            ></b-form-select
          ></b-form-group>
          <div v-if="location_selected">
            <div class="mt-1 font-semibold">
              Location: {{ location_selected.name }}
            </div>
            <div class="mb-2 text-xs">
              Address: {{ location_selected.address }}
            </div>
          </div>
          <div class="flex justify-between flex-wrap" v-if="location_id">
            <b-button
              pill
              variants="secondary"
              size="sm"
              v-b-modal.locationModal
            >
              <b-icon icon="eye" scale="0.8" class="mr-1"></b-icon>
              View</b-button
            >
            <inertia-link
              as="button"
              :href="
                route('assets.location', {
                  asset: assetId,
                  location: location_id
                })
              "
              class="ml-2 whitespace-nowrap bg-brand-200 text-white py-1 px-3 rounded-full"
            >
              <b-icon icon="person-plus" class="mr-1"></b-icon>
              Assign</inertia-link
            >
          </div>
        </b-form>
      </div>

      <div class="p-2 rounded-b-2xl">
        <div
          class="mt-2 pt-0 border-t border-brand-200 flex justify-between flex-wrap"
          v-for="item in locations"
          :key="item.id"
          @click="location_id = item.id"
        >
          <div class="text-sm py-1" v-b-modal.locationModal>
            <div class="font-bold">{{ item.name }}</div>
            <div class="font-normal text-xs">{{ item.contact_person }}</div>
          </div>
          <div class="py-1">
            <inertia-link
              :href="
                route('assets.location', {
                  asset: assetId,
                  location: item.id,
                  action: 'remove'
                })
              "
              class="text-xs"
              >Remove</inertia-link
            >
          </div>
        </div>
      </div>
      <!-- {{ locations }} -->
    </div>
    <b-modal id="locationModal" size="xl">
      <location-view
        :activeData="location_selected"
        v-if="location_selected"
    /></b-modal>
  </div>
</template>

<script>
import LocationView from "../Location/LocationView.vue";
export default {
  components: { LocationView },
  props: {
    locations: {
      type: Array
    },
    assetId: Number
  },
  data() {
    return {
      showLocationForm: false,
      modal: false,
      location: {},
      location_id: null
    };
  },
  mounted() {
    console.log(this.location_one);
  },
  computed: {
    locations_all() {
      return this.$page.props.locations;
    },
    location_one(){
        return this.locations;
    },
    location_selected() {
      if (this.locations_all) {
        return (this.location = this.locations_all.find(
          item => item.id == this.location_id
        ));
      }
      return;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
