<template>
  <div class="mb-10  w-full">
    <b-form @submit.stop.prevent="saveChanges" class=" w-full">
      <div
        class="fixed top-0 right-0 rounded-bl-xl bg-gray-700 p-4 border-b border-gray-200 w-auto z-50"
      >
        <button
          type="submit"
          :disabled="busy"
          class="rounded bg-brand-500 text-white py-1 px-3 focus:outline-none hover:bg-brand-400 mr-2"
        >
          Save Changes
        </button>
        <button
          @click="loadDefaults()"
          type="button"
          :disabled="busy"
          class="rounded bg-brand-300 text-white py-1 px-3 focus:outline-none hover:bg-brand-500"
        >
          Reset
        </button>
      </div>

      <!-- <div class="bg-brand-500 rounded-md p-4 mt-2 shadow-lg">
        <div
          class="flex justify-between font-light text-xl font-poppins border-b mt-2 border-gray-200 border-opacity-25"
        >


        </div>
      </div> -->
      <div class="module-header" v-html="pageTitle"></div>

      <module-links />

      <div class="bg-white rounded-xl p-4 mt-2 shadow-sm">
        <stx-view-item title="Description/Status" look="style3" />
        <div class="grid lg:grid-cols-4 gap-2">
          <div class="col-span-2">
            <b-form-group
              v-if="form && form.id"
              id="assetData-group-name"
              label="Item"
              label-for="___input-name"
              :invalid-feedback="form.errors.name"
              :state="!form.errors.name"
              class="col-span-2"
            >
              <b-form-input
                id="___input-name"
                v-model="form.name"
                type="text"
                :state="!form.errors.name ? null : false"
              ></b-form-input
            ></b-form-group>
            <b-form-group
              v-if="form && form.id"
              id="assetData-group-code"
              label="Technical Code Name"
              label-for="___input-code"
              :invalid-feedback="form.errors.code"
              :state="!form.errors.code"
              class="w-auto"
            >
              <b-form-input
                id="___input-code"
                v-model="form.code"
                type="text"
                :state="!form.errors.code ? null : false"
              ></b-form-input
            ></b-form-group>

            <b-form-group
              v-if="form && form.id"
              id="assetData-group-tag_number"
              label="Tag Number"
              label-for="___input-tag_number"
              :invalid-feedback="form.errors.tag_number"
              :state="!form.errors.tag_number"
            >
              <b-form-input
                id="___input-tag_number"
                v-model="form.tag_number"
                type="text"
                :state="!form.errors.tag_number ? null : false"
              ></b-form-input
            ></b-form-group>
            <b-form-group
              v-if="form && form.id"
              id="assetData-group-barcode_number"
              label="Barcode"
              label-for="___input-barcode_number"
              :invalid-feedback="form.errors.barcode_number"
              :state="!form.errors.barcode_number"
              class="w-full"
            >
              <b-form-input
                id="___input-barcode_number"
                v-model="form.barcode_number"
                type="text"
                :state="!form.errors.barcode_number ? null : false"
              ></b-form-input
            ></b-form-group>
          </div>

          <div class="w-full col-span-2">
            <b-form-group
              v-if="form && form.id"
              id="assetData-group-description"
              label="Description"
              label-for="___input-description"
              :invalid-feedback="form.errors.description"
              :state="!form.errors.description"
            >
              <b-form-textarea
                id="___input-description"
                v-model="form.description"
                rows="6"
                :state="!form.errors.description ? null : false"
              ></b-form-textarea
            ></b-form-group>

            <b-form-group
              v-if="form && form.id"
              id="assetData-group-status"
              label="Status"
              label-for="___input-status"
              :invalid-feedback="form.errors.status"
              :state="!form.errors.status"
              class="w-full"
            >
              <b-form-select
                id="___input-status"
                :options="status"
                v-model="form.status"
                :state="!form.errors.status ? null : false"
              ></b-form-select
            ></b-form-group>
          </div>
        </div>
      </div>

      <div class="bg-white rounded-xl p-4 mt-2 shadow-sm">
        <stx-view-item title="Measurements" look="style3" />
        <div class="grid md:grid-cols-1 xl:grid-cols-4 gap-2">
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-dimension"
            label="Dimension"
            label-for="___input-dimension"
            :invalid-feedback="form.errors.dimension"
            :state="!form.errors.dimension"
            class="xl:col-span-2"
          >
            <b-form-input
              id="___input-dimension"
              v-model="form.dimension"
              type="text"
              :state="!form.errors.dimension ? null : false"
            ></b-form-input
          ></b-form-group>

          <b-form-group
            v-if="form && form.id"
            id="assetData-group-weight"
            label="Weight"
            label-for="___input-weight"
            :invalid-feedback="form.errors.weight"
            :state="!form.errors.weight"
            class="w-full"
          >
            <b-form-input
              id="___input-weight"
              v-model="form.weight"
              type="text"
              :state="!form.errors.weight ? null : false"
            ></b-form-input
          ></b-form-group>
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-category"
            label="Category"
            label-for="___input-category"
            :invalid-feedback="form.errors.category"
            :state="!form.errors.category"
          >
            <b-form-select
              id="___input-category"
              v-model="form.category"
              type="text"
              :state="!form.errors.category ? null : false"
            ></b-form-select
          ></b-form-group>
        </div>
      </div>

      <div class="bg-white rounded-xl p-4 mt-2 shadow-sm">
        <stx-view-item title="Product Info" look="style3" />
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2"
        >
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-manufacturer"
            label="Manufacturer"
            label-for="___input-manufacturer"
            :invalid-feedback="form.errors.manufacturer"
            :state="!form.errors.manufacturer"
            class="w-full"
          >
            <b-form-input
              id="___input-manufacturer"
              v-model="form.manufacturer"
              type="text"
              :state="!form.errors.manufacturer ? null : false"
            ></b-form-input
          ></b-form-group>

          <b-form-group
            v-if="form && form.id"
            id="assetData-group-manufactured_at"
            label="ManufacturedDate"
            label-for="___input-manufactured_at"
            :invalid-feedback="form.errors.manufactured_at"
            :state="!form.errors.manufactured_at"
            class="w-full"
          >
            <date-picker
              v-model="form.manufactured_at"
              valueType="format"
              class="w-full"
              :class="{
                'border-2 rounded border-red-500': !!form.errors.manufactured_at
              }"
            ></date-picker>
          </b-form-group>

          <b-form-group
            v-if="form && form.id"
            id="assetData-group-model_name"
            label="Model Name"
            label-for="___textarea-model_name"
            :invalid-feedback="form.errors.model_name"
            :state="!form.errors.model_name"
          >
            <b-form-input
              id="___input-model_name"
              v-model="form.model_name"
              type="text"
              :state="!form.errors.model_name ? null : false"
            ></b-form-input
          ></b-form-group>
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-model_no"
            label="Model No"
            label-for="___input-model_no"
            :invalid-feedback="form.errors.model_no"
            :state="!form.errors.model_no"
            class="w-full"
          >
            <b-form-input
              id="___input-model_no"
              v-model="form.model_no"
              type="text"
              :state="!form.errors.model_no ? null : false"
            ></b-form-input
          ></b-form-group>

          <b-form-group
            v-if="form && form.id"
            id="assetData-group-serial_no"
            label="Serial No."
            label-for="___input-serial_no"
            :invalid-feedback="form.errors.serial_no"
            :state="!form.errors.serial_no"
            class="w-full"
          >
            <b-form-input
              id="___input-serial_no"
              v-model="form.serial_no"
              type="text"
              :state="!form.errors.serial_no ? null : false"
            ></b-form-input
          ></b-form-group>

          <b-form-group
            v-if="form && form.id"
            id="assetData-group-country"
            label="Country"
            label-for="___input-country"
            :invalid-feedback="form.errors.country"
            :state="!form.errors.country"
            class="w-full"
          >
            <b-form-input
              id="___input-country"
              v-model="form.country"
              type="text"
              :state="!form.errors.country ? null : false"
            ></b-form-input
          ></b-form-group>
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-year_of_construction"
            label="Year of Construction"
            label-for="___input-year_of_construction"
            :invalid-feedback="form.errors.year_of_construction"
            :state="!form.errors.year_of_construction"
            class="w-full"
          >
            <b-form-input
              id="___input-year_of_construction"
              v-model="form.year_of_construction"
              type="text"
              :state="!form.errors.year_of_construction ? null : false"
            ></b-form-input
          ></b-form-group>
        </div>
      </div>

      <div class="bg-white rounded-xl p-4 mt-2 shadow-sm">
        <stx-view-item title="Finance and Purchase Info" look="style3" />
        <div class="grid lg:grid-cols-2 xl:grid-cols-3 gap-12">
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-purchase_amount"
            label="Purchase Amount"
            label-for="___input-purchase_amount"
            :invalid-feedback="form.errors.purchase_amount"
            :state="!form.errors.purchase_amount"
          >
            <b-form-input
              id="___input-purchase_amount"
              v-model="form.purchase_amount"
              type="number"
              :state="!form.errors.purchase_amount ? null : false"
            ></b-form-input
          ></b-form-group>
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-purchase_currency"
            label="Purchase Currency"
            label-for="___input-purchase_currency"
            :invalid-feedback="form.errors.purchase_currency"
            :state="!form.errors.purchase_currency"
          >
            <b-form-select
              id="___input-purchase_currency"
              v-model="form.purchase_currency"
              :options="currencies"
              :state="!form.errors.purchase_currency ? null : false"
            ></b-form-select
          ></b-form-group>
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-purchased_at"
            label="Purchased Date"
            label-for="___input-purchased_at"
            :invalid-feedback="form.errors.purchased_at"
            :state="!form.errors.purchased_at"
            class="w-full"
          >
            <date-picker
              v-model="form.purchased_at"
              valueType="format"
              class="w-full"
              :class="{
                'border-2 rounded border-red-500': !!form.errors.purchased_at
              }"
            ></date-picker>
          </b-form-group>
        </div>
      </div>

      <div class="bg-white rounded-xl p-4 mt-2 shadow-sm" v-show="!is_asset">
        <stx-view-item title="Unit & Stock Info" look="style3" />
        <div class="grid lg:grid-cols-2 xl:grid-cols-3 gap-12">
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-standard_stock"
            label="Standard Stock"
            label-for="___input-standard_stock"
            :invalid-feedback="form.errors.standard_stock"
            :state="!form.errors.standard_stock"
          >
            <b-form-input
              id="___input-standard_stock"
              v-model="form.standard_stock"
              type="number"
              :state="!form.errors.standard_stock ? null : false"
            ></b-form-input
          ></b-form-group>
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-current_stock"
            label="Current Stock"
            label-for="___input-current_stock"
            :invalid-feedback="form.errors.current_stock"
            :state="!form.errors.current_stock"
          >
            <b-form-input
              id="___input-current_stock"
              v-model="form.current_stock"
              type="number"
              :state="!form.errors.current_stock ? null : false"
            ></b-form-input
          ></b-form-group>
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-unit"
            label="Main Measuring Unit"
            label-for="___input-unit"
            :invalid-feedback="form.errors.unit"
            :state="!form.errors.unit"
          >
            <b-form-input
              id="___input-unit"
              v-model="form.unit"
              type="text"
              :state="!form.errors.unit ? null : false"
            ></b-form-input
          ></b-form-group>
          <b-form-group
            v-if="form && form.id"
            id="assetData-group-sub_unit"
            label="Measuring Sub Unit"
            label-for="___input-sub_unit"
            :invalid-feedback="form.errors.sub_unit"
            :state="!form.errors.sub_unit"
          >
            <b-form-input
              id="___input-sub_unit"
              v-model="form.sub_unit"
              type="text"
              max="20"
              :state="!form.errors.sub_unit ? null : false"
            ></b-form-input
          ></b-form-group>

          <b-form-group
            v-if="form && form.id"
            id="assetData-group-sub_items_quantity"
            label="Quantity of Subitems in Main Unit"
            label-for="___input-sub_items_quantity"
            :invalid-feedback="form.errors.sub_items_quantity"
            :state="!form.errors.sub_items_quantity"
          >
            <b-form-input
              id="___input-sub_items_quantity"
              v-model="form.sub_items_quantity"
              type="number"
              :state="!form.errors.sub_items_quantity ? null : false"
            ></b-form-input
          ></b-form-group>
        </div>
      </div>

      <div class="grid xl:grid-cols-2 gap-2">
        <div class="bg-white rounded-xl p-4 mt-2 shadow-sm">
          <div>
            <stx-view-item
              title="Warranty and Service"
              look="style3"
              v-show="is_asset"
            />
            <stx-view-item
              title="Expiration"
              look="style3"
              v-show="!is_asset"
            />

            <div class="grid md:grid-cols-1 xl:grid-cols-2 gap-2">
              <b-form-group
                v-if="form && form.id"
                v-show="!is_asset"
                id="assetData-group-expire_at"
                label="Expires At"
                label-for="___input-expire_at"
                :invalid-feedback="form.errors.expire_at"
                :state="!form.errors.expire_at"
                class="w-full"
              >
                <date-picker
                  v-model="form.expire_at"
                  valueType="format"
                  class="w-full"
                  :class="{
                    'border-2 rounded border-red-500': !!form.errors.expire_at
                  }"
                ></date-picker>
              </b-form-group>
              <b-form-group
                v-if="form && form.id"
                v-show="is_asset"
                id="assetData-group-warranty_start"
                label="Warranty Starts"
                label-for="___input-warranty_start"
                :invalid-feedback="form.errors.warranty_start"
                :state="!form.errors.warranty_start"
                class="w-full"
              >
                <date-picker
                  v-model="form.warranty_start"
                  valueType="format"
                  class="w-full"
                  :class="{
                    'border-2 rounded border-red-500': !!form.errors
                      .warranty_start
                  }"
                ></date-picker>
              </b-form-group>
              <b-form-group
                v-if="form && form.id"
                v-show="is_asset"
                id="assetData-group-warranty_end"
                label="Warranty Ends"
                label-for="___input-warranty_end"
                :invalid-feedback="form.errors.warranty_end"
                :state="!form.errors.warranty_end"
                class="w-full"
              >
                <date-picker
                  v-model="form.warranty_end"
                  valueType="format"
                  class="w-full"
                  :class="{
                    'border-2 rounded border-red-500': !!form.errors
                      .warranty_end
                  }"
                ></date-picker>
              </b-form-group>
              <b-form-group
                v-if="form && form.id"
                v-show="is_asset"
                id="assetData-group-service_due_at"
                label="Service Due At"
                label-for="___input-service_due_at"
                :invalid-feedback="form.errors.service_due_at"
                :state="!form.errors.service_due_at"
                class="w-full"
              >
                <date-picker
                  v-model="form.service_due_at"
                  valueType="format"
                  class="w-full"
                  :class="{
                    'border-2 rounded border-red-500': !!form.errors
                      .service_due_at
                  }"
                ></date-picker>
              </b-form-group>
            </div>
          </div>
        </div>
        <div>
          <div class="bg-white rounded-xl p-4 mt-2 shadow-sm">
            <stx-view-item title="Remarks/Notes/Warnings" look="style3" />
            <b-form-group
              v-if="form && form.id"
              id="assetData-group-note"
              label="Notes"
              label-for="___input-note"
              :invalid-feedback="form.errors.note"
              :state="!form.errors.note"
              class="w-full"
            >
              <b-form-textarea
                id="___input-note"
                v-model="form.note"
                rows="6"
                :state="!form.errors.note ? null : false"
              ></b-form-textarea
            ></b-form-group>
          </div>
        </div>
      </div>
    </b-form>
  </div>
</template>

<script>
import StxViewItem from "@/components/StxViewItem";
import Swal from "sweetalert2";
import { defineComponent } from "@vue/composition-api";
import { status } from "@/store/mainStore";
// import StxEditButton from "@/components/StxEditButton.vue";
// import StxSmallButton from "@/components/StxSmallButton.vue";
// import StxAddNewButton from "@/components/StxAddNewButton.vue";

export default defineComponent({
  props: {
    activeData: {
      type: Object,
      required: true
    }
  },
  components: {
    StxViewItem
  },
  data() {
    return {
      busy: false,
      form: this.$inertia.form({
        id: -1,
        name: "",
        description: "",
        code: "",
        tag_number: "",
        barcode_number: "",
        dimension: "",
        weight: "",
        standard_stock: 0,
        current_stock: 0,
        unit: "Box",
        sub_unit: "Bottle",
        sub_items_quantity: 0,
        manufacturer: "",
        country: "NG",
        model_name: "",
        model_no: "",
        serial_no: "",
        manufactured_at: "",
        year_of_construction: "",
        expire_at: "",
        warranty_start: "",
        warranty_end: "",
        service_due_at: "",
        purchased_at: "",
        purchase_amount: 0,
        purchase_currency: "NGN",
        category: "",
        status: "",
        note: "",
        is_asset: this.$page.props.is_asset,
        status: "Available"
      }),
      currencies: ["NGN", "USD", "EUR", "GBP", "JPY", "CHF"]
    };
  },
  mounted() {
    this.loadDefaults();
  },
  computed: {
    data() {
      return this.activeData;
    },
    status: () => status,
    pageTitle() {
      return parseInt(this.form.id) > 0
        ? `Edit: <span class="font-bold">${this.form.name}</span>`
        : `Add New Record`;
    },
    is_asset() {
      return this.$page.props.is_asset === 1;
    }
  },
  methods: {
    showToast(title, icon) {
      Swal.fire({
        position: "top-right",
        icon: icon,
        title: title,
        showConfirmButton: false,
        toast: true,
        timer: 2500
      });
    },
    saveChanges() {
      const response = {
        preserveScroll: true,
        errorBag: "bag",
        onStart: () => {
          console.log("Started");
          this.busy = true;
        },
        onSuccess: res => {
          console.log("RESPONSE", res);
          this.form.reset();
          this.showToast("Record has been added successfully", "success");
        },
        onError: err => {
          console.log("THERE WAS AN ERROR", err);
          this.showToast("An error occurred!", "error");
        },
        onFinish: () => {
          console.log("Finished");
          this.busy = false;
        }
      };

      if (this.form.id > 0) {
        this.form.put(
          route(this.$page.props.updateRoute, this.form.id),
          response
        );
      } else {
        console.log(JSON.stringify(this.$page.props.storeRoute, null, 2));
        this.form.post(route(this.$page.props.storeRoute), response);
      }
    },
    loadDefaults() {
      if (this.activeData.id > 0) {
        this.form.id = this.activeData.id || -1;
        this.form.name = this.activeData.name;
        this.form.description = this.activeData.description;
        this.form.code = this.activeData.code;
        this.form.tag_number = this.activeData.tag_number;
        this.form.barcode_number = this.activeData.barcode_number;
        this.form.dimension = this.activeData.dimension;
        this.form.weight = this.activeData.weight;
        this.form.standard_stock = this.activeData.standard_stock || 0;
        this.form.current_stock = this.activeData.current_stock || 0;
        this.form.unit = this.activeData.unit;
        this.form.sub_unit = this.activeData.sub_unit;
        this.form.sub_items_quantity = this.activeData.sub_items_quantity;
        this.form.manufacturer = this.activeData.manufacturer;
        this.form.country = this.activeData.country || "NG";
        this.form.model_name = this.activeData.model_name;
        this.form.model_no = this.activeData.model_no;
        this.form.serial_no = this.activeData.serial_no;
        this.form.manufactured_at = this.activeData.manufactured_at;
        this.form.year_of_construction = this.activeData.year_of_construction;
        this.form.expire_at = this.activeData.expire_at;
        this.form.warranty_start = this.activeData.warranty_start;
        this.form.warranty_end = this.activeData.warranty_end;
        this.form.service_due_at = this.activeData.service_due_at;
        this.form.purchased_at = this.activeData.purchased_at;
        this.form.purchase_amount = this.activeData.purchase_amount || 0;
        this.form.purchase_currency =
          this.activeData.purchase_currency || "NGN";
        this.form.category = this.activeData.category;
        this.form.status = this.activeData.status || "Active";
        this.form.note = this.activeData.note;
        this.form.is_asset = this.$page.props.is_asset;
        this.form.status = this.activeData.status;
      }
    }
  }
});
</script>

<style lang="scss" scoped></style>
