<template>
  <div>
    <div class="bg-white font-poppins">
      <div
        class="px-0 py-0  text-white rounded-t-xl flex items-center justify-between"
      >
        <!-- <div class="my-2 text-xl font-light">
          Technicians
        </div> -->
        <inertia-link
          :href="route('technicians.create')"
          as="button"
          class="border-2 border-gray-400 text-brand-800 cursor-pointer pt-1 px-2 rounded-full text-xs my-2 mx-2 hover:opacity-75"
          >ADD NEW</inertia-link
        >
        <span
          @click="showTechnicianForm = !showTechnicianForm"
          class="border-2 border-gray-400 text-brand-800 cursor-pointer pt-1 px-2 rounded-full text-xs my-2 ml-0 hover:opacity-75"
          >ASSIGN VENDOR</span
        >
      </div>
      <div class="p-2" v-if="showTechnicianForm">
        <b-form @submit.stop.prevent="saveChanges" class=" w-full">
          <b-form-group
            v-if="technicians_all"
            id="assetData-group-technician_id"
            label=""
            label-for="___input-technician_id"
          >
            <b-form-select
              id="___input-technician_id"
              v-model="technician_id"
              :options="technicians_all"
              text-field="name"
              value-field="id"
              :select-size="4"
            ></b-form-select
          ></b-form-group>
          <div v-if="technician_selected">
            <div class="mt-1 font-semibold">
              Technician: {{ technician_selected.name }}
            </div>
            <div class="mb-2 text-xs">
              Address: {{ technician_selected.address }}
            </div>
          </div>
          <div class="flex justify-between flex-wrap" v-if="technician_id">
            <b-button
              pill
              variants="secondary"
              size="sm"
              v-b-modal.technicianModal
            >
              <b-icon icon="eye" scale="0.8" class="mr-1"></b-icon>
              View</b-button
            >
            <inertia-link
              as="button"
              :href="
                route('assets.technician', {
                  asset: assetId,
                  technician: technician_id
                })
              "
              class="ml-2 whitespace-nowrap bg-brand-200 text-white py-1 px-3 rounded-full"
            >
              <b-icon icon="person-plus" class="mr-1"></b-icon>
              Assign</inertia-link
            >
          </div>
        </b-form>
      </div>

      <div class="p-2 rounded-b-2xl">
        <div
          class="mt-2 pt-0 border-t border-brand-200 flex justify-between flex-wrap"
          v-for="item in technicians"
          :key="item.id"
          @click="technician_id = item.id"
        >
          <div class="text-sm py-1" v-b-modal.technicianModal>
            <div class="font-bold">{{ item.name }}</div>
            <div class="font-normal text-xs">{{ item.contact_person }}</div>
          </div>
          <div class="py-1">
            <inertia-link
              :href="
                route('assets.technician', {
                  asset: assetId,
                  technician: item.id,
                  action: 'remove'
                })
              "
              class="text-xs"
              >Remove</inertia-link
            >
          </div>
        </div>
      </div>
      <!-- {{ technicians }} -->
    </div>
    <b-modal id="technicianModal" size="xl">
      <technician-view
        :activeData="technician_selected"
        v-if="technician_selected"
    /></b-modal>
  </div>
</template>

<script>
import TechnicianView from "../Technician/TechnicianView.vue";
export default {
  components: { TechnicianView },
  props: {
    technicians: {
      type: Array
    },
    assetId: Number
  },
  data() {
    return {
      showTechnicianForm: false,
      modal: false,
      technician: {},
      technician_id: null
    };
  },
  mounted() {
    console.log(this.technician_one);
  },
  computed: {
    technicians_all() {
      return this.$page.props.technicians;
    },
    technician_one(){
        return this.technicians;
    },
    technician_selected() {
      if (this.technicians_all) {
        return (this.technician = this.technicians_all.find(
          item => item.id == this.technician_id
        ));
      }
      return;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
