<template>
  <div class="bg-white rounded-2xl p-3 mt-2 shadow-md">
    <!-- <div>{{ tableData.links }}</div> -->
    <!-- <div>{{ tableData.data }}</div> -->

    <div class="flex justify-between items-center flex-wrap">
      <div class="form-group">
        <label for=""></label>
        <b-input-group
          size="md"
          prepend="Filter"
        >
          <input
            type="text"
            class="form-control"
            v-model="filter"
            aria-describedby="helpId"
            placeholder=""
            prepend="search"
          />
        </b-input-group>
        <small id="helpId" class="form-text text-muted">Filter Records</small>
      </div>
      <b-pagination
        v-model="currentPage"
        :total-rows="tableData.length || 0"
        :per-page="per_page"
        aria-controls="my-table"
        align="right"
      ></b-pagination>
    </div>

    <!-- :per-page="tableData.per_page" -->
          <module-links />

    <div class="bg-white p-1">
      <b-table
        stacked="md"
        :items="tableData"
        :fields="$page.props.fields"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        responsive="xl"
        primary-key="id"
        :current-page="currentPage"
        :per-page="per_page"
        :filter="filter"
        striped
        bordered
        selectMode="single"
        class="text-sm"
      >
        <template #cell(action)="data">
          <div class="whitespace-nowrap">
            <!-- <b-button
              v-b-modal.stxviewmodal
              pill
              variant="secondary"
              size="sm"
              @click="
                mode = 'view';
                activeData = data.item;
              "
              class="mr-2"
            >
              <b-icon icon="eye" class="mr-1"></b-icon> Preview</b-button
            > -->
            <inertia-link
              :href="route($page.props.showRoute, data.item.id)"
              as="button"
              class="mr-2 bg-gray-900 text-white py-1 px-3 rounded-full"
            >
              <b-icon icon="box-arrow-up-right" class="mr-1"></b-icon>
              Open</inertia-link
            >
            <inertia-link
              :href="route($page.props.editRoute, data.item.id)"
              as="button"
              class="mr-2 bg-brand-500 text-white py-1 px-3 rounded-full"
            >
              <b-icon icon="pencil-square" class="mr-1"></b-icon>
              Edit</inertia-link
            >
            <!-- <b-button
              v-b-modal.stxviewmodal
              pill
              variant="primary"
              size="sm"
              @click="
                mode = 'edit';
                activeData = data.item;
              "
              ><b-icon icon="pencil-square" class="mr-1"></b-icon>
              Edit</b-button
            > -->
          </div>
          <!-- <button :id="data.item.id" class="m-1" path="asset.edit">Edit</button> -->
        </template>
      </b-table>
      <b-pagination
        v-model="currentPage"
        :total-rows="tableData.length || 0"
        :per-page="per_page"
        aria-controls="my-table"
        align="right"
      ></b-pagination>
    </div>
    <div>
      <!-- Modal Starts -->
      <b-modal
        id="stxviewmodal"
        :title="mode.toUpperCase()"
        size="xl"
        ok-only
        ok-title="Close"
        no-close-on-backdrop
      >
        <asset-form v-if="mode == 'edit'" :activeData="activeData" />
        <asset-view v-if="mode == 'view'" :activeData="activeData" />
      </b-modal>
      <!-- Modal Ends -->
    </div>
    <!-- <div class="m-2">
      <inertia-link
        v-for="(item, index) in tableData.links"
        :key="index"
        v-html="item.label"
        class="py-2 px-3 bg-red-200 rounded mr-1 text-xs no-underline text-black hover:no-underline hover:bg-red-100"
        :class="{ 'bg-red-600 text-white': item.active }"
        :href="item.url"
      >
      </inertia-link>    </div> -->
  </div>
</template>

<script>
import { defineComponent } from "@vue/composition-api";
import StxViewItem from "@/components/StxViewItem";
import AssetView from "./AssetView";
import AssetForm from "./AssetForm.vue";

export default defineComponent({
  props: {
    records: Array
  },
  components: {
    StxViewItem,
    AssetView,
    AssetForm
  },
  data() {
    return {
      mode: "edit",
      activeData: {},
      filter: "",
      sortBy: "updated_at",
      sortDesc: true,
      currentPage: 1,
      per_page: 20,
    //   fields: [
    //     { key: "action", sortable: false },
    //     { key: "id", sortable: true },
    //     { key: "name", label: "Asset Name", sortable: true },
    //     { key: "code", sortable: true },
    //     { key: "tag_number", label: "City", sortable: true },
    //     { key: "model_name", sortable: true },
    //     { key: "model_no", sortable: true },
    //     { key: "serial_no", sortable: true },
    //     // { key: "warranty_start", sortable: true },
    //     { key: "warranty_end", sortable: true },
    //     { key: "service_due_at", sortable: true },
    //     { key: "status", sortable: true }
    //   ]
    };
  },
  computed: {
    tableData() {
    //   console.log(JSON.stringify(this.records, null, 2));
      return this.records;
    }
  }
});
</script>

<style lang="scss" scoped>
</style>
