<template>
  <div>
    <div
      v-if="$page.props.id > 0"
      class="mt-10 mb-2 flex-col md:flex-row flex flex-wrap md:justify-between justify-items-stretch"
    >
      <div class="flex flex-wrap flex-col md:flex-row">
        <inertia-link
          v-if="!route().current($page.props.indexRoute)"
          :href="route($page.props.indexRoute)"
          as="button"
          class="bg-yellow-300 text-black rounded-full py-1 px-4 hover:opacity-75 mr-1 mt-1"
        >
          <b-icon icon="arrow-left" class="mr-1"></b-icon> All
          Assets</inertia-link
        >
        <inertia-link
          v-if="!route().current($page.props.createRoute)"
          :href="route($page.props.createRoute)"
          as="button"
          class="bg-brand-500 text-white rounded-full py-1 px-4 hover:opacity-75 mr-1 mt-1"
        >
          <b-icon icon="plus-circle" class="mr-1"></b-icon> Add
          New</inertia-link
        >
        <inertia-link
          v-if="route().current($page.props.showRoute)"
          :href="route($page.props.editRoute, $page.props.id)"
          as="button"
          class="bg-brand-800 text-white rounded-full py-1 px-4 hover:opacity-75 mr-1 mt-1"
        >
          <b-icon icon="pencil-square" class="mr-1"></b-icon>
          Edit</inertia-link
        >
        <inertia-link
          v-if="route().current($page.props.editRoute)"
          :href="route($page.props.showRoute, $page.props.id)"
          as="button"
          class="bg-brand-800 text-white rounded-full py-1 px-4 hover:opacity-75 mr-1 mt-1"
        >
          <b-icon icon="eye" class="mr-1"></b-icon>
          View</inertia-link
        >
      </div>
      <div>
        <button
          v-if="route().current($page.props.showRoute)"
          @click="removeItem($page.props.destroyRoute, $page.props.id)"
          class="bg-gray-900 text-white rounded-full self-stretch w-full py-1 px-4 hover:opacity-75 mr-1 mt-1"
        >
          <b-icon icon="trash" class="mr-1"></b-icon>
          Delete
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      default: -1
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
