<template>
  <div>
    <div class="bg-white font-poppins">
      <div
        class="px-0 py-0  text-white rounded-t-xl flex items-center justify-between"
      >
        <!-- <div class="my-2 text-xl font-light">
          Vendors
        </div> -->
        <inertia-link
          :href="route('vendors.create')"
          as="button"
          class="border-2 border-gray-400 text-brand-800 cursor-pointer pt-1 px-2 rounded-full text-xs my-2 mx-2 hover:opacity-75"
          >ADD NEW</inertia-link
        >
        <span
          @click="showVendorForm = !showVendorForm"
          class="border-2 border-gray-400 text-brand-800 cursor-pointer pt-1 px-2 rounded-full text-xs my-2 ml-0 hover:opacity-75"
          >ASSIGN VENDOR</span
        >
      </div>
      <div class="p-2" v-if="showVendorForm">
        <b-form @submit.stop.prevent="saveChanges" class=" w-full">
          <b-form-group
            v-if="vendors_all"
            id="assetData-group-vendor_id"
            label=""
            label-for="___input-vendor_id"
          >
            <b-form-select
              id="___input-vendor_id"
              v-model="vendor_id"
              :options="vendors_all"
              text-field="name"
              value-field="id"
              :select-size="4"
            ></b-form-select
          ></b-form-group>
          <div v-if="vendor_selected">
            <div class="mt-1 font-semibold">
              Vendor: {{ vendor_selected.name }}
            </div>
            <div class="mb-2 text-xs">
              Address: {{ vendor_selected.address }}
            </div>
          </div>
          <div class="flex justify-between flex-wrap" v-if="vendor_id">
            <b-button
              pill
              variants="secondary"
              size="sm"
              v-b-modal.vendorModal
            >
              <b-icon icon="eye" scale="0.8" class="mr-1"></b-icon>
              View</b-button
            >
            <inertia-link
              as="button"
              :href="
                route('assets.vendor', {
                  asset: assetId,
                  vendor: vendor_id
                })
              "
              class="ml-2 whitespace-nowrap bg-brand-200 text-white py-1 px-3 rounded-full"
            >
              <b-icon icon="person-plus" class="mr-1"></b-icon>
              Assign</inertia-link
            >
          </div>
        </b-form>
      </div>

      <div class="p-2 rounded-b-2xl">
        <div
          class="mt-2 pt-0 border-t border-brand-200 flex justify-between flex-wrap"
          v-for="item in vendors"
          :key="item.id"
          @click="vendor_id = item.id"
        >
          <div class="text-sm py-1" v-b-modal.vendorModal>
            <div class="font-bold">{{ item.name }}</div>
            <div class="font-normal text-xs">{{ item.contact_person }}</div>
          </div>
          <div class="py-1">
            <inertia-link
              :href="
                route('assets.vendor', {
                  asset: assetId,
                  vendor: item.id,
                  action: 'remove'
                })
              "
              class="text-xs"
              >Remove</inertia-link
            >
          </div>
        </div>
      </div>
      <!-- {{ vendors }} -->
    </div>
    <b-modal id="vendorModal" size="xl">
      <vendor-view
        :activeData="vendor_selected"
        v-if="vendor_selected"
    /></b-modal>
  </div>
</template>

<script>
import VendorView from "../Vendor/VendorView.vue";
export default {
  components: { VendorView },
  props: {
    vendors: {
      type: Array
    },
    assetId: Number
  },
  data() {
    return {
      showVendorForm: false,
      modal: false,
      vendor: {},
      vendor_id: null
    };
  },
  mounted() {
    console.log(this.vendor_one);
  },
  computed: {
    vendors_all() {
      return this.$page.props.vendors;
    },
    vendor_one(){
        return this.vendors;
    },
    vendor_selected() {
      if (this.vendors_all) {
        return (this.vendor = this.vendors_all.find(
          item => item.id == this.vendor_id
        ));
      }
      return;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
