<template>
  <div
    class=" flex gap-y-4 xl:gap-x-2 flex-col xl:flex-row justify-items-stretch"
  >
    <div class="xl:w-8/12 order-2 xl:order-1 self-stretch w-full">
      <module-links /> {{ $moment() }}
      <div class="bg-white rounded-xl p-4 mt-2 shadow-sm">
        <stx-view-item title="Description/Status" look="style3" />
        <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-6">
          <stx-view-item title="Name">{{ data.name }}</stx-view-item>
          <!-- <stx-view-item title="Code">{{ data.code }}</stx-view-item>
          <stx-view-item title="Tag Number">{{
            data.tag_number
          }}</stx-view-item>
          <stx-view-item title="Barcode Number">{{
            data.barcode_number
          }}</stx-view-item> -->

          <stx-view-item title="Description">{{
            data.description
          }}</stx-view-item>
          <stx-view-item title="Status">{{ data.status }}</stx-view-item>
        </div>
      </div>
      <div class="bg-white rounded-xl p-4 mt-2 shadow-sm">
        <div>
          <div v-show="is_asset">
            <stx-view-item title="Warranty and Service" look="style3" />

            <div class="grid md:grid-cols-2 xl:grid-cols-2 gap-6">
              <stx-view-item title="Manufactured Date">{{
                data.manufactured_at
              }}</stx-view-item>

              <!-- <stx-view-item title="Service Due At">{{
                data.service_due_at
              }}</stx-view-item> -->

              <check-expiration-date
                title="Service Due At"
                :dateToCheck="data.service_due_at"
                :dateDiff="2"
                validMessage="Not due for Servicing"
                warningMessage="Item is due for servicing."
                expiredMessage="Service Date has been exceeded"
              />

              <stx-view-item title="Warranty Start">{{
                data.warranty_start
              }}</stx-view-item>
              <check-expiration-date
                title="Warranty Ends"
                :dateToCheck="data.warranty_end"
                :dateDiff="2"
                expiredMessage="Warranty Expired"
              />
              <!-- <stx-view-item title="Warranty End">



                <span :class="[test_warranty_end.light.text]">{{
                  data.warranty_end
                }}</span>

                <div
                  class="rounded-md p-2 my-1 text-xs font-normal"
                  :class="[
                    test_warranty_end.dark.bg,
                    test_warranty_end.dark.text
                  ]"
                >
                  {{ test_warranty_end.message }}
                </div>
              </stx-view-item> -->
            </div>
          </div>
          <div
            v-show="!is_asset"
            class="grid md:grid-cols-2 xl:grid-cols-3 gap-6"
          >
            <stx-view-item title="Expiration" look="style3" />
            <stx-view-item title="Manufactured Date">{{
              data.manufactured_at
            }}</stx-view-item>
              <check-expiration-date
                title="Expire At"
                :dateToCheck="data.expire_at"
                :dateDiff="2"
                validMessage="Safe/Not Expired"
                warningMessage="Item is nearing expiration in "
                expiredMessage="Item has expired"
              />
            <!-- <stx-view-item title="Expire At">{{
              data.expire_at
            }}</stx-view-item> -->
          </div>
        </div>
      </div>
      <div class="bg-white rounded-xl p-4 mt-2 shadow-sm">
        <stx-view-item title="Measurements" look="style3" />
        <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-6">
          <stx-view-item title="Dimensions">{{
            data.dimensions
          }}</stx-view-item>
          <stx-view-item title="Weight">{{ data.weight }}</stx-view-item>
          <stx-view-item title="Category">{{ data.category }}</stx-view-item>
        </div>
      </div>

      <div class="bg-white rounded-xl p-4 mt-2 shadow-sm">
        <stx-view-item title="Product Info" look="style3" />
        <div
          class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 xl:grid-cols-4 gap-6"
        >
          <stx-view-item title="Manufacturer">{{
            data.manufacturer
          }}</stx-view-item>

          <stx-view-item title="Model Name">{{
            data.model_name
          }}</stx-view-item>
          <stx-view-item title="Model Number">{{
            data.model_no
          }}</stx-view-item>

          <stx-view-item title="Serial Number">{{
            data.serial_no
          }}</stx-view-item>

          <stx-view-item title="Country">{{ data.country }}</stx-view-item>
          <stx-view-item title="Year of Construction">{{
            data.year_of_construction
          }}</stx-view-item>
        </div>
      </div>

      <div class="bg-white rounded-xl p-4 mt-2 shadow-sm">
        <stx-view-item title="Finance and Purchase Info" look="style3" />
        <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-12">
          <stx-view-item title="Purchase Amount">{{
            data.purchase_amount
          }}</stx-view-item>
          <stx-view-item title="Purchase Currency">{{
            data.purchase_currency
          }}</stx-view-item>
          <stx-view-item title="Purchased At">{{
            data.purchased_at
          }}</stx-view-item>
        </div>
      </div>

      <div v-show="!is_asset" class="bg-white rounded-xl p-4 mt-2 shadow-sm">
        <stx-view-item title="Unit & Stock Info" look="style3" />
        <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-12">
          <stx-view-item title="Standard Stock">{{
            data.standard_stock
          }}</stx-view-item>
          <stx-view-item title="Current Stock">{{
            data.current_stock
          }}</stx-view-item>
          <stx-view-item title="Unit">{{ data.unit }}</stx-view-item>
          <stx-view-item title="Sub Unit">{{ data.sub_unit }}</stx-view-item>
          <stx-view-item title="sub Items Quantity">{{
            data.sub_items_quantity
          }}</stx-view-item>
        </div>
      </div>

      <div class="grid xl:grid-cols-1 gap-6">
        <div>
          <div class="bg-white rounded-xl p-4 mt-2 shadow-sm">
            <stx-view-item title="Remarks/Notes/Warnings" look="style3" />
            <stx-view-item title="Note">{{ data.note }}</stx-view-item>
          </div>
        </div>
      </div>
    </div>

    <div class="order-1 xl:order-2 self-stretch w-full xl:w-4/12">
      <!-- sidebar -->
      <count-card
        :header="$page.props.header.plural"
        :description="$page.props.description"
        :icon="$page.props.icon"
        :count="$page.props.count"
        :createRoute="$page.props.createRoute"
        :indexRoute="$page.props.indexRoute"
      />
      <div class="bg-white rounded-xl p-4 mt-2 shadow-sm max-w-xl">
        <div class="text-center">
          <!-- Asset:
          <inertia-link
            v-if="!route().current('assets.show')"
            :href="route('assets.show', data.id)"
          >
            {{ data.name }}
            <b-icon icon="box-arrow-up-right" class="ml-2"></b-icon>
          </inertia-link> -->
          <span class="text-gray-600 font-bold">
            {{ $page.props.header.singular }}: {{ data.name }}
            <!-- <b-icon icon="cart" class="ml-2"></b-icon> -->
          </span>
        </div>
        <barcode :idNumber="tagNumber" />
      </div>
      <div
        class="mt-3 bg-white shadow-md rounded-2xl p-2"
        v-if="
          data &&
            (route().current($page.props.showRoute) ||
              route().current($page.props.editRoute))
        "
      >
        <take-photo :modelId="activeData.id" :counts="4" :size="`w-32 h-32`" />
      </div>

      <div class="mt-4">
        <b-card no-body>
          <b-tabs card v-model="tabIndex">
            <b-tab title="Locations" active>
              <b-card-text>
                <AssetLocation
                  :locations="activeData.locations"
                  :assetId="activeData.id"
                  class="mt-3"
              /></b-card-text>
            </b-tab>
            <b-tab title="Vendors">
              <b-card-text>
                <AssetVendor
                  :vendors="activeData.vendors"
                  :assetId="activeData.id"
                />
              </b-card-text>
            </b-tab>
            <b-tab title="Technicians">
              <b-card-text>
                <AssetTechnician
                  :technicians="activeData.technicians"
                  :assetId="activeData.id"
              /></b-card-text>
            </b-tab>
          </b-tabs>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import StxViewItem from "@/components/StxViewItem";
import AssetVendor from "./AssetVendor";
import AssetTechnician from "./AssetTechnician";
import AssetLocation from "./AssetLocation";
import Swal from "sweetalert2";
import { defineComponent } from "@vue/composition-api";
import Barcode from "@/components/Barcode.vue";
import CheckExpirationDate from "@/components/CheckExpirationDate.vue";

export default defineComponent({
  props: {
    activeData: {
      type: Object,
      required: true
    }
  },
  components: {
    StxViewItem,
    AssetVendor,
    AssetTechnician,
    AssetLocation,
    Barcode,
    CheckExpirationDate
  },
  data() {
    return {
      busy: false,
      tabIndex: parseInt(this.route().params.tab),
      form: this.$inertia.form({
        // id: -1,
        // name: "",
        // short_name: "",
        // address: "",
        // city: "Victoria Island",
        // state: "Lagos",
        // country: "NG",
        // email: "",
        // mobile: "",
        // phone_1: "",
        // phone_2: "",
        // fax: "",
        // postal_zip: "",
        // category: "",
        // is_operating: 1
      })
    };
  },
  mounted() {
    console.log(
      "MOMENT",
      this.$moment().isBetween(this.test_warranty_end, this.data.warranty_end)
    );
    this.loadDefaults();
    console.log(parseInt(this.route().params.tab));
    this.tabIndex = parseInt(this.route().params.tab);
  },
  computed: {
    data() {
      return this.activeData;
    },
    tab() {
      this.tabIndex = parseInt(this.route().params.tab);
      return this.route().params;
    },
    tagNumber() {
      return `ADN-${this.$page.props.header.singular
        .substr(0, 2)
        .toUpperCase()}-${this.data.id}`;
    },
    is_asset() {
      return this.$page.props.activeData.is_asset === 1;
    },
    get_warranty_check_date() {
      return this.$moment(this.data.warranty_end, "YYYY-MM-DD")
        .subtract(2, "months")
        .format("YYYY-MM-DD");
    },
    test_warranty_end() {
      let notice = {
        message: "Warranty Valid",
        light: {
          text: "text-gray-500",
          bg: "bg-white"
        },
        dark: {
          text: "text-white",
          bg: "bg-gray-500"
        }
      };
      if (
        this.$moment().isBetween(
          this.get_warranty_check_date,
          this.data.warranty_end
        )
      ) {
        notice = {
          message: "Warranty Expires in less than 2 months",
          light: {
            text: "text-yellow-500",
            bg: "bg-white"
          },
          dark: {
            text: "text-white",
            bg: "bg-yellow-500"
          }
        };
      }
      if (this.$moment().isAfter(this.data.warranty_end)) {
        notice = {
          message: "Warranty has expired. Item is no longer covered.",
          light: {
            text: "text-red-500",
            bg: "bg-white"
          },
          dark: {
            text: "text-white",
            bg: "bg-red-500"
          }
        };
      }
      return notice;
    }
  },
  methods: {
    showToast(title, icon) {
      Swal.fire({
        position: "top-right",
        icon: icon,
        title: title,
        showConfirmButton: false,
        toast: true,
        timer: 2500
      });
    },
    saveChanges() {
      const response = {
        preserveScroll: true,
        errorBag: "bag",
        onStart: () => {
          console.log("Started");
          this.busy = true;
        },
        onSuccess: res => {
          console.log("RESPONSE", res);
          this.form.reset();
          this.showToast("Record has been added successfully", "success");
        },
        onError: err => {
          console.log("THERE WAS AN ERROR", err);
          this.showToast("An error occurred!", "error");
        },
        onFinish: () => {
          console.log("Finished");
          this.busy = false;
        }
      };

      if (this.form.id > 0) {
        this.form.put(route("assets.update", this.form.id), response);
      } else {
        this.form.post(route("assets.store"), response);
      }
    },
    loadDefaults() {
      //   this.form = {
      (this.form.id = this.activeData.id || "-1"),
        (this.form.name = this.activeData.name || ""),
        (this.form.contact_person = this.activeData.contact_person || ""),
        (this.form.address = this.activeData.address || ""),
        (this.form.city = this.activeData.city || ""),
        (this.form.state = this.activeData.state || ""),
        (this.form.country = this.activeData.country || "NG"),
        (this.form.email = this.activeData.email || ""),
        (this.form.mobile = this.activeData.mobile || ""),
        (this.form.phone = this.activeData.phone || ""),
        // (this.form.phone_2 = this.activeData.phone_2 || ""),
        (this.form.website = this.activeData.website || ""),
        (this.form.postal_zip = this.activeData.postal_zip || ""),
        (this.form.notes = this.activeData.notes || ""),
        (this.form.status = this.activeData.status || "Active");
      //   };
    }
  }
});
</script>

<style lang="scss" scoped></style>
