<template>
  <app-layout>
    <template>
      <div class="py-12 mx-2">
        <h2 class="font-semibold text-xl text-gray-800 leading-tight mx-5">
          Dashboard
        </h2>
        <div class="mx-auto sm:px-6 lg:px-8">
          <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg"></div>
          <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 lg:gap-5"
          >
            <count-card
              v-for="card in cards"
              :key="card.header"
              :header="card.header"
              :description="card.description"
              :icon="card.icon"
              :count="card.count"
              :createRoute="card.createRoute"
              :indexRoute="card.indexRoute"
            />
          </div>
        </div></div
    ></template>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import CountCard from "@/components/CountCard.vue";

export default {
  components: {
    AppLayout,
    CountCard
  },
  props: {
    cards: Array,
    locationCount: Number,
    vendorCount: Number,
    technicianCount: Number,
    oldassetCount: Number
  }
};
</script>
