<template>
  <div class="container mx-auto my-10">
    Just me {{ tru }}
    <div>{{ count }}</div>
    <button @click="increment" class="p-4 bg-indigo-500 text-white rounded m-2">
      {{ data1 }}
      <div>{{ records }}</div>
    </button>
  </div>
</template>

<script>
import moment from "moment";
export default {
  data() {
    return {
      count: 0,
      isOpen: false,
      tru: {
        title: null,
        body: "",
      },
    };
  },
  props: ["data1", "records"],
  mounted() {
    console.log(moment().format("LLL"));
    setInterval(() => {
      this.tru.body = moment().format("LLLL h:mm:ss a");
      console.log(moment().format("h:mm:ss a"))
    }, 1000);
  },
  methods: {
    increment() {
      this.count++;
      this.$inertia.post("/j", {
        title: "New Title" + this.count,
        body: "The body comes in here " + this.count,
      });
    },
  },
};
</script>

<style>
</style>
