<template>
  <div class="container_">
    <vue-html2pdf
      :show-layout="false"
      :float-layout="false"
      :enable-download="true"
      :preview-modal="true"
      :paginate-elements-by-height="480"
      :filename="filename + '.pdf'"
      :pdf-quality="2"
      :manual-pagination="false"
      pdf-format="a4"
      pdf-orientation="landscape"
      pdf-content-width="754px"
      ref="html2Pdf"
      :html-to-pdf-options="{
        filename: filename,
        html2canvas: {
          scale: 3,
          imageTimeout: 0,
          width: 764,
          height: 480,
          windowWidth: 800,
          //   windowHeight: 800,
          x: 0,
          y: 0
        },
        jsPDF: {
          unit: 'in',
          format: 'a4',
          orientation: 'landscape'
        }
      }"
    >
      <!-- @progress="onProgress($event)"
      @hasStartedGeneration="hasStartedGeneration()"
      @hasGenerated="hasGenerated($event)" -->
      <section slot="pdf-content">
        <!-- PDF Content Here -->

        <div id="board" ref="board">
          <div class="shadow" id="capture" ref="capture" style="width: 764px">
            <div class="px-2 py-2 antialiased">
              <div class="flex">
                <div
                  class="w-2/5 flex items-end border border-brand-100 bg-brand-200 m-2 mt-3 ml-3"
                >
                  <img
                    :src="personaldata.photo"
                    class="self-end w-full  h-auto rounded"
                    alt=""
                  />
                </div>
                <div class="w-4/5">
                  <div class="flex ml-10">
                    <img
                      src="/img/logo.png"
                      class="self-center m-2 w-32 h-auto"
                      alt=""
                    />
                  </div>
                  <div class=" ml-4 mt-2">
                    <card-details
                      title="Surname:"
                      :value="personaldata.last_name"
                    ></card-details>
                    <card-details
                      title="Other Names:"
                      :value="
                        personaldata.first_name +
                          ' ' +
                          (personaldata.middle_name || '')
                      "
                    ></card-details>
                    <card-details
                      title="DOB:"
                      :value="personaldata.date_of_birth"
                    ></card-details>
                    <card-details
                      title="Sex:"
                      :value="personaldata.sex"
                    ></card-details>
                    <card-details title="Plan Type:" value=""></card-details>
                  </div>
                </div>
              </div>
              <div class="pb-2 pt-2">
                <barcode :idNumber="personaldata.id_card_number"></barcode>
              </div>
            </div>
          </div>
          <div class="html2pdf__page-break" />
        </div>
      </section>
    </vue-html2pdf>
  </div>
</template>

<script >
import { defineComponent } from "@vue/composition-api";
import Barcode from "@/components/Barcode.vue";
import CardDetails from "@/components/CardDetails.vue";
import html2canvas from "html2canvas";
import * as download from "downloadjs";
import VueHtml2pdf from "vue-html2pdf";

export default defineComponent({
  components: { Barcode, CardDetails, VueHtml2pdf },
  props: { personaldata: Object },
  data() {
    return {
      //   filename: "stx-file-"
    };
  },
  mounted() {
    this.capture();
    this.generateReport();
  },
  computed: {
    filename() {
      const filename = "asset_mgt-" + this.personaldata?.id_card_number;
      document.title = filename;
      return filename;
    }
  },
  methods: {
    capture() {
      console.log("capturing");
      setTimeout(() => {
        const el = document.querySelector("#capture");
        const board = document.querySelector("#board");
        html2canvas(el, {
          scale: 3,
          imageTimeout: 0,
          width: 764,
          height: 480,
          windowWidth: 800,
          //   windowHeight: 800,
          x: 0,
          y: 0
        }).then(canvas => {
          //   board.appendChild(canvas);
          const data = canvas.toDataURL();
          const start = async () => {
            await download(
              data,
              this.personaldata?.id_card_number + ".png",
              "image/png"
            );
          };
          //   start();
          //   setTimeout(() => {
          //     window.print();
          //   }, 500);
          //   console.log(data);
        });
      }, 300);
    },
    generateReport() {
      // @ts-ignore
      this.$refs.html2Pdf.generatePdf();
    }
  }
});
</script>
<style lang="scss" scoped></style>
