@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.module-link {
    @apply border-r bg-gray-700 text-white border-gray-500 py-2 px-4 flex-grow hover:bg-red-500 hover:text-white;
}

.btn-stx {
    @apply py-2 px-4 my-1 mx-1 flex-grow;
}

.red-text-me {
    @apply text-brand-500 font-bold;
}

.module-header{
    @apply text-brand-500 text-2xl font-light m-4;
}
