<template>
  <div class="">
    <div>
      <barcode v-bind:value="idNumber" height="60px" width="4" :fontSize="40" class="w-full">
        Invalid ID Data
      </barcode>
    </div>
  </div>
</template>

<script >
import { defineComponent, reactive, toRefs } from "@vue/composition-api";
import VueBarcode from "vue-barcode";

export default defineComponent({
  components: {
    barcode: VueBarcode
  },
  props: {
    idNumber: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      barcodeValue: "test"
    };
  },
  setup() {
    const state = reactive({});

    return {
      ...toRefs(state)
    };
  }
});
</script>
<style lang="scss">
.vue-barcode-element {
  width: 100%;
  height: auto;
  //   min-width: 400px;
}
</style>
