<template>
  <div class="flex text-xl mt-1">
    <div class="w-2/5 font-nunito font-medium">{{ title }}</div>
    <div class="w-3/5 font-poppins font-bold">{{ value }}</div>
  </div>
</template>

<script>
export default {
  props: ["title", "value"]
};
</script>

<style lang="scss" scoped>
</style>
