<template>
  <div>
    <stx-view-item :title="title">
      <span :class="[setMessage.light.text]">{{ dateToCheck }}</span>

      <div class="">
        <div
          class="rounded-md p-2 my-1 text-xs font-normal inline-block"
          :class="[setMessage.dark.bg, setMessage.dark.text]"
        >
          {{ setMessage.message }}
        </div>
      </div>
    </stx-view-item>
    <!-- {{ count }}
    {{ substractDate }} -->
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    dateToCheck: {
      type: String,
      required: true
    },
    dateDiff: {
      type: Number,
      default: 1
    },
    dateString: {
      type: String,
      default: "months"
    },
    validMessage: {
      type: String,
      default: "Item is valid"
    },
    warningMessage: {
      type: String,
      default: "Expires in less than 1 month"
    },
    expiredMessage: {
      type: String,
      default: "Item has expired."
    }
  },
  computed: {
    substractDate() {
      return this.$moment(this.dateToCheck, "YYYY-MM-DD")
        .subtract(this.dateDiff, this.dateString)
        .format("YYYY-MM-DD");
    },
    count() {
      return this.$moment(this.dateToCheck, "YYYY-MM-DD").diff(
        this.$moment(),
        "days"
      );
      // return this.$moment.duration(-this.dateDiff, dateString).humanize(true);
    },
    setMessage() {
      let notice = {
        message: this.validMessage,
        light: {
          text: "text-gray-500",
          bg: "bg-white"
        },
        dark: {
          text: "text-white",
          bg: "bg-gray-500"
        }
      };
      if (this.$moment().isBetween(this.substractDate, this.dateToCheck)) {
        notice = {
          message: ` ${this.warningMessage} ${this.count} days`,
          light: {
            text: "text-yellow-500",
            bg: "bg-white"
          },
          dark: {
            text: "text-white",
            bg: "bg-yellow-500"
          }
        };
      }
      if (this.$moment().isAfter(this.dateToCheck)) {
        notice = {
          message: this.expiredMessage,
          light: {
            text: "text-red-500",
            bg: "bg-white"
          },
          dark: {
            text: "text-white",
            bg: "bg-red-500"
          }
        };
      }
      return notice;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
