<template>
  <div class="bg-white max-w-lg rounded-2xl p-3 my-2 shadow-md">
    <h3 class="text-xl font-light" :class="primaryTextColor">{{ header }}</h3>
    <div class="text-xs text-gray-500">
      {{ description }}
    </div>
    <div
      class="flex items-center gap-6 divide-x border-t border-gray-200 mt-3 pt-2"
    >
      <div>
        <b-icon
          :icon="icon"
          :class="primaryTextColor"
          class="text-4xl"
        ></b-icon>
      </div>
      <div>
        <div class="text-4xl text-gray-500 font-bold font-poppins ml-3">
          {{ count }}
        </div>
      </div>
    </div>
    <div
      class="flex justify-between flex-wrap border-t border-gray-200 mt-3 pt-2"
    >
      <inertia-link
        v-if="!route().current(indexRoute)"
        as="button"
        :href="route(indexRoute)"
        class="text-white whitespace-nowrap bg-gray-900 hover:opacity-50 text-sm py-1 px-3 rounded-full mt-1"
      >
        <b-icon icon="card-list" class="mr-1"></b-icon>
        View List</inertia-link
      >
      <div>
        <!-- <inertia-link
        v-if="!route().current(showRoute)"
        as="button"
        :href="route(showRoute)"
        class="text-white whitespace-nowrap bg-gray-500 hover:opacity-50 text-sm py-1 px-3 rounded-full"
      >
        <b-icon icon="trash" class="mr-1"></b-icon>
        Delete</inertia-link
      > -->
      </div>
      <inertia-link
        v-if="!route().current(createRoute)"
        as="button"
        :href="route(createRoute)"
        :class="buttonBgColor"
        class="text-white whitespace-nowrap hover:opacity-50 text-sm py-1 px-3 rounded-full mt-1"
      >
        <b-icon icon="plus-circle" class="mr-1"></b-icon>
        Add New</inertia-link
      >
    </div>
  </div>
</template>

<script>
export default {
  props: {
    header: {
      type: String,
      default: "Header",
      required: true
    },
    description: {
      type: String,
      default: "",
      required: false
    },
    icon: {
      type: String,
      default: "gear",
      required: false
    },
    count: {
      type: Number,
      default: 0,
      required: true
    },
    primaryTextColor: {
      type: String,
      default: "text-brand-500",
      required: false
    },
    buttonBgColor: {
      type: String,
      default: "bg-brand-500",
      required: false
    },
    indexRoute: {
      type: String,
      default: "",
      required: false
    },
    createRoute: {
      type: String,
      default: "",
      required: false
    },
    deleteRoute: {
      type: String,
      default: "",
      required: false
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
