<template>
  <div class="" id="IdCard">
    <div class="flex  flex-col justify-center mt-5">
      <h3 class="self-center">ID Card</h3>
      <div class="flex justify-around my-2">
        <button
          @click="show = !show"
          class="bg-brand-100 rounded-full py-1 px-2 text-sm whitespace-nowrap text-white font-base focus:outline-none "
        >
          <b-icon icon="image" class="mr-1"></b-icon>
          View
        </button>
        <button
          @click="savePhotoUrl()"
          class="bg-brand-100 rounded-full py-1 px-2 text-sm whitespace-nowrap text-white font-base focus:outline-none "
        >
          <svg
            class="mr-1 inline-block fill-current text-white"
            width="18"
            height="18"
            viewBox="0 0 24 24"
          >
            <path
              d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z"
            />
          </svg>
          Save Photo
        </button>
        <button
          @click="savePdfUrl()"
          class="bg-brand-100 rounded-full py-1 px-2 text-sm whitespace-nowrap text-white font-base focus:outline-none "
        >
          <svg
            class="mr-1 inline-block fill-current text-white"
            width="18"
            height="18"
            viewBox="0 0 24 24"
          >
            <path
              d="M14,2L20,8V20A2,2 0 0,1 18,22H6A2,2 0 0,1 4,20V4A2,2 0 0,1 6,2H14M18,20V9H13V4H6V20H18M10.92,12.31C10.68,11.54 10.15,9.08 11.55,9.04C12.95,9 12.03,12.16 12.03,12.16C12.42,13.65 14.05,14.72 14.05,14.72C14.55,14.57 17.4,14.24 17,15.72C16.57,17.2 13.5,15.81 13.5,15.81C11.55,15.95 10.09,16.47 10.09,16.47C8.96,18.58 7.64,19.5 7.1,18.61C6.43,17.5 9.23,16.07 9.23,16.07C10.68,13.72 10.9,12.35 10.92,12.31M11.57,13.15C11.17,14.45 10.37,15.84 10.37,15.84C11.22,15.5 13.08,15.11 13.08,15.11C11.94,14.11 11.59,13.16 11.57,13.15M14.71,15.32C14.71,15.32 16.46,15.97 16.5,15.71C16.57,15.44 15.17,15.2 14.71,15.32M9.05,16.81C8.28,17.11 7.54,18.39 7.72,18.39C7.9,18.4 8.63,17.79 9.05,16.81M11.57,11.26C11.57,11.21 12,9.58 11.57,9.53C11.27,9.5 11.56,11.22 11.57,11.26Z"
            />
          </svg>
          Save PDF
        </button>
      </div>
    </div>

    <b-modal v-model="show" centered ok-only size="lg">
      <div id="board" ref="board"></div>
      <div class="shadow" id="capture" ref="capture">
        <div class="px-3 py-2 antialiased">
          <div class="flex pt-5">
            <div
              class="w-2/5 flex items-end border border-brand-100 bg-brand-100"
            >
              <img
                :src="personaldata.photo"
                class="self-end w-full  h-auto rounded"
                alt=""
              />
            </div>
            <div class="w-4/5">
              <div class="flex ml-10">
                <img
                  src="/img/logo.png"
                  class="self-center m-2 w-32 h-auto"
                  alt=""
                />
              </div>
              <div class=" ml-4 mt-2">
                <card-details
                  title="Surname:"
                  :value="personaldata.last_name"
                ></card-details>
                <card-details
                  title="Other Names:"
                  :value="
                    personaldata.first_name +
                      ' ' +
                      (personaldata.middle_name || '')
                  "
                ></card-details>
                <card-details
                  title="DOB:"
                  :value="personaldata.date_of_birth"
                ></card-details>
                <card-details
                  title="Sex:"
                  :value="personaldata.sex"
                ></card-details>
                <card-details title="Plan Type:" value=""></card-details>
              </div>
            </div>
          </div>
          <div class="pb-2 pt-2">
            <barcode :idNumber="personaldata.id_card_number"></barcode>
          </div>
          <div class="py-1">&nbsp;</div>
        </div>
      </div>
      <!-- <a @click="capture()" class="p-5 bg-brand-100  text-white">capture</a> -->
    </b-modal>
  </div>
</template>

<script>
import { defineComponent, reactive, toRefs } from "@vue/composition-api";
import Barcode from "@/components/Barcode.vue";
import CardDetails from "./CardDetails.vue";
import Button from "@/Jetstream/Button.vue";
import IdCard from "@/components/IdCard.vue";
import html2canvas from "html2canvas";
import { Inertia } from "@inertiajs/inertia";

export default defineComponent({
  components: {
    Barcode,
    CardDetails,
    Button
  },
  props: {
    personaldata: {
      type: Object,
      required: true
    },
    enrolleetype: {
      type: String,
      required: true,
      default: "principal"
    }
  },
  data() {
    return {
      show: false
    };
  },
  mounted() {
    // this.capture();
  },
  computed: {
    //
  },
  methods: {
    savePhotoUrl() {
      const url = "card.photo." + this.enrolleetype;
      // @ts-ignore
      Inertia.visit(route(url, this.personaldata.id));
    },
    savePdfUrl() {
      const url = "card.pdf." + this.enrolleetype;
      // @ts-ignore
      Inertia.visit(route(url, this.personaldata.id));
    },
    capture() {
      console.log("capturing");
      setTimeout(() => {
        const el = document.querySelector("#capture");
        const board = document.querySelector("#board");
        html2canvas(el, {
          scale: 2,
          imageTimeout: 0,
          width: 960,
          height: 640,
          windowWidth: 1000,
          windowHeight: 100,
          x: 0,
          y: 0
        }).then(canvas => {
          board.appendChild(canvas);
        });
      }, 500);
    }
  },

  setup() {
    const state = reactive({});

    return {
      ...toRefs(state)
    };
  }
});
</script>
<style lang="scss">
#IdCard .vue-barcode-element {
  width: 100%;
  min-width: 400px;
}
</style>
