<template>
  <div>
    <div v-if="$page.props.id > 0" class="my-2 rounded-lg overflow-hidden">
      <div
        class="flex flex-wrap flex-col md:flex-row md:justify-between place-items-stretch rounded-lg"
      >
        <inertia-link
          v-if="!route().current($page.props.indexRoute)"
          :href="route($page.props.indexRoute)"
          as="button"
          class="module-link "
        >
          <b-icon icon="arrow-left" class="mr-1"></b-icon> All
          Assets</inertia-link
        >
        <inertia-link
          v-if="!route().current($page.props.createRoute)"
          :href="route($page.props.createRoute)"
          as="button"
          class="module-link"
        >
          <b-icon icon="plus-circle" class="mr-1"></b-icon> Add
          New</inertia-link
        >
        <inertia-link
          v-if="route().current($page.props.showRoute)"
          :href="route($page.props.editRoute, $page.props.id)"
          as="button"
          class="module-link"
        >
          <b-icon icon="pencil-square" class="mr-1"></b-icon>
          Edit</inertia-link
        >
        <inertia-link
          v-if="route().current($page.props.editRoute)"
          :href="route($page.props.showRoute, $page.props.id)"
          as="button"
          class="module-link"
        >
          <b-icon icon="eye" class="mr-1"></b-icon>
          View</inertia-link
        ><button
          v-if="route().current($page.props.showRoute)"
          @click="removeItem($page.props.destroyRoute, $page.props.id)"
          class="module-link"
        >
          <b-icon icon="trash" class="mr-1"></b-icon>
          Delete
        </button>

        <inertia-link
          v-if="
            route().current('assets.show') ||
              route().current('assets.edit') ||
              route().current('consumables.show') ||
              route().current('consumables.edit')
          "
          :href="
            route('assets.convert', [$page.props.id, $page.props.is_asset])
          "
          as="button"
          class="module-link bg-blue-800"
        >
          <span class="text-yellow-300">
            <b-icon icon="arrow-left-right" class="mr-1"></b-icon>
            {{ is_asset ? "Convert to Consumable" : "Convert to Asset" }}</span
          >
        </inertia-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      default: -1
    }
  },
  computed: {
    is_asset() {
      return this.$page.props.activeData.is_asset === 1;
    }
  },
  methods: {
     removeItem(routePath, id) {
      this.$Swal.fire({
        position: "center",
        icon: "warning",
        title: "Delete Record?",
        text: "Do you want to Delete this Record?",
        showCancelButton: true,
        showConfirmButton: true,
        confirmButtonText: "Delete",
        confirmButtonColor: "#e02424",
        toast: false,
        timer: 10000
      }).then(result => {
        if (result.isConfirmed) {
          this.$inertia.delete(route(routePath, id), {
            onFinish() {
              console.log("Deleted");
            },
            onError() {
              console.log("Oops!");
            }
          });
        }
      });
    }
  },
};
</script>

<style lang="scss" scoped>
</style>
