<template>
  <div>
    <button
      @click="editItem"
      class="rounded-full  flex items-center justify-center bg-brand-800 hover:bg-brand-400 text-sm focus:outline-none whitespace-nowrap text-white px-2 py-2 pr-3"
    >
      <i class="bi bi-plus-circle self-center p-0 mr-2 ml-1"></i> Add New
    </button>
  </div>
</template>

<script >
import { defineComponent } from "@vue/composition-api";
import Swal from "sweetalert2";
import Button from "../Jetstream/Button.vue";
export default defineComponent({
  props: { path: { type: String, required: true } },
  methods: {
    editItem() {
      // this.$emit('tap', 'when');
      const stxInertia = this.$inertia;
      const stxRoute = this.route;
      stxInertia.visit(stxRoute(this.path, this.id));
    }
  }
});
</script>

<style lang="scss" scoped>
.bi {
  line-height: 0.1rem;
}
.swal2-popup {
  font-size: 0.7rem !important;
}
</style>
