<template>
  <div class="">
  <div class="bg-white shadow-sm sm:rounded-lg text-sm font-poppins p-3">
  <slot></slot>
  </div>
  </div>
</template>

<script >
import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  components: {},

});
</script>
<style lang="scss" scoped></style>
