<template>
  <div>
    <button
      @click="deleteItem"
      class="rounded-full  flex items-center justify-center bg-red-500 hover:bg-brand-600 text-sm focus:outline-none whitespace-nowrap text-white px-2 py-1"
    >
      <i class="bi bi-trash self-center p-0 mr-1"></i> Delete
    </button>
  </div>
</template>

<script >
import { defineComponent } from "@vue/composition-api";
import Swal from "sweetalert2";
import Button from "../Jetstream/Button.vue";
export default defineComponent({
  props: {
    id: { type: Number, required: true },
    path: { type: String, required: true }
  },
  methods: {
    deleteItem() {
      // this.$emit('tap', 'when');
      const stxInertia = this.$inertia ;
      const stxRoute = this.route ;

      Swal.fire({
        title: "Do you want to delete this item?",
        showDenyButton: false,
        showCancelButton: true,
        confirmButtonText: `Yes Delete`,
        denyButtonText: `Don't save`,
        customClass: {
          container: "text-xl"
        }
      }).then(result => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          const deleteItem = async () => {
            const del = await stxInertia.delete(stxRoute(this.path, this.id));
            console.log(del);
            this.$emit("tap");
            Swal.fire("Saved!", "", "success");
          };
          deleteItem();
        } else if (result.isDenied) {
          this.$emit("tap");
          Swal.fire("Item not Deleted", "", "info");
        }
      });
    }
  }
});
</script>

<style lang="scss" scoped>
.bi {
  line-height: 0.1rem;
}
.swal2-popup {
  font-size: 0.7rem !important;
}
</style>
