<template>
  <div class="flex flex-wrap bg-gray-800 p-3 text-xs mx-auto justify-center">

          <div
            class="no-underline display-inline"
            v-for="item in navigation"
            :key="item.route"
          >
            <inertia-link
              :href="route(`${item.route}`, item.param)"
              v-if="item.navbar"
              as="button"
              class="text-white hover:text-gray-400 no-underline focus:outline-none inline-block mx-2 mb-2"
              :class="{
                'border-b-4 border-red-600': route().current(`${item.url}*`)
              }"
            >
              {{ item.label }}</inertia-link
            >
            </div
          >
          <div
            class="no-underline display-inline"
            v-for="item in navigation"
            :key="`_${item.route}`"
          >
            <inertia-link
              :href="route(`${item.route}`, item.param)"
              v-if="!item.navbar"
              as="button"
              class="text-white hover:text-gray-400 no-underline focus:outline-none inline-block mx-2 mb-2"
              :class="{
                'border-b-4 border-red-600': route().current(`${item.url}*`)
              }"
            >
              {{ item.label }}</inertia-link
            >
            </div
          >



  </div>
</template>

<script >
import { navigation } from "@/store/mainStore";
import { computed, defineComponent } from "@vue/composition-api";

export default defineComponent({
  data() {
    return {
      //   navigation: [
      //     { url: "asset", label: "Assets" },
      //     // { url: "dependant", label: "Dependants" },
      //     // { url: "client", label: "Clients" }
      //   ]
    };
  },
  mounted() {
    // console.log(this.inertia);
  },
  computed: {
    navigation() {
      return navigation;
    }
  },
  methods: {
      logout() {
         this. $inertia.post(route('logout'))
      }
  },
});
</script>

<style scoped>
</style>
