<template>
  <div
    class="text-brand-100 text-opacity-50 mt-6 mb-4 border-b border-indigo-100 pt-4"
    :class="classes"
  >
    <slot></slot>
  </div>
</template>
<script >
import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  name: "StxHeader",
  props: {
    fontSize: {
      type: String,
      default: "text-normal"
    },
    fontWeight: {
      type: String,
      default: "font-normal"
    }
  },
  computed: {
    classes() {
      return this.fontSize + " " + this.fontWeight;
    }
  }
});
</script>
