<template>
    <span class="text-gray-500 text-sm mb-2">
        <slot></slot>
    </span>
</template>
<script >
import { defineComponent } from "@vue/composition-api";
import Vue from "vue";
export default defineComponent({});
</script>
