<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="primary" class="lg:px-10">
      <b-navbar-brand href="#" class="mr-4 text-sm"
        ><span class="font-bold">ASSETS </span> CONSOLE</b-navbar-brand
      >

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item
            class="no-underline"
            v-for="item in navigation"
            :key="item.route"
          >
            <inertia-link
              :href="route(`${item.route}`, item.param)"
              v-if="item.navbar"
              as="button"
              class="text-white hover:text-gray-400 no-underline focus:outline-none inline-block"
              :class="{
                'border-b-4 border-yellow-300': route().current(`${item.url}*`)
              }"
            >
              {{ item.label }}</inertia-link
            >
            </b-nav-item
          >
          <b-nav-item
            class="no-underline lg:hidden"
            v-for="item in navigation"
            :key="`_${item.route}`"
          >
            <inertia-link
              :href="route(`${item.route}`, item.param)"
              v-if="!item.navbar"
              as="button"
              class="text-white hover:text-gray-400 no-underline focus:outline-none inline-block"
              :class="{
                'border-b-4 border-yellow-300': route().current(`${item.url}*`)
              }"
            >
              {{ item.label }}</inertia-link
            >
            </b-nav-item
          >
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <!-- <b-nav-form>
            <b-form-input
              size="sm"
              class="mr-sm-2"
              placeholder="Search"
            ></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit"
              >Search</b-button
            >
          </b-nav-form> -->
          <!--
          <b-nav-item-dropdown text="Lang" right>
            <b-dropdown-item href="#">EN</b-dropdown-item>
            <b-dropdown-item href="#">ES</b-dropdown-item>
            <b-dropdown-item href="#">RU</b-dropdown-item>
            <b-dropdown-item href="#">FA</b-dropdown-item>
          </b-nav-item-dropdown> -->

          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <em>{{$page.props.user.name}}</em>
            </template>
            <!-- <b-dropdown-item href="#">Profile</b-dropdown-item> -->
            <b-dropdown-item href="#" @click="logout">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script >
import { navigation } from "@/store/mainStore";
import { computed, defineComponent } from "@vue/composition-api";

export default defineComponent({
  data() {
    return {
      //   navigation: [
      //     { url: "asset", label: "Assets" },
      //     // { url: "dependant", label: "Dependants" },
      //     // { url: "client", label: "Clients" }
      //   ]
    };
  },
  mounted() {
    // console.log(this.inertia);
  },
  computed: {
    navigation() {
      return navigation;
    }
  },
  methods: {
      logout() {
         this. $inertia.post(route('logout'))
      }
  },
});
</script>

<style scoped>
</style>
