<template>
  <div>
    <button
      @click="action"
      class="flex items-center justify-center text-sm focus:outline-none pr-3 mx-1 whitespace-nowrap "
      :class="[classes, bg, moreclasses]"
    >
      <b-icon :icon="icon" class="p-0 mr-1"></b-icon> {{ label }}
    </button>
  </div>
</template>

<script >
import { defineComponent } from "@vue/composition-api";
import Swal from "sweetalert2";
import Button from "../Jetstream/Button.vue";
export default defineComponent({
  props: {
    id: { type: Number },
    path: { type: String, required: true },
    label: { type: String, required: true },
    icon: { type: String, default: "arrow-left-short" },
    bg: { type: String, default: "bg-brand-300" },
    moreclasses: { type: Array, default: () => [] },
    classes: {
      type: Array,
      default: () => [
        "hover:bg-brand-100",
        "text-white",
        "px-2 py-1",
        "rounded-full"
      ]
    }
  },
  methods: {
    action() {
      const stxInertia = this.$inertia;
      const stxRoute = this.route;

      if (this.id) {
        stxInertia.visit(
          stxRoute(this.path, this.id),
          {},
          {
            preserveState: true,
            preserveScroll: true
          }
        );
      } else {
        stxInertia.visit(
          stxRoute(this.path),
          {},
          {
            preserveState: true,
            preserveScroll: true
          }
        );
      }
    }
  }
});
</script>

<style lang="scss" scoped>
.bi {
  line-height: 0.1rem;
}
.swal2-popup {
  font-size: 0.7rem !important;
}
</style>
