<template>
  <div>
    <div class="text-base">
      <span class="text-2xl text-brand-100">{{ title }}</span>
      <span class="text-xl text-brand-800">{{ subtitle }}</span>
    </div>
    <slot></slot>
  </div>
</template>

<script >
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  props: ["title", "subtitle"]
});
</script>

<style lang="scss" scoped></style>
