<template>
  <div>
    <div class="px-1 py-2 text-white">
      <div class="flex justify-center items-center pt-10 pb-3">
        <b-avatar src="/img/logo.png" size="3rem" />
      </div>
      <div
        class="text-center font-lighter font-poppins tracking-tight text-sm mb-5"
      >
        Adano Engineering
      </div>
      <div class="text-white">
        <div>
          <ul>
            <li v-for="item in navigation" :key="item.route" class="text-white">
              <div
                v-if="item.divider"
                class="my-3 border-t border-gray-800"
              ></div>
              <inertia-link
                :href="route(item.route, item.param)"
                class="rounded flex flex-row items-center whitespace-nowrap text-white py-2 px-4 no-underline hover:bg-gray-700 hover:no-underline"
                :class="{ 'bg-gray-800': activeRoute == item.route }"
                ><b-icon
                  :icon="item.icon"
                  class="mr-3 self-center in-line"
                ></b-icon
                ><span>{{ item.label }}</span>
              </inertia-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <b-button v-b-toggle.sidebar-backdrop
      ><svg width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"
        /></svg></b-button
    ><b-sidebar
      id="sidebar-backdrop"
      title="Sidebar with backdrop"
      backdrop-variant="light"
      bg-variant="primary"
      backdrop
      shadow
      no-header
    >

    </b-sidebar> -->
  </div>
</template>

<script>
import {
  defineComponent,
  reactive,
  toRefs,
  computed,
  ref
} from "@vue/composition-api";
import { navigation } from "@/store/mainStore";

export default defineComponent({
  name: "sidebar",

  data() {
    return {
      // navigation: [
      //   {
      //     route: "asset.index",
      //     label: "Assets",
      //     param: {},
      //     icon: "hammer",
      //     divider: false
      //   },
      //   {
      //     route: "locations.index",
      //     label: "Locations",
      //     param: {},
      //     icon: "geo-alt-fill",
      //     divider: false
      //   }
      // ]
    };
  },
  computed: {
    activeRoute() {
      //@ts-ignore
      return this.$page.props.currentRouteName;
    },
    navigation() {
      return navigation;
    }
  },
  mounted() {
    //
  }
});
</script>

<style scoped>
</style>
