<template>
  <div class="mt-3 antialiased">
    <div id="style1" v-if="look == 'style1'">
      <div
        class="text-sm font-medium font-poppins text-gray-500 tracking-wider mb-1"
        :class="look"
      >
        {{ title }}
      </div>
      <div class="font-poppins  font-bold text-base"><slot></slot></div>
    </div>
    <div id="style1" v-if="look == 'style2'">
      <div
        class="mt-5 mb-4 pb-2 border-b border-gray-200 text-base font-medium font-poppins text-brand-500 text-opacity-75"
        :class="look"
      >
        {{ title }}
      </div>
      <div class="font-sans text-base font-bold"><slot></slot></div>
    </div>
    <div id="style1" v-if="look == 'style3'">
      <div
        class="mt-0 mb-2 pb-2 border-b-0 border-gray-100 text-lg font-light font-poppins text-brand-500 text-opacity-100"
        :class="look"
      >
        {{ title }}
      </div>
      <div class="font-sans text-base font-bold"><slot></slot></div>
    </div>
  </div>
</template>

<script >
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  props: {
    title: String,
    look: {
      type: String,
      default: "style1"
    }
  }
});
</script>

<style lang="scss" scoped></style>
