
<template>
  <div class="m-2">
    <!-- {{$page.props.photos.length}} - {{counts}} -->
    <div v-if="photos_length">
      <b-form @submit.stop.prevent="uploadPhoto">
        <div v-if="form.progress">
          <b-progress
            :value="form.progress.percentage"
            :max="100"
            show-progress
            animated
          ></b-progress>
        </div>
        <div class="flex flex-wrap lg:flex-no-wrap">
          <b-form-file
            v-model="form.file"
            :state="Boolean(form.file)"
            placeholder="Choose Photo..."
            drop-placeholder="Drop file here..."
            accept=".jpg, .png"
            :capture="true"
            required
          ></b-form-file>
          <b-button
            variant="primary"
            type="submit"
            class="w-full md:w-auto my-1"
          >
            Upload</b-button
          >
        </div>
      </b-form>
    </div>
    <div class="mt-2">
      <div class="flex flex-wrap">
        <div class="" v-for="photo in photos" :key="photo.url">
          <div class="ml-1 mt-1 inline-block">
            <img
              :src="`/${photo.url}`"
              class="rounded-lg object-cover shadow-lg"
              :class="size"
              @click="
                lightBoxImg = '/'+photo.url;
                pix.photo_id = photo.id;
              "
              v-b-modal.lightBox
            />
          </div>
        </div>
      </div>
      <!-- Selected file: {{ form.file ? form.file.name : "" }} -->
    </div>
    <div>
      <b-modal id="lightBox" @ok="deletePhoto" size="lg" ok-title="Delete Photo">
        <div class="flex justify-center">
          <b-img :src="lightBoxImg" fluid class=" mx-auto  self-center" />
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
export default {
  props: {
    modelId: {
      type: Number,
      required: true
    },
    counts: {
      type: Number,
      default: 4
    },
    size: {
      type: String,
      default: "w-24 h-24"
    }
  },
  data() {
    return {
      form: this.$inertia.form({
        file: null
      }),
      pix: this.$inertia.form({
        photo_id: null
      }),
      lightBoxImg: null
    };
  },
  computed: {
    photos() {
      return this.$page.props.photos;
    },
    photos_length() {
      return this.$page.props.photos.length < this.counts;
    }
  },
  methods: {
    uploadPhoto() {
      console.log("Lets go!");
      this.form.post(route(this.$page.props.photoRoute, this.$page.props.id), {
        onStart() {
          console.log("Upload Started");
        },
        onError(err) {
          console.log("Upload Error", err);
        },
        onFinish(res) {
          //   this.form.file = null;
          console.log("Upload Finished", res);
        }
      });
    },
    deletePhoto() {
      Swal.fire({
        position: "center",
        icon: "warning",
        title: "Do you really want to permanently delete this?",
        showConfirmButton: false,
        toast: false,
        showConfirmButton: true,
        showCancelButton: true,
        confirmButtonText: "Yes, Delete this",
        timer: 12500
      }).then(result => {
        if (result.isConfirmed) {
          this.pix.delete(
            route(this.$page.props.photoDeleteRoute, {
              photo: this.pix.photo_id
            }),
            {
              onFinish() {
                Swal.fire({
                  position: "top-right",
                  icon: "success",
                  title: "Photo Deleted",
                  showConfirmButton: false,
                  toast: true,
                  timer: 2500
                });
                console.log("Photo Deleted");
              }
            }
          );
          console.log("Delete Photo 1", result);
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
