<template>
  <div class="">
    <div
      class="flex flex-col md:flex-row items-center text-xs font-base md:divide-x"
    >
      <div class="w-full md:w-2/12 px-3 flex justify-center">
        <b-img
          :src="data.photo"
          alt=""
          class="rounded-lg m-2 md:m-1 h-24 md:h-18 w-auto"
        />
      </div>
      <div class="w-full w-2/2 md:w-5/12 pb-3 px-3 divide-y">
        <div class="py-1 font-bold text-lg">{{ data.name }}</div>
        <div class="py-1">{{ data.email }}</div>
        <div class="py-1">{{ data.telephone }}</div>
      </div>
      <div class="w-full w-2/2 md:w-5/12 pb-3 px-3 divide-y">
        <div class="py-1">{{ data.address }}</div>
        <div class="py-1">{{ data.city }}</div>
        <div class="py-1">{{ data.state }}</div>
        <div class="py-1">{{ data.country }}</div>
      </div>
      <!-- <div class="w-5/6 pb-3">
        <div class="text-xl font-bold text-brand-100">{{ title }}</div>
        <div>
          <div class="text-xs font-base mt-2">
            Name:
          </div>
          <div class="text-sm font-semibold mt-0">
            {{ data.first_name }} {{ data.middle_name }} {{ data.last_name }}
          </div>
        </div>
        <div>
          <div class="text-xs font-base mt-3 inline-block">
            DOB:
          </div>
          <div class="text-sm font-semibold mt-1 inline-block">
            {{ data.date_of_birth }}
          </div>
        </div>
        <div>
          <div class="text-xs font-base mt-3 inline-block">
            Gender:
          </div>
          <div class="text-sm font-semibold mt-1 inline-block">
            {{ data.sex }}
          </div>
        </div>
      </div> -->
    </div>
    <slot></slot>
  </div>
</template>

<script >
import { defineComponent, computed } from "@vue/composition-api";

export default defineComponent({
  components: {},
  props: {
    thumbData: Object,
    title: String
  },
  computed: {
    data() {
      return this.thumbData;
    }
  }
});
</script>
<style lang="scss" scoped></style>
