<template>
  <div>
    <div class="flex justify-end">
      <inertia-link
        class="rounded-full bg-brand-400 text-white py-2 px-4 mt-2 hover:bg-brand-600 focus:outline-none font-bold tracking-wider"
        v-if="itemsList.id"
        as="button"
        :href="route('dependant.show', { dependant: itemsList.id })"
        >See Details</inertia-link
      >
    </div>
    <div class="border-t border-gray-200 my-3"></div>
    <div class="flex gap-8 items-center justify-between mx-auto">
      <div class="w-1/2 xl:w-1/6">
        <b-img-lazy :src="itemsList.photo" fluid rounded />
        <div class="font-bold whitespace-nowrap mb-1 my-2">
          {{ itemsList.id_card_number }}
        </div>
      </div>
      <div class="w-1/2 xl:w-1/6">
        <stx-view-item title="First Name:">{{
          itemsList.first_name
        }}</stx-view-item>
        <stx-view-item title="Middle Name:">{{
          itemsList.middle_name
        }}</stx-view-item>
        <stx-view-item title="Last Name:">{{
          itemsList.last_name
        }}</stx-view-item>
        <stx-view-item title="Sex/Gender:">{{ itemsList.sex }}</stx-view-item>
        <stx-view-item title="DOB:">{{
          itemsList.date_of_birth
        }}</stx-view-item>
      </div>
      <div class="w-4/6 hidden xl:block">
        <card :personaldata="itemsList" :download="false" class=""></card>
      </div>
    </div>
  </div>
</template>

<script >
import Barcode from "@/components/Barcode.vue";
import IdCard from "@/components/IdCard.vue";

import { defineComponent } from "@vue/composition-api";
import StxEditButton from "../../components/StxEditButton.vue";
import StxSectionHeader from "../../components/StxSectionHeader.vue";
import StxSmallButton from "../../components/StxSmallButton.vue";
import StxViewItem from "../../components/StxViewItem.vue";
import Card from "../Card.vue";
import PrincipalPhoto from "../Principal/PrincipalPhoto.vue";
export default defineComponent({
  components: {
    PrincipalPhoto,
    StxSectionHeader,
    StxViewItem,
    StxEditButton,
    StxSmallButton,
    Barcode,
    IdCard,
    Card
  },
  props: {
    principal: Object,
    items: Object
  },
  computed: {
    itemsList() {
      return this.items;
    }
  }
});
</script>

<style lang="scss" scoped></style>
