<template>
  <div>
    <div
      class="bg-white shadow-sm sm:rounded-lg font-poppins flex flex-col md:flex-row justify-between py-3 px-3"
    >
      <!-- ID CARD BAR -->
      <div class="font-bold whitespace-nowrap mb-1 my-2">
        {{ itemsList.id_card_number }}
      </div>
      <div class="mx-10"></div>
      <div>
        <div class="flex flex-col md:flex-row  my-1">
          <stx-edit-button
            :id="itemsList.id"
            class="ml-1 my-1"
            path="dependant.edit"
          ></stx-edit-button>
          <!-- <stx-small-button
            class="ml-1 my-1"
            path="dependant.index"
            icon="person-fill"
            label="Add Dependant"
            bg="bg-brand-100"
          ></stx-small-button> -->
          <stx-small-button
            class="ml-1 my-1"
            path="principal.index"
            label="View List"
            bg="bg-brand-100"
          ></stx-small-button>
        </div>
      </div>
    </div>
    <div class="flex gap-8 flex-col md:flex-row ">
      <div class="w-auto md:w-3/12">
        <div
          class="bg-white w-full md:w-auto md:max-w-sm lg:min-w-min-content shadow-sm sm:rounded-lg font-poppins mt-4 p-3"
        >
          <principal-photo
            v-if="itemsList && itemsList.id"
            classes="rounded w-full h-auto"
            :photoData="itemsList"
            url="dependant.upload"
          />
          <div class="mt-2">
            <stx-section-header
              :title="itemsList.name"
              class="whitespace-nowrap"
              >{{ itemsList.email }}</stx-section-header
            >
          </div>
          <!-- <pre>{{ principal }}</pre> -->
        </div>
      </div>

      <div class="w-auto md:flex-grow">
        <!-- SPLIT SECTIONS -->
        <div class="grid grid-col-1  lg:grid-cols-2 mt-4 gap-6">
          <div class="bg-white shadow-sm sm:rounded-lg p-3">
            <stx-view-item title="Name:">{{ itemsList.name }}</stx-view-item>

            <stx-view-item title="Telephone:">{{
              itemsList.telephone
            }}</stx-view-item>
            <stx-view-item title="Email:">{{ itemsList.email }}</stx-view-item>
            <div class="border-t border-gray-200 my-3"></div>
            <stx-view-item title="Address:">{{
              itemsList.address
            }}</stx-view-item>
            <stx-view-item title="City:">{{ itemsList.city }}</stx-view-item>
            <stx-view-item title="Zip/Postal Code:">{{
              itemsList.zip_code
            }}</stx-view-item>
            <stx-view-item title="State:">{{ itemsList.state }}</stx-view-item>
            <stx-view-item title="Country:">{{
              itemsList.country
            }}</stx-view-item>
          </div>
          <div>
            <div class="bg-white shadow-sm sm:rounded-lg font-poppins p-3">
              <stx-view-item title="Policy Number:">{{
                itemsList.policy_number
              }}</stx-view-item>
              <stx-view-item title="Policy Code:">{{
                itemsList.policy_code
              }}</stx-view-item>
              <stx-view-item title="Registration Date:">{{
                itemsList.registration_date
              }}</stx-view-item>
              <div class="border-t border-gray-200 my-3"></div>
            </div>
            <StxCard class="mt-4">
              <stx-view-item title="About/Description/Notes:" class="py-3">{{
                itemsList.about
              }}</stx-view-item></StxCard
            >
          </div>
        </div>
      </div>
    </div>
    <div id="enrollee_table" class="mt-4">
      <StxCard>
        <principal-table
          :principals="items.principals"
          :clientId="items.id"
          :clientData="items"
        ></principal-table
      ></StxCard>
    </div>
  </div>
</template>

<script >
import Barcode from "@/components/Barcode.vue";

import { defineComponent } from "@vue/composition-api";
import StxEditButton from "../../components/StxEditButton.vue";
import StxSectionHeader from "../../components/StxSectionHeader.vue";
import StxSmallButton from "../../components/StxSmallButton.vue";
import StxViewItem from "../../components/StxViewItem.vue";
import PrincipalPhoto from "../Principal/PrincipalPhoto.vue";
import PrincipalTable from "../Principal/PrincipalTable.vue";
export default defineComponent({
  components: {
    PrincipalPhoto,
    StxSectionHeader,
    StxViewItem,
    StxEditButton,
    StxSmallButton,
    Barcode,
    PrincipalTable
  },
  props: {
    principals: Object,
    items: Object
  },
  computed: {
    itemsList() {
      return this.items;
    }
  }
});
</script>

<style lang="scss" scoped></style>
