<template>
  <div class="container_">
    <app-layout>
      <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
          Principal
        </h2>
      </template>

      <template #default>
        <div class="py-12">
          <div class="mx-auto block sm:px-6 lg:px-8">
            <ClientView
              v-if="display === 'view'"
              :items="client"
              :enrolleetypes="enrolleetypes"
              class="mx-4"
            ></ClientView>
            <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
              <ClientTable
                v-if="display === 'table'"
                :items="items"
                class="mx-4"
              />
            </div>
            <ClientForm
              v-if="display === 'form.edit' || display === 'form.create'"
              :enrolleetypes="enrolleetypes"
              :principal="principal"
              :client="client"
            />
          </div></div
      ></template>
    </app-layout>
  </div>
</template>

<script >
import AppLayout from "../../Layouts/AppLayout.vue";
import {
  defineComponent,
  reactive,
  toRefs,
  computed
} from "@vue/composition-api";
import ClientForm from "./ClientForm.vue";
import ClientTable from "./ClientTable.vue";
import ClientView from "./ClientView.vue";

export default defineComponent({
  name: "clientIndex",
  components: { AppLayout, ClientForm, ClientTable, ClientView },
  props: {
    display: {
      type: String
    },
    principal: {
      type: Object
    },
    client: {
      type: Object
    },
    enrolleetypes: {
      type: Array
    },
    items: {
      type: Array
    }
  },
  setup() {
    const state = reactive({});

    return {
      ...toRefs(state)
    };
  }
});
</script>
<style lang="scss" scoped></style>
