<template>
  <div>
    <div class="max-w-4xl mx-10">
      <StxCard>
        <b-container class="my-10 mx-auto md:px-10">
          <stx-section-header :title="title"></stx-section-header>
          <div class="flex justify-content-end items-center">
            <stx-small-button
              path="client.index"
              label="Clients List"
              bg="bg-brand-200"
              :moreclasses="['bg-brand-400']"
            ></stx-small-button>
            <stx-delete-button
              v-if="client && client.id"
              :id="client.id"
              @tap="resetForm"
              path="client.destroy"
            ></stx-delete-button>
          </div>
          <b-form @submit.prevent="submit">
            <!-- <div class="justify-between flex">
              <stx-header>Enrollee Details:</stx-header>
              <stx-header
                >Linked Principal: {{ principal ? principal.id : "" }}
              </stx-header>
            </div> -->
            <!-- <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-6"> -->
            <div class="flex gap-6 justify-between flex-col md:flex-row  mt-5 ">
              <div>
                <principal-photo
                  v-if="client && client.id"
                  classes="w-28 h-28 rounded"
                  :photoData="client"
                  url="client.upload"
                />
              </div>
              <!-- <div
              class="md:col-span-2 lg:col-span-3 md:grid-cols-2 lg:grid-cols-3 grid gap-6"
            > -->
              <div
                class="flex gap-6 justify-start md:justify-end md:items-center flex-col md:flex-row   "
              >
                <!-- <b-form-group
                  label="Enrollee/Client Type:"
                  label-for="input-1"
                  :invalid-feedback="form.errors.enrollee_type_id"
                  :state="!form.errors.enrollee_type_id"
                >
                  <b-form-select
                    id="client-enrollee_type_id"
                    v-model="form.enrollee_type_id"
                    :options="enrolleeTypesMap"
                    :state="!form.errors.enrollee_type_id ? null : false"
                  ></b-form-select>
                </b-form-group> -->
                <b-form-group
                  label="Registration Date:"
                  label-for="client-registration_date"
                  :invalid-feedback="form.errors.registration_date"
                  :state="!form.errors.registration_date"
                >
                  <date-picker
                    v-model="form.registration_date"
                    valueType="format"
                    class="w-full"
                  ></date-picker>
                </b-form-group>
                <!-- <b-form-group
                  v-if="client && client.id"
                  id="client-group-id_card_numer"
                  label="ID Card Number"
                  label-for="client_input-id_card_numer"
                  :invalid-feedback="form.errors.id_card_numer"
                  :state="!form.errors.id_card_numer"
                >
                  <b-form-input
                    id="client_input-id_card_number"
                    v-model="form.id_card_number"
                    type="text"
                    :state="!form.errors.id_card_number ? null : false"
                  ></b-form-input
                ></b-form-group> -->
              </div>
            </div>
            <stx-header>Personal Details:</stx-header>
            <div class="grid md:grid-cols-3 gap-6 items-end">
              <b-form-group
                id="client-group-name"
                label="Company/Organization Name:"
                label-for="client_input-name"
                :invalid-feedback="form.errors.name"
                :state="!form.errors.name"
                class="col-span-3 md:col-span-1"
              >
                <b-form-input
                  id="client_input-name"
                  v-model="form.name"
                  type="text"
                  :state="!form.errors.name ? null : false"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                id="client-group-policy_number"
                label="Policy Number:"
                label-for="client_input-policy_number"
                :invalid-feedback="form.errors.policy_number"
                :state="!form.errors.policy_number"
              >
                <b-form-input
                  id="client_input-policy_number"
                  v-model="form.policy_number"
                  type="text"
                  :state="!form.errors.policy_number ? null : false"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                id="client-group-policy_code"
                label="Policy Code:"
                label-for="client_input-policy_code"
                :invalid-feedback="form.errors.policy_code"
                :state="!form.errors.policy_code"
              >
                <b-form-input
                  id="client_input-policy_code"
                  v-model="form.policy_code"
                  type="text"
                  :state="!form.errors.policy_code ? null : false"
                ></b-form-input>
              </b-form-group>
              <!-- <b-form-group
                id="client-group-middle_name"
                label="Midle Name:"
                label-for="client_input-middle_name"
                :invalid-feedback="form.errors.middle_name"
                :state="!form.errors.middle_name"
              >
                <b-form-input
                  id="client_input-middle_name"
                  v-model="form.middle_name"
                  type="text"
                  :state="!form.errors.middle_name ? null : false"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                id="client-group-last_name"
                label="Last Name:"
                label-for="client_input-last_name"
                :invalid-feedback="form.errors.last_name"
                :state="!form.errors.last_name"
              >
                <b-form-input
                  id="client_input-last_name"
                  v-model="form.last_name"
                  type="text"
                  :state="!form.errors.last_name ? null : false"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label="Sex/Gender"
                id="input-group-4"
                v-slot="{ ariaDescribedby }"
              >
                <b-form-radio-group
                  v-model="form.sex"
                  :aria-describedby="ariaDescribedby"
                >
                  <b-form-radio value="Male">Male</b-form-radio>
                  <b-form-radio value="Female">Female</b-form-radio>
                </b-form-radio-group>
              </b-form-group> -->
              <!-- <b-form-group
                label="Date of Birth:"
                label-for="client-date_of_birth"
                :invalid-feedback="form.errors.date_of_birth"
                :state="!form.errors.date_of_birth"
              >
                <date-picker
                  v-model="form.date_of_birth"
                  valueType="format"
                  class="w-full"
                ></date-picker>
              </b-form-group> -->
            </div>
            <stx-header>Contact Details:</stx-header>
            <!-- <div>
              <b-form-group
                class="my-5"
                id="client-group-same_address_as_principal"
                label-for="client_input-same_address_as_principal"
                :invalid-feedback="form.errors.same_address_as_principal"
                :state="!form.errors.same_address_as_principal"
              >
                <b-form-checkbox
                  id="client_input-same_address_as_principal"
                  v-model="form.same_address_as_principal"
                  type="same_address_as_principal"
                  :state="!form.errors.same_address_as_principal ? null : false"
                  >Contact Details are same :</b-form-checkbox
                >
              </b-form-group>
            </div> -->

            <div v-if="!form.same_address_as_principal">
              <div class="grid md:grid-cols-3 gap-6">
                <b-form-group
                  class="col-span-2"
                  id="client-group-email"
                  label="Email:"
                  label-for="client_input-email"
                  :invalid-feedback="form.errors.email"
                  :state="!form.errors.email"
                >
                  <b-form-input
                    id="client_input-email"
                    v-model="form.email"
                    type="email"
                    :state="!form.errors.email ? null : false"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  id="client-group-telephone"
                  label="Telephone:"
                  label-for="client_input-telephone"
                  :invalid-feedback="form.errors.telephone"
                  :state="!form.errors.telephone"
                >
                  <b-form-input
                    id="client_input-telephone"
                    v-model="form.telephone"
                    type="text"
                    :state="!form.errors.telephone ? null : false"
                  ></b-form-input>
                </b-form-group>
              </div>
              <div class="grid md:grid-cols-2 gap-6">
                <b-form-group
                  class="col-span-2"
                  id="client-group-address"
                  label="Address:"
                  label-for="client_input-address"
                  :invalid-feedback="form.errors.address"
                  :state="!form.errors.address"
                >
                  <b-form-input
                    id="client_input-address"
                    v-model="form.address"
                    type="text"
                    :state="!form.errors.address ? null : false"
                  ></b-form-input>
                </b-form-group>
              </div>
              <div class="grid md:grid-cols-2 lg:grid-cols-2 gap-6">
                <b-form-group
                  id="client-group-country"
                  label="Country:"
                  label-for="client_input-country"
                  :invalid-feedback="form.errors.country"
                  :state="!form.errors.country"
                >
                  <b-form-select
                    id="client_input-country"
                    v-model="form.country"
                    type="text"
                    :state="!form.errors.country ? null : false"
                    :options="countriesOptions"
                  ></b-form-select>
                </b-form-group>
                <b-form-group
                  id="client-group-state"
                  label="State:"
                  label-for="client_input-state"
                  :invalid-feedback="form.errors.state"
                  :state="!form.errors.state"
                >
                  <b-form-select
                    v-if="stateOptions.length"
                    id="client_input-state"
                    v-model="form.state"
                    type="text"
                    :state="!form.errors.state ? null : false"
                    :options="stateOptions"
                  ></b-form-select>
                  <b-form-input
                    v-if="!stateOptions.length"
                    id="client_input-state2"
                    v-model="form.state"
                    type="text"
                    :state="!form.errors.state ? null : false"
                    :options="stateOptions"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  class=""
                  id="client-group-city"
                  label="City:"
                  label-for="client_input-city"
                  :invalid-feedback="form.errors.city"
                  :state="!form.errors.city"
                >
                  <b-form-select
                    v-if="lgaOptions.length"
                    id="client_input-city"
                    v-model="form.city"
                    type="text"
                    :state="!form.errors.city ? null : false"
                    :options="lgaOptions"
                  ></b-form-select>
                  <b-form-input
                    v-if="!lgaOptions.length"
                    id="client_input-city2"
                    v-model="form.city"
                    type="text"
                    :state="!form.errors.city ? null : false"
                    :options="lgaOptions"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  class=""
                  id="client-group-zip_code"
                  label="Zip Code:"
                  label-for="client_input-zip_code"
                  :invalid-feedback="form.errors.zip_code"
                  :state="!form.errors.zip_code"
                >
                  <b-form-input
                    id="client_input-zip_code"
                    v-model="form.zip_code"
                    type="text"
                    :state="!form.errors.zip_code ? null : false"
                    :options="lgaOptions"
                  ></b-form-input>
                </b-form-group>
              </div>
            </div>

            <stx-header>History:</stx-header>
            <div class="grid md:grid-cols-2 gap-6">
              <!-- <b-form-group
                class=""
                id="client-group-medical_condition"
                label="Existing Medical Condition:"
                label-for="client_input-medical_condition"
                :invalid-feedback="form.errors.medical_condition"
                :state="!form.errors.medical_condition"
              >
                <b-form-textarea
                  id="client_input-medical_condition"
                  v-model="form.medical_condition"
                  :state="!form.errors.medical_condition ? null : false"
                  rows="6"
                ></b-form-textarea>
              </b-form-group> -->

              <b-form-group
                id="client-group-about"
                label="About/Description:"
                label-for="client_input-about"
                :invalid-feedback="form.errors.about"
                :about="!form.errors.about"
              >
                <b-form-textarea
                  id="client_input-about"
                  v-model="form.about"
                  :state="!form.errors.about ? null : false"
                  rows="6"
                ></b-form-textarea>
              </b-form-group>
            </div>

            <b-button
              type="submit"
              variant="primary"
              :disabled="form.processing"
              ><b-spinner small v-if="form.processing"></b-spinner>
              Submit</b-button
            >
            <b-button
              type="reset"
              @click="form.reset()"
              variant="danger"
              class="text-white"
              >Reset</b-button
            >
          </b-form>
        </b-container>
      </StxCard>

      <!-- <b-card class="mt-3" header="Form Data Result">
                <pre class="m-0">{{ form }}</pre>
            </b-card> -->
    </div>
  </div>
</template>
<script >
import {
  defineComponent,
  reactive,
  toRefs,
  computed
} from "@vue/composition-api";
import moment from "moment";
import StxHeader from "@/components/StxHeader.vue";
import StxLabel from "@/components/StxLabel.vue";
import ErrorMessage from "@/components/ErrorMessage.vue";
import { countries } from "countries-list";
import NaijaStates from "naija-state-local-government";
import Swal from "sweetalert2";
import StxSectionHeader from "@/components/StxSectionHeader.vue";
import StxDeleteButton from "@/components/StxDeleteButton.vue";
import StxSmallButton from "@/components/StxSmallButton.vue";
import PrincipalPhoto from "../Principal/PrincipalPhoto.vue";
import _ from "lodash";

export default defineComponent({
  name: "clientform",
  metaInfo: { title: "Enrollee Management System | Principals" },
  components: {
    StxLabel,
    StxHeader,
    ErrorMessage,
    StxSectionHeader,
    StxDeleteButton,
    StxSmallButton,
    PrincipalPhoto
  },
  props: {
    errors: {
      type: Object
    },
    principal: {
      type: Object
    },
    client: {
      type: Object
    },
    enrolleetypes: {
      type: Array
    }
  },
  data() {
    return {
      size: 0,
      title: "Register New Client",
      // @ts-ignore
      form: this.$inertia.form({
        registration_date: moment([]).format("YYYY-MM-DD"),
        name: "",
        policy_number: "",
        policy_code: "",
        email: "",
        telephone: "",
        address: "",
        zip_code: "",
        city: "Port-Harcourt",
        state: "Rivers",
        country: "NG",
        about: "",
        photo: ""
      }),
      //   enrolleeTypes: [
      //     { value: 1, text: "StewardXpress" },
      //     { value: 2, text: "fduos Group" }
      //   ],
      show: true
    };
  },
  mounted() {
    // @ts-ignore
    console.log(this.enrolleeTypesMap);
    this.loadDefaultValues();
  },
  computed: {
    enrolleeTypesMap() {
      const enrolleetypes = [];
      this.enrolleetypes?.forEach((item) => {
        if (item.id > 1) {
          enrolleetypes.push({ value: item.id, text: item.type });
        }
      });
      return enrolleetypes;
    },
    countriesOptions() {
      const countriesOptions = [];
      _.forOwn(countries, (value, key) => {
        countriesOptions.push({ value: key, text: value.name });
      });
      return countriesOptions;
    },
    lgaOptions() {
      if (NaijaStates.states().includes(this.form.state)) {
        const lgas = NaijaStates.lgas(this.form.state).lgas;
        if (lgas.includes(this.form.city) === false) this.form.city = "";
        return this.form.state ? lgas : [];
      }
      return [];
    },
    stateOptions() {
      if (this.form.country !== "NG") {
        this.form.state = "";
        this.form.city = "";
      }
      return this.form.country == "NG" ? NaijaStates.states() : [];
    }
  },
  methods: {
    resetForm(value) {
      this.loadDefaultValues();
      console.log("reseting form...", value);
    },
    showToast(title, icon) {
      Swal.fire({
        position: "top-right",
        icon: icon,
        title: title,
        showConfirmButton: false,
        toast: true,
        timer: 2500
      });
    },
    loadDefaultValues() {
      if (this.client && this.client.id) {
        console.log("Editing");
        this.title = "Edit Client Record";

        this.form.name = this.client.name;
        this.form.registration_date = this.client.registration_date;
        this.form.policy_number = this.client.policy_number;
        this.form.policy_code = this.client.policy_code;
        this.form.email = this.client.email;
        this.form.telephone = this.client.telephone;
        this.form.address = this.client.address;
        this.form.zip_code = this.client.zip_code;
        this.form.city = this.client.city;
        this.form.state = this.client.state;
        this.form.country = this.client.country;
        this.form.about = this.client.about;
        this.form.photo = this.client.photo;
      } else {
        this.title = "Create New Client Record";
        // if (this.principal) {
        //   console.log("######", this.principal);
        //   this.form.client_id = this.principal.id;
        //   this.form.same_address_as_principal = false;
        //   this.form.email = this.principal.email;
        //   this.form.telephone = this.principal.telephone;
        //   this.form.address = this.principal.address;
        //   this.form.zip_code = this.principal.zip_code;
        //   this.form.city = this.principal.city;
        //   this.form.state = this.principal.state;
        //   this.form.country = this.principal.country;
        // }
        console.log("Creating");
      }
    },
    submit() {
      //   if (this.form.name) {
      const stxInertia = this.$inertia;
      const stxRoute = this.route;
      // console.log ({...this.principal, _token: document.head.querySelector('meta[name="csrf-token"]').getAttribute('content')})
      this.size = 0;

      if (this.client && !this.client.id) {
        console.log("@@@@@", this.client);
        this.form.post(stxRoute("client.store"), {
          preserveScroll: true,
          errorBag: "ClientBag",
          onStart: () => {
            this.form.clearErrors();
            console.log("Started");
          },
          onSuccess: res => {
            console.log("MY RESPONSE", res);
            this.form.reset();
            this.showToast("Record has been saved", "success");
          },
          onError: err => {
            console.log("THERE WAS AN ERROR", err);
            this.showToast("There was an error", "error");
          },
          onFinish: fin => {
            console.log("ALL DONE");
          }
        });
      }
      if (this.client && this.client.id) {
        console.log(this.form);
        this.form.put(stxRoute("client.update", this.client.id), {
          preserveScroll: true,
          errorBag: "ClientBag",
          onStart: () => {
            console.log("Started");
            this.form.clearErrors();
          },
          onSuccess: res => {
            console.log("MY RESPONSE", res);
            // this.form.reset();
            this.showToast("Record has been saved", "success");
          },
          onError: err => {
            console.log("THERE WAS AN ERROR", err);
            this.showToast("There was an error", "error");
          },
          onFinish: fin => {
            console.log("ALL DONE");
          }
        });
      }
      //   }
    }
  },
  watch: {
    // "$page.flash": {
    //   handler() {
    //     this.show = true;
    //     console.log("FLASHER", this.$page);
    //   },
    //   deep: true
    // },
    // errors: {
    //   immediate: true,
    //   deep: true,
    //   handler(val) {
    //     console.log("WATCHER", val);
    //   }
    // }
  }
  //   setup(props) {
  //     const state = reactive({

  //     });

  //     function submit(){

  //     }

  //     return {
  //       ...toRefs(state),
  //       submit
  //     };
  //   }
});
</script>
<style lang="scss" scoped></style>
