<template>
<div>
    <module-links :id="activeData.id"  />

  <div class="p-3 mb-10 bg-white rounded-2xl shadow-lg w-full">
    <b-form @submit.stop.prevent="saveChanges" class=" w-full">
      <div
        class="fixed top-0 right-0 rounded-bl-xl bg-gray-700 p-4 border-b border-gray-200 w-auto z-50"
      >
        <button
          type="submit"
          :disabled="busy"
          class="rounded bg-brand-500 text-white py-1 px-3 focus:outline-none hover:bg-brand-400 mr-2"
        >
          Save Changes
        </button>
        <button
          @click="loadDefaults()"
          type="button"
          :disabled="busy"
          class="rounded bg-brand-300 text-white py-1 px-3 focus:outline-none hover:bg-brand-500"
        >
          Reset
        </button>
      </div>
      <div class="flex justify-between  mt-2">
        <div>
          <div class="text-2xl font-poppins font-bold mt-2">
            <span class="font-light"> Location Name:</span>
          </div>
        </div>
      </div>
      <stx-view-item title="Description/Status" look="style2" />
      <div class="grid lg:grid-cols-4 gap-6">
        <b-form-group

          id="assetData-group-name"
          label="Location Name"
          label-for="___input-name"
          :invalid-feedback="form.errors.name"
          :state="!form.errors.name"
          class="col-span-2"
        >
          <b-form-input
            id="___input-name"
            v-model="form.name"
            type="text"
            :state="!form.errors.name ? null : false"
          ></b-form-input
        ></b-form-group>
        <b-form-group

          id="assetData-group-short_name"
          label="Short Name"
          label-for="___input-short_name"
          :invalid-feedback="form.errors.short_name"
          :state="!form.errors.short_name"
          class="w-auto"
        >
          <b-form-input
            id="___input-short_name"
            v-model="form.short_name"
            type="text"
            :state="!form.errors.short_name ? null : false"
          ></b-form-input
        ></b-form-group>
        <b-form-group

          id="assetData-group-is_operating"
          label="Is Operating?"
          label-for="___input-is_operating"
          :invalid-feedback="form.errors.is_operating"
          :state="!form.errors.is_operating"
          class="w-full"
        >
          <b-form-checkbox
            id="___input-is_operating"
            :value="1"
            :unchecked-value="0"
            v-model="form.is_operating"
            :state="!form.errors.is_operating ? null : false"
          ></b-form-checkbox
        ></b-form-group>
      </div>
      <stx-view-item title="Contact Address" look="style2" />
      <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
        <b-form-group

          id="assetData-group-address"
          label="Address"
          label-for="___textarea-address"
          :invalid-feedback="form.errors.address"
          :state="!form.errors.address"
        >
          <b-form-input
            id="___input-address"
            v-model="form.address"
            type="text"
            :state="!form.errors.address ? null : false"
          ></b-form-input
        ></b-form-group>
        <b-form-group

          id="assetData-group-city"
          label="City"
          label-for="___input-city"
          :invalid-feedback="form.errors.city"
          :state="!form.errors.city"
          class="w-full"
        >
          <b-form-input
            id="___input-city"
            v-model="form.city"
            type="text"
            :state="!form.errors.city ? null : false"
          ></b-form-input
        ></b-form-group>

        <b-form-group

          id="assetData-group-State"
          label="State"
          label-for="___input-State"
          :invalid-feedback="form.errors.State"
          :state="!form.errors.State"
          class="w-full"
        >
          <b-form-input
            id="___input-State"
            v-model="form.State"
            type="text"
            :state="!form.errors.State ? null : false"
          ></b-form-input
        ></b-form-group>

        <b-form-group

          id="assetData-group-country"
          label="Country"
          label-for="___input-country"
          :invalid-feedback="form.errors.country"
          :state="!form.errors.country"
          class="w-full"
        >
          <b-form-input
            id="___input-country"
            v-model="form.country"
            type="text"
            :state="!form.errors.country ? null : false"
          ></b-form-input
        ></b-form-group>
      </div>
      <stx-view-item title="Communications" look="style2" />
      <div class="grid md:grid-cols-4 gap-6">
        <b-form-group

          id="assetData-group-email"
          label="Email"
          label-for="___input-email"
          :invalid-feedback="form.errors.email"
          :state="!form.errors.email"
          class="w-full col-span-2"
        >
          <b-form-input
            id="___input-email"
            v-model="form.email"
            type="email"
            :state="!form.errors.email ? null : false"
          ></b-form-input
        ></b-form-group>
        <b-form-group

          id="assetData-group-mobile"
          label="Mobile"
          label-for="___input-mobile"
          :invalid-feedback="form.errors.mobile"
          :state="!form.errors.mobile"
          class="w-full"
        >
          <b-form-input
            id="___input-mobile"
            v-model="form.mobile"
            type="text"
            :state="!form.errors.mobile ? null : false"
          ></b-form-input
        ></b-form-group>

        <!-- <b-form-group

                    id="assetData-group-manufactured_at"
                    label="Manufactured Date"
                    label-for="___input-manufactured_at"
                    :invalid-feedback="form.errors.manufactured_at"
                    :state="!form.errors.manufactured_at"
                    class="w-full"
                >
                    <date-picker
                        v-model="form.manufactured_at"
                        valueType="format"
                        class="w-full"
                        :class="{
                            'border-2 rounded border-red-500': !!form.errors
                                .manufactured_at
                        }"
                    ></date-picker>
                </b-form-group> -->

        <b-form-group

          id="assetData-group-phone_1"
          label="Phone 1"
          label-for="___input-phone_1"
          :invalid-feedback="form.errors.phone_1"
          :state="!form.errors.phone_1"
          class="w-full"
        >
          <b-form-input
            id="___input-phone_1"
            v-model="form.phone_1"
            type="text"
            :state="!form.errors.phone_1 ? null : false"
          ></b-form-input
        ></b-form-group>

        <b-form-group

          id="assetData-group-phone_2"
          label="Phone 2"
          label-for="___input-phone_2"
          :invalid-feedback="form.errors.phone_2"
          :state="!form.errors.phone_2"
          class="w-full"
        >
          <b-form-input
            id="___input-phone_2"
            v-model="form.phone_2"
            type="text"
            :state="!form.errors.phone_2 ? null : false"
          ></b-form-input
        ></b-form-group>

        <b-form-group

          id="assetData-group-fax"
          label="Fax"
          label-for="___input-fax"
          :invalid-feedback="form.errors.fax"
          :state="!form.errors.fax"
          class="w-full"
        >
          <b-form-input
            id="___input-fax"
            v-model="form.fax"
            type="text"
            :state="!form.errors.fax ? null : false"
          ></b-form-input></b-form-group
        ><b-form-group

          id="assetData-group-zip_code"
          label="Zip/Postal Code"
          label-for="___input-zip_code"
          :invalid-feedback="form.errors.zip_code"
          :state="!form.errors.zip_code"
          class="w-full"
        >
          <b-form-input
            id="___input-zip_code"
            v-model="form.zip_code"
            type="text"
            :state="!form.errors.zip_code ? null : false"
          ></b-form-input
        ></b-form-group>
      </div>
      <stx-view-item title="Group" look="style2" />
      <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6">
        <b-form-group

          id="assetData-group-category"
          label="Category"
          label-for="___input-category"
          :invalid-feedback="form.errors.category"
          :state="!form.errors.category"
          class="w-full"
        >
          <b-form-input
            id="___input-category"
            v-model="form.category"
            type="text"
            :state="!form.errors.category ? null : false"
          ></b-form-input
        ></b-form-group>
      </div>
    </b-form>
  </div>
  </div>
</template>

<script>
import StxViewItem from "@/components/StxViewItem";
import Swal from "sweetalert2";
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  props: {
    activeData: {
      type: Object,
      required: true
    }
  },
  components: {
    StxViewItem
  },
  data() {
    return {
      busy: false,
      form: this.$inertia.form({
        id: -1,
        name: "",
        short_name: "",
        address: "",
        city: "",
        state: "",
        country: "NG",
        email: "",
        mobile: "",
        phone_1: "",
        phone_2: "",
        fax: "",
        postal_zip: "",
        category: "",
        is_operating: 1
      })
    };
  },
  mounted() {
    this.loadDefaults();
  },
  computed: {
    data() {
      return this.activeData;
    }
  },
  methods: {
    showToast(title, icon) {
      Swal.fire({
        position: "top-right",
        icon: icon,
        title: title,
        showConfirmButton: false,
        toast: true,
        timer: 2500
      });
    },
    saveChanges() {
      const response = {
        preserveScroll: true,
        errorBag: "bag",
        onStart: () => {
          console.log("Started");
          this.busy = true;
        },
        onSuccess: res => {
          console.log("RESPONSE", res);
          this.form.reset();
          this.showToast("Record has been added successfully", "success");
        },
        onError: err => {
          console.log("THERE WAS AN ERROR", err);
          this.showToast("An error occurred!", "error");
        },
        onFinish: () => {
          console.log("Finished");
          this.busy = false;
        }
      };

      if (this.form.id > 0) {
        this.form.put(route("locations.update", this.form.id), response);
      } else {
        this.form.post(route("locations.store"), response);
      }
    },
    loadDefaults() {
      //   this.form = {
      (this.form.id = this.activeData.id || "-1"),
        (this.form.name = this.activeData.name || ""),
        (this.form.short_name = this.activeData.short_name || ""),
        (this.form.address = this.activeData.address || ""),
        (this.form.city = this.activeData.city || "Victoria Island"),
        (this.form.state = this.activeData.state || "Lagos"),
        (this.form.country = this.activeData.country || "NG"),
        (this.form.email = this.activeData.email || ""),
        (this.form.mobile = this.activeData.mobile || ""),
        (this.form.phone_1 = this.activeData.phone_1 || ""),
        (this.form.phone_2 = this.activeData.phone_2 || ""),
        (this.form.fax = this.activeData.fax || ""),
        (this.form.postal_zip = this.activeData.postal_zip || ""),
        (this.form.category = this.activeData.category || ""),
        (this.form.is_operating = this.activeData.is_operating);
      //   };
    }
  }
});
</script>

<style lang="scss" scoped></style>
