<template>
  <div>
    <!-- <div>{{ tableData.links }}</div> -->
    <!-- <div>{{ tableData.data }}</div> -->

    <div class="form-group">
      <label for=""></label>
      <b-input-group
        size="md"
        prepend="Filter"
      >
        <input
          type="text"
          class="form-control"
          v-model="filter"
          aria-describedby="helpId"
          placeholder=""
          prepend="search"
        />
      </b-input-group>
      <small id="helpId" class="form-text text-muted">Filter Records</small>
    </div>
    <!-- :per-page="tableData.per_page" -->

    <div class="bg-white p-3 rounded-xl shadow-md">
      <b-pagination
        v-model="currentPage"
        :total-rows="tableData_length"
        :per-page="per_page"
        aria-controls="my-table"
        align="right"
      ></b-pagination>
      <b-table
        stacked="md"
        :items="tableData"
        :fields="fields"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        responsive="xl"
        primary-key="id"
        :current-page="currentPage"
        :per-page="per_page"
        :filter="filter"
        striped
        bordered
        selectMode="single"
        class="text-sm"
      >
        <template #cell(action)="data">
          <div class="whitespace-nowrap">
            <b-button
              v-b-modal.stxviewmodal
              pill
              variant="secondary"
              size="sm"
              @click="
                mode = 'view';
                activeData = data.item;
              "
              class="mr-2"
            >
              <b-icon icon="eye" class="mr-1"></b-icon> View</b-button
            >
            <b-button
              pill
              variant="primary"
              size="sm"
              :href="route('locations.edit', data.item.id)"
              ><b-icon icon="pencil-square" class="mr-1"></b-icon>
              Edit</b-button
            >
          </div>
          <!-- <button :id="data.item.id" class="m-1" path="location.edit">Edit</button> -->
        </template>
      </b-table>
      <b-pagination
        v-model="currentPage"
        :total-rows="tableData_length"
        :per-page="per_page"
        aria-controls="my-table"
        align="right"
      ></b-pagination>
    </div>
    <div>
      <!-- Modal Starts -->
      <b-modal
        id="stxviewmodal"
        :title="mode.toUpperCase()"
        size="lg"
        hide-footer
        no-close-on-backdrop
      >
        <location-form v-if="mode == 'edit'" :activeData="activeData" />
        <location-view v-if="mode == 'view'" :activeData="activeData" />
      </b-modal>
      <!-- Modal Ends -->
    </div>
    <!-- <div class="m-2">
      <inertia-link
        v-for="(item, index) in tableData.links"
        :key="index"
        v-html="item.label"
        class="py-2 px-3 bg-red-200 rounded mr-1 text-xs no-underline text-black hover:no-underline hover:bg-red-100"
        :class="{ 'bg-red-600 text-white': item.active }"
        :href="item.url"
      >
      </inertia-link>    </div> -->
  </div>
</template>

<script>
import { defineComponent } from "@vue/composition-api";
import StxViewItem from "@/components/StxViewItem";
import LocationView from "./LocationView";
import LocationForm from "./LocationForm.vue";

export default defineComponent({
  props: {
    locations: Array
  },
  components: {
    StxViewItem,
    LocationView,
    LocationForm
  },
  data() {
    return {
      mode: "edit",
      activeData: {},
      filter: "",
      sortBy: "id",
      sortDesc: true,
      currentPage: 1,
      per_page: 20,
      fields: [
        { key: "action", sortable: false },
        { key: "id", sortable: true },
        { key: "name", label: "Item", sortable: true },
        { key: "short_name", sortable: true },
        { key: "city", label: "City", sortable: true },
        { key: "state", sortable: true },
        { key: "email", sortable: true },
        { key: "mobile", sortable: true },
        { key: "phone_1", sortable: true },
        { key: "phone_2", label: "Phone Alternate", sortable: true }
      ]
    };
  },
  computed: {
    tableData() {
    //   console.log(JSON.stringify(this.locations, null, 2));
      return this.locations;
    },
    tableData_length(){
        return this.locations ? this.locations.length : 0;
    }
  }
});
</script>

<style lang="scss" scoped>
</style>
