<template>
  <div>
        <module-links :id="activeData.id"  />
    <div class="px-4 py-6 mb-10 bg-white max-w-4xl rounded-xl shadow-md">
      <h2>Locations</h2>
      <div class="mb-4 mt-2 border-t border-gray-200"></div>
      <stx-view-item title="Description" look="style2" />
      <div class="grid md:grid-cols-2 gap-6">
        <stx-view-item title="Name">{{ data.name }}</stx-view-item>
        <stx-view-item title="Short Name">{{ data.short_name }}</stx-view-item>
      </div>
      <stx-view-item title="Status" look="style2" />
      <div class="grid md:grid-cols-2 gap-6">
        <stx-view-item title="Is Operating?">{{
          data.is_operating == 1 ? "Yes" : "No"
        }}</stx-view-item>
        <stx-view-item title="Category">{{ data.category }}</stx-view-item>
      </div>
      <stx-view-item title="Contact Details" look="style2" />
      <div class="grid md:grid-cols-2 gap-6">
        <stx-view-item title="Address">{{ data.address }}</stx-view-item>
        <stx-view-item title="City">{{ data.city }}</stx-view-item>
        <stx-view-item title="State">{{ data.state }}</stx-view-item>
        <stx-view-item title="Country">{{ data.country }}</stx-view-item>
        <stx-view-item title="Email">{{ data.email }}</stx-view-item>
        <stx-view-item title="Mobile">{{ data.mobile }}</stx-view-item>
        <stx-view-item title="Phone 1">{{ data.phone_1 }}</stx-view-item>
        <stx-view-item title="Phone 2">{{ data.phone_2 }}</stx-view-item>
        <stx-view-item title="Zip/Postal code">{{
          data.postal_zip
        }}</stx-view-item>
        <stx-view-item title="Fax">{{ data.fax }}</stx-view-item>
      </div>
    </div>
  </div>
</template>

<script>
import StxViewItem from "@/components/StxViewItem";
import Swal from "sweetalert2";
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  props: {
    activeData: {
      type: Object,
      required: true
    }
  },
  components: {
    StxViewItem
  },
  data() {
    return {
      busy: false,
      form: this.$inertia.form({
        id: -1,
        name: "",
        short_name: "",
        address: "",
        city: "Victoria Island",
        state: "Lagos",
        country: "NG",
        email: "",
        mobile: "",
        phone_1: "",
        phone_2: "",
        fax: "",
        postal_zip: "",
        category: "",
        is_operating: 1
      })
    };
  },
  mounted() {
    this.loadDefaults();
  },
  computed: {
    data() {
      return this.activeData;
    }
  },
  methods: {
    showToast(title, icon) {
      Swal.fire({
        position: "top-right",
        icon: icon,
        title: title,
        showConfirmButton: false,
        toast: true,
        timer: 2500
      });
    },
    saveChanges() {
      const response = {
        preserveScroll: true,
        errorBag: "bag",
        onStart: () => {
          console.log("Started");
          this.busy = true;
        },
        onSuccess: res => {
          console.log("RESPONSE", res);
          this.form.reset();
          this.showToast("Record has been added successfully", "success");
        },
        onError: err => {
          console.log("THERE WAS AN ERROR", err);
          this.showToast("An error occurred!", "error");
        },
        onFinish: () => {
          console.log("Finished");
          this.busy = false;
        }
      };

      if (this.form.id > 0) {
        this.form.put(route("locations.update", this.form.id), response);
      } else {
        this.form.post(route("locations.store"), response);
      }
    },
    loadDefaults() {
      //   this.form = {
      (this.form.id = this.activeData.id || "-1"),
        (this.form.name = this.activeData.name || ""),
        (this.form.short_name = this.activeData.short_name || ""),
        (this.form.address = this.activeData.address || ""),
        (this.form.city = this.activeData.city || "Victoria Island"),
        (this.form.state = this.activeData.state || "Lagos"),
        (this.form.country = this.activeData.country || "NG"),
        (this.form.email = this.activeData.email || ""),
        (this.form.mobile = this.activeData.mobile || ""),
        (this.form.phone_1 = this.activeData.phone_1 || ""),
        (this.form.phone_2 = this.activeData.phone_2 || ""),
        (this.form.fax = this.activeData.fax || ""),
        (this.form.postal_zip = this.activeData.postal_zip || ""),
        (this.form.category = this.activeData.category || ""),
        (this.form.is_operating = this.activeData.is_operating);
      //   };
    }
  }
});
</script>

<style lang="scss" scoped></style>
