<template>
  <app-layout>
    <div class="m-3">
      <b-container fluid>
        <h3 class="text-xl m-3">Location Register</h3>
        <count-card
          header="Locations"
          description="Place where all assets and consumables are kept"
          icon="geo-alt"
          :count="count"
          createRoute="locations.create"
          indexRoute="locations.index"/>
        <LocationTable v-if="display === 'table'" :locations="locations"/>
        <LocationView v-if="display === 'view'" :activeData="activeData"/>
        <LocationForm v-if="display === 'form'" :activeData="activeData"
      /></b-container></div
  ></app-layout>
</template>

<script>
import LocationTable from "./LocationTable.vue";
import LocationView from "./LocationView.vue";
import LocationForm from "./LocationForm.vue";
import { defineComponent } from "@vue/composition-api";
import AppLayout from "@/Layouts/AppLayout.vue";
import CountCard from "@/components/CountCard.vue";

export default defineComponent({
  name: "Location_Home",
  props: {
    locations: Array,
    count: Number,
    activeData: Object,
    display: {
      type: String,
      default: "table"
    }
  },
  components: {
    LocationTable,
    LocationView,
    LocationForm,
    AppLayout,
    CountCard
  },

  mounted() {
    document.title = `Location ${this.display} | Assets Management`;
    console.log(this.locations);
  }
});
</script>

<style lang="scss" scoped>
</style>
