import { computed } from '@vue/composition-api';
<template>
  <div>
    <div @click="show = !show" class="block">
      <b-img-lazy
        :src="dataTypeChecked.photo"
        class="bg-brand-200  focus:outline-none cursor-pointer"
        :class="classes"
      ></b-img-lazy>
    </div>
    <b-modal v-model="show" :title="fullname" centered ok-only hide-footer>
      <div class="relative">
        <b-progress
          :value="progress"
          :max="100"
          show-progress
          animated
          class="relative top-0 left-0 z-50"
        ></b-progress>
        <div
          v-if="image"
          class="  w-full h-full bg-brand-200  object-fill z-20"
          :style="`background-image: url(${image}); background-size: cover;`"
        >
          <img
            :src="image"
            class="w-full h-auto rounded bg-brand-200 focus:outline-none z-10 object-cover"
          />
        </div>
        <b-img-lazy
          v-else
          :src="dataTypeChecked.photo"
          class=" w-full h-auto rounded bg-brand-200 focus:outline-none z-10"
        ></b-img-lazy>
      </div>
      <b-form @submit.prevent="submit" class="mx-auto">
        <b-form-invalid-feedback
          :state="!form.hasErrors"
          class="my-3 font-bold"
        >
          {{ form.errors.file }}
        </b-form-invalid-feedback>
        <div class="bg-brand-200">
          <div class="flex justify-between items-center ">
            <div>
              <b-form-file
                type="file"
                accept=".jpg, .png, .gif"
                @change="picked"
                ref="pickfile"
                class="m-2 w-full"
                placeholder="Pick a Passport Photo"
                capture
              />
            </div>
            <div>
              <b-button class="m-2" variant="primary" type="submit"
                >Save</b-button
              >
            </div>
          </div>
        </div>
        <div class="m-3 text-xs">
          Please note that image would be cropped to 413px by 531px
        </div>

        <!-- <pre>{{ form }}</pre> -->
      </b-form>
    </b-modal>
  </div>
</template>

<script >

import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  props: {
    id: Number,
    principalData: Object,
    classes: {
      type: String,
      default: "rounded-full"
    }
  },
  //   stxInertia: this.$inertia,
  data() {
    // const stxRoute = this.route;
    return {
      // @ts-ignore
      form: this.$inertia.form({
        file: null,
        preserveState: true
      }),
      image: null,
      show: false
    };
  },
  mounted() {
    // console.log(this.stxInertia);
    console.log("PHOTO DATA => 91", this.principalData);
    // this.$refs.pickfile.click()
  },
  computed: {
    dataTypeChecked() {
      return this.principalData ;
    },
    progress() {
      return parseInt(this.form.progress?.percentage) || 0;
    },
    fullname() {
      return (
        this.principalData?.first_name +
        " " +
        this.principalData?.middle_name +
        " " +
        this.principalData?.last_name
      );
    }
  },
  methods: {
    submit() {
      const vm = this;
      const stxInertia = this.$inertia;
      const stxRoute = this.route;
      // console.log(this.form);
      this.form.post(stxRoute("principal.upload", this.principalData?.id), {
        preserveState: true,
        onError(err) {
          console.log(err);
        },
        onSuccess(res) {
          console.log("success", "122", res);
          vm.$emit("finished", res);
          vm.show = false;
          // vm.$inertia.reload({only:['principals']})
          // vm.$inertia.get(
          //     // route("principal.index"),
          //     route("principal.edit", vm.principalData.id),
          //     { photo: res.photo },
          //     {
          //         preserveScroll: true,
          //         preserveState: false
          //     }
          // );
        }
      });
    },
    picked(e) {
      this.form.clearErrors();
      const file = window.URL.createObjectURL(e.target.files[0]);
      this.form.file = e.target.files[0];
      this.image = file;
      // this.submit();
    }
  }
});
</script>

<style lang="scss" scoped></style>
