<template>
  <div>
    <div
      class="bg-white shadow-sm sm:rounded-lg font-poppins flex flex-col md:flex-row justify-between py-3 px-3"
    >
      <!-- ID CARD BAR -->
      <div class="font-bold whitespace-nowrap mb-1 my-2">
        {{ itemsList.id_card_number }}
      </div>
      <div class="mx-10"></div>
      <div>
        <div class="flex flex-col md:flex-row  my-1">
          <stx-edit-button
            :id="itemsList.id"
            class="ml-1 my-1"
            path="dependant.edit"
          ></stx-edit-button>
          <!-- <stx-small-button
            class="ml-1 my-1"
            path="dependant.index"
            icon="person-fill"
            label="Add Dependant"
            bg="bg-brand-100"
          ></stx-small-button> -->
          <stx-small-button
            class="ml-1 my-1"
            path="principal.index"
            label="View List"
            bg="bg-brand-100"
          ></stx-small-button>
        </div>
      </div>
    </div>
    <div class="flex gap-8 flex-col md:flex-row ">
      <div
        class="bg-white w-full md:w-auto md:max-w-sm lg:min-w-min-content shadow-sm sm:rounded-lg font-poppins mt-4"
      >
        <principal-photo
          v-if="itemsList && itemsList.id"
          classes="rounded w-full h-auto"
          :photoData="itemsList"
          url="dependant.upload"
        />
        <div class="mt-2 mx-3">
          <stx-section-header
            :title="itemsList.last_name + ', '"
            :subtitle="
              itemsList.first_name + ' ' + (itemsList.middle_name || '')
            "
          ></stx-section-header>

          <barcode
            :idNumber="itemsList.id_card_number"
            class="w-auto"
          ></barcode>

          <id-card :personaldata="itemsList" enrolleetype="dependant"></id-card>

          <stx-view-item> ... </stx-view-item>
        </div>
        <!-- <pre>{{ principal }}</pre> -->
      </div>
      <div class="w-full">
        <!-- SPLIT SECTIONS -->
        <div class="grid grid-col-1  lg:grid-cols-2 mt-4 gap-6">
          <div class="bg-white shadow-sm sm:rounded-lg p-3">
            <stx-view-item title="First Name:">{{
              itemsList.first_name
            }}</stx-view-item>
            <stx-view-item title="Middle Name:">{{
              itemsList.middle_name
            }}</stx-view-item>
            <stx-view-item title="Last Name:">{{
              itemsList.last_name
            }}</stx-view-item>
            <stx-view-item title="Sex/Gender:">{{
              itemsList.sex
            }}</stx-view-item>
            <stx-view-item title="Telephone:">{{
              itemsList.telephone
            }}</stx-view-item>
            <stx-view-item title="Email:">{{ itemsList.email }}</stx-view-item>
            <stx-view-item title="Address:">{{
              itemsList.address
            }}</stx-view-item>
            <stx-view-item title="City:">{{ itemsList.city }}</stx-view-item>
            <stx-view-item title="Zip Code:">{{
              itemsList.zip_code
            }}</stx-view-item>
            <stx-view-item title="State:">{{ itemsList.state }}</stx-view-item>
            <stx-view-item title="Country:">{{
              itemsList.country
            }}</stx-view-item>
          </div>
          <div class="bg-white shadow-sm sm:rounded-lg font-poppins p-3">
            <stx-view-item title="Occupation:">{{
              itemsList.occupation
            }}</stx-view-item>
            <stx-view-item title="Company/Organization:">{{
              itemsList.client_id
            }}</stx-view-item>
            <stx-view-item title="Medical Condition:">{{
              itemsList.medical_condition
            }}</stx-view-item>
            <stx-view-item title="About/Description:">{{
              itemsList.about
            }}</stx-view-item>
          </div>
        </div>
        <div
          class="mt-4 bg-white shadow-sm sm:rounded-lg font-poppins p-3 md:col-span-2 lg:col-span-4"
        >
          Spouse
        </div>
        <div class="grid md:grid-col-2 lg:grid-cols-4 mt-4 gap-6">
          <div class="bg-white shadow-sm sm:rounded-lg font-poppins p-3">
            Child 1
          </div>
          <div class="bg-white shadow-sm sm:rounded-lg font-poppins p-3">
            Child 2
          </div>
          <div class="bg-white shadow-sm sm:rounded-lg font-poppins p-3">
            Child 3
          </div>
          <div class="bg-white shadow-sm sm:rounded-lg font-poppins p-3">
            Child 4
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script >
import Barcode from "@/components/Barcode.vue";
import IdCard from "@/components/IdCard.vue";

import { defineComponent } from "@vue/composition-api";
import StxEditButton from "../../components/StxEditButton.vue";
import StxSectionHeader from "../../components/StxSectionHeader.vue";
import StxSmallButton from "../../components/StxSmallButton.vue";
import StxViewItem from "../../components/StxViewItem.vue";
import PrincipalPhoto from "../Principal/PrincipalPhoto.vue";
export default defineComponent({
  components: {
    PrincipalPhoto,
    StxSectionHeader,
    StxViewItem,
    StxEditButton,
    StxSmallButton,
    Barcode,
    IdCard
  },
  props: {
    principal: Object,
    items: Object
  },
  computed: {
    itemsList() {
      return this.items;
    }
  }
});
</script>

<style lang="scss" scoped></style>
