<template>
  <div>
    <div class="flex justify-between items-center flex-grow">
      <stx-section-header
        title="List of Dependants"
        class="m-4"
      ></stx-section-header>
      <div class="flex items-center">
        <span class="m-4 font-bold">Total: {{ itemsLength }}</span>
        <!-- <stx-add-new-button path="dependant.create"></stx-add-new-button> -->
      </div>
    </div>

    <b-input-group class="mb-2">
      <template #prepend>
        <b-input-group-text>
          <b-icon icon="search"></b-icon>
        </b-input-group-text>
      </template>
      <b-form-input
        type="search"
        v-model="filter"
        placeholder="Search/Filter"
        size="lg"
      ></b-form-input>
    </b-input-group>
    <b-table
      :items="itemsList"
      :fields="fields"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      responsive="xl"
      primary-key="id"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      striped
      bordered
      class="text-sm flex-grow"
    >
      <template #cell(action)="data">
        <div class="flex whitespace-nowrap">
          <stx-small-button
            path="dependant.show"
            label="View"
            :id="data.item.id"
            icon="eye-fill"
            class="self-center mt-1"
            bg="bg-brand-100"
            :moreclasses="['bg-brand-100']"
          ></stx-small-button>
          <stx-edit-button
            :id="data.item.id"
            class="m-1"
            path="dependant.edit"
          ></stx-edit-button>
          <stx-delete-button
            :id="data.item.id"
            class="m-1"
            path="dependant.destroy"
          ></stx-delete-button>
        </div>
      </template>
      <template #cell(last_name)="data">
        <div class="text-center flex flex-col justify-center">
          <inertia-link :href="route('dependant.show', data.item.id)" as="a">
            <div class="text-base text-center font-black">
              {{ data.item.last_name }}
            </div>
          </inertia-link>
        </div>
      </template>
      <template #cell(first_name)="data">
        <inertia-link :href="route('dependant.show', data.item.id)" as="a">
          <div class="font-semibold">{{ data.item.first_name }}</div>
          <div>{{ data.item.middle_name }}</div></inertia-link
        >
      </template>
      <template #cell(contact)="data">
        <div class="font-semibold">{{ data.item.email }}</div>
        <div>{{ data.item.telephone }}</div>
      </template>
      <template #cell(location)="data">
        <div class="font-semibold">{{ data.item.address }}</div>
        <div>{{ data.item.city }}</div>
      </template>
      <template #cell(state)="data">
        <div class="font-semibold">{{ data.item.state }},</div>
        <div>{{ data.item.country }}</div>
      </template>
      <template #cell(enrollee_type)="data">
        <div class="font-semibold">{{ data.item.enrollee_type.type }}</div>
      </template>
      <template #cell(principal)="data">
        <div class="font-semibold">
          <inertia-link :href="route('principal.show', data.item.principal.id)">
            {{ data.item.principal.first_name }}
            {{ data.item.principal.middle_name }}
            {{ data.item.principal.last_name }}</inertia-link
          >
        </div>
      </template>
      <template #cell(photo)="data">
        <principal-photo
          :photoData="data.item"
          url="dependant.upload"
          @finished="uploadFinished"
          :classes="'w-15 h-15 rounded-full'"
        />
        <!-- <div>
                    <b-img-lazy
                        v-if="data.item.photo"
                        :src="data.item.photo"
                        class="w-15 h-auto rounded-full"
                    ></b-img-lazy>
                </div> -->
      </template>
    </b-table>
    <b-pagination
      v-model="currentPage"
      :total-rows="itemsLength"
      :per-page="perPage"
      aria-controls="my-table"
      align="right"
    ></b-pagination>

    <!-- <div>
            Sorting By: <b>{{ sortBy }}</b
            >, Sort Direction:
            <b>{{ sortDesc ? "Descending" : "Ascending" }}</b>
        </div> -->
  </div>
</template>

<script >
import StxEditButton from "@/components/StxEditButton.vue";
import StxDeleteButton from "@/components/StxDeleteButton.vue";
import StxSectionHeader from "@/components/StxSectionHeader.vue";
import StxAddNewButton from "@/components/StxAddNewButton.vue";
import StxSmallButton from "@/components/StxSmallButton.vue";
import { defineComponent } from "@vue/composition-api";
import PrincipalPhoto from "../Principal/PrincipalPhoto.vue";
export default defineComponent({
  components: {
    StxEditButton,
    StxDeleteButton,
    StxSectionHeader,
    StxAddNewButton,
    PrincipalPhoto,
    StxSmallButton
  },
  props: {
    items: {
      type: Array
    }
  },
  data() {
    return {
      principalsUpdated: [],
      filter: "",
      currentPage: 1,
      perPage: 5,
      sortBy: "last_name",
      sortDesc: false,
      fields: [
        { key: "action", sortable: false },
        { key: "photo", sortable: false },
        { key: "last_name", sortable: true },
        { key: "middle_name", sortable: true },
        { key: "first_name", sortable: true },
        // { key: "contact", label: "Contact", sortable: true },
        // { key: "location", label: "Location", sortable: true },
        //   { key: 'email', sortable: true },
        //   { key: 'telephone', sortable: true },
        //   { key: 'address', sortable: true },
        //   { key: 'zip_code', sortable: true },
        //   { key: 'city', sortable: true },
        // { key: "state", label: "State/Country", sortable: true },
        // { key: "country", sortable: true },
        { key: "principal", label: "Principal", sortable: true },
        { key: "enrollee_type", label: "Type", sortable: true }
      ]
    };
  },
  computed: {
    itemsList() {
      return this.items;
      // return (this.itemsUpdated.length)? this.itemsUpdated: this.items;
    },
    itemsLength() {
      return this.itemsList ? this.itemsList.length : 0;
    }
  },
  methods: {
    uploadFinished(e) {
      this.itemsUpdated = e.props.principals;
      console.log("UPLOAD FINISHED", e.props.principals);
    }
  }
});
</script>
<style lang="scss" scoped></style>
