<template>
  <div class="">
    <div class="flex gap-8 items-center">
      <div class="w-2/6">
        <b-img :src="data.photo" alt="" class="rounded-lg" />
      </div>
      <div class="w-4/6 pb-3">
        <div class="text-xl font-bold text-brand-100">{{ title }}</div>
        <div>
          <div class="text-xs font-base mt-2">
            Name:
          </div>
          <div class="text-sm font-semibold mt-0">
            {{ data.first_name }} {{ data.middle_name }} {{ data.last_name }}
          </div>
        </div>
        <div>
          <div class="text-xs font-base mt-3 inline-block">
            DOB:
          </div>
          <div class="text-sm font-semibold mt-1 inline-block">
            {{ data.date_of_birth }}
          </div>
        </div>
        <div>
          <div class="text-xs font-base mt-3 inline-block">
            Gender:
          </div>
          <div class="text-sm font-semibold mt-1 inline-block">
            {{ data.sex }}
          </div>
        </div>
      </div>
    </div>
    <slot></slot>
  </div>
</template>

<script >
import { defineComponent, computed } from "@vue/composition-api";

export default defineComponent({
  components: {},
  props: {
    thumbData: Object,
    title: String
  },
  computed: {
    data() {
      return this.thumbData;
    }
  }
});
</script>
<style lang="scss" scoped></style>
