<template>
  <div class="container_">
    <app-layout>
      <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
          Principal
        </h2>
      </template>

      <template #default>
        <div class="py-12">
          <div class="mx-auto block sm:px-6 lg:px-8">
            <DependantView
              v-if="display === 'view'"
              :items="dependant"
              :enrolleetypes="enrolleetypes"
              class="mx-4"
            ></DependantView>
            <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
              <DependantTable
                v-if="display === 'table'"
                :items="items"
                class="mx-4"
              />
              <DependantForm
                v-if="display === 'form'"
                :enrolleetypes="enrolleetypes"
                :principal="principal"
                :dependant="dependant"
              />
            </div>
          </div></div
      ></template>
    </app-layout>
  </div>
</template>

<script >
import AppLayout from "../../Layouts/AppLayout.vue";
import {
  defineComponent,
  reactive,
  toRefs,
  computed
} from "@vue/composition-api";
import DependantForm from "./DependantForm.vue";
import DependantTable from "./DependantTable.vue";
import DependantView from "./DependantView.vue";

export default defineComponent({
  name: "dependantIndex",
  components: { AppLayout, DependantForm, DependantTable, DependantView },
  props: {
    display: {
      type: String
    },
    principal: {
      type: Object
    },
    dependant: {
      type: Object
    },
    enrolleetypes: {
      type: Array
    },
    items: {
      type: Array
    }
  },
  setup() {
    const state = reactive({});

    return {
      ...toRefs(state)
    };
  }
});
</script>
<style lang="scss" scoped></style>
