<template>
  <div>
    <!-- <div>{{ tableData.links }}</div> -->
    <!-- <div>{{ tableData.data }}</div> -->
    <h3 class="text-xl">Asset Register</h3>

    <div class="form-group">
      <label for=""></label>
      <b-input-group
        size="md"
        prepend="Filter"
        :append="'Records: ' + (tableData.length || 0)"
      >
        <input
          type="text"
          class="form-control"
          v-model="filter"
          aria-describedby="helpId"
          placeholder=""
          prepend="search"
        />
      </b-input-group>
      <small id="helpId" class="form-text text-muted">Filter Records</small>
    </div>
    <!-- :per-page="tableData.per_page" -->

    <div class="bg-white p-3">
      <b-pagination
        v-model="currentPage"
        :total-rows="tableData.length || 0"
        :per-page="per_page"
        aria-controls="my-table"
        align="right"
      ></b-pagination>
      <b-table
        stacked="md"
        :items="tableData"
        :fields="fields"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        responsive="xl"
        primary-key="id"
        :current-page="currentPage"
        :per-page="per_page"
        :filter="filter"
        striped
        bordered
        selectMode="single"
        class="text-sm"
      >
        <template #cell(action)="data">
          <div class="whitespace-nowrap">
            <b-button
              v-b-modal.stxviewmodal
              pill
              variant="secondary"
              size="sm"
              @click="
                mode = 'view';
                activeData = data.item;
              "
              class="mr-2"
            >
              <b-icon icon="eye" class="mr-1"></b-icon> View</b-button
            >
            <b-button
              v-b-modal.stxviewmodal
              pill
              variant="primary"
              size="sm"
              @click="
                mode = 'edit';
                activeData = data.item;
              "
              ><b-icon icon="pencil-square" class="mr-1"></b-icon>
              Edit</b-button
            >
          </div>
          <!-- <button :id="data.item.id" class="m-1" path="asset.edit">Edit</button> -->
        </template>
      </b-table>
      <b-pagination
        v-model="currentPage"
        :total-rows="tableData.length || 0"
        :per-page="per_page"
        aria-controls="my-table"
        align="right"
      ></b-pagination>
    </div>
    <div>
      <!-- Modal Starts -->
      <b-modal id="stxviewmodal" :title="mode.toUpperCase()" size="lg">
        <OldassetForm v-if="mode == 'edit'" :activeData="activeData" />
        <OldassetView v-if="mode == 'view'" :activeData="activeData" />
      </b-modal>
      <!-- Modal Ends -->
    </div>
    <!-- <div class="m-2">
      <inertia-link
        v-for="(item, index) in tableData.links"
        :key="index"
        v-html="item.label"
        class="py-2 px-3 bg-red-200 rounded mr-1 text-xs no-underline text-black hover:no-underline hover:bg-red-100"
        :class="{ 'bg-red-600 text-white': item.active }"
        :href="item.url"
      >
      </inertia-link>    </div> -->
  </div>
</template>

<script>
import { defineComponent } from "@vue/composition-api";
import StxViewItem from "@/components/StxViewItem";
import OldassetView from "./OldassetView";
import OldassetForm from "./OldassetForm";

export default defineComponent({
  props: {
    assets: Array
  },
  components: {
    StxViewItem,
    OldassetView,
    OldassetForm
  },
  data() {
    return {
      mode: "edit",
      activeData: {},
      filter: "",
      sortBy: "id",
      sortDesc: true,
      currentPage: 1,
      per_page: 20,
      fields: [
        { key: "action", sortable: false },
        { key: "id", sortable: true },
        { key: "name", label: "Item", sortable: true },
        { key: "model_no", sortable: true },
        { key: "serial_no", sortable: true },
        { key: "dimension", sortable: true },
        { key: "location_id", label: "Location", sortable: true },
        { key: "warantee_start", sortable: true },
        { key: "warantee_end", sortable: true },
        { key: "service_due_at", label: "Service Due", sortable: true }
      ]
    };
  },
  computed: {
    tableData() {
      console.log(JSON.stringify(this.assets.links, null, 2));
      return this.assets;
    }
  }
});
</script>

<style lang="scss" scoped>
</style>
