<template>
  <app-layout>
    <div class="m-3">
      <b-container fluid> <OldassetTable :assets="assets"/></b-container></div
  ></app-layout>
</template>

<script>
import OldassetTable from "./OldassetTable.vue";
import { defineComponent } from "@vue/composition-api";
import AppLayout from "@/Layouts/AppLayout.vue";

export default defineComponent({
  props: {
    assets: Array
  },
  components: { OldassetTable, AppLayout },
  mounted() {
    document.title = "Old Assets | Assets Management";
  }
});
</script>

<style lang="scss" scoped>
</style>
