<template>
    <div>
<div class="flex justify-between pt-4 mt-2">
          <div>
            PHOTO:
            <div>{{ activeData.name }}</div>
          </div>
        </div>
        <div class="flex justify-between border-t border-gray-200 pt-4 mt-2">
          <div>
            Description:
            <div class="font-poppins font-bold">
              {{ activeData.description }}
            </div>
          </div>
          <div>
            <stx-view-item title="Serial No:">{{
              activeData.serial_no
            }}</stx-view-item>

            <stx-view-item title="Model No:" class="mt-2">{{
              activeData.model_no
            }}</stx-view-item>
          </div>
        </div>
        <div class="flex justify-between border-t border-gray-200 pt-4 mt-2">
          <stx-view-item title="Manufactured At:">{{
            activeData.manufactured_at
          }}</stx-view-item>
          <stx-view-item title="Warantee Start:">{{
            activeData.warantee_start
          }}</stx-view-item>
          <stx-view-item title=" Warantee End:"
            >{{ activeData.warantee_end }}
          </stx-view-item>
          <stx-view-item title=" Service Due Date:">{{
            activeData.service_due_at
          }}</stx-view-item>
        </div>
        <div class="flex justify-between border-t border-gray-200 pt-4 mt-2">
          <stx-view-item title="Purchased At:">{{
            activeData.purchased_at
          }}</stx-view-item>
          <stx-view-item title="Status:">{{ activeData.status }}</stx-view-item>
          <stx-view-item title="Location:">{{
            activeData.location_id
          }}</stx-view-item>
          <stx-view-item title="Base Location:">{{
            activeData.base_location
          }}</stx-view-item>
        </div>
        <div class="flex justify-between border-t border-gray-200 pt-4 mt-2">
          <stx-view-item title="Year of Construction:">{{
            activeData.year_of_construction
          }}</stx-view-item>
          <stx-view-item title="Country:">{{
            activeData.country
          }}</stx-view-item>
          <stx-view-item title="Purchase Amount:">{{
            activeData.purchase_amount
          }}</stx-view-item>
          <stx-view-item title="Currency:">{{
            activeData.purchase_currency
          }}</stx-view-item>
        </div>
        <div class="flex justify-between border-t border-gray-200 pt-4 mt-2">
          <stx-view-item title="Note:">{{ activeData.note }}</stx-view-item>
        </div>
    </div>
</template>

<script>
import StxViewItem from "@/components/StxViewItem";
import { defineComponent } from "@vue/composition-api";

    export default defineComponent({
        props:{
            activeData:{
                type: Object,
                required: true
            }
        },
          components: {
    StxViewItem
  },
    })
</script>

<style lang="scss" scoped>

</style>
