<template>
  <div class="p-3 mb-10  w-full">
    <b-form @submit.stop.prevent="saveChanges" class=" w-full">
      <div
        class="fixed top-0 right-0 rounded-bl-xl bg-gray-700 p-4 border-b border-gray-200 w-auto z-50"
      >
        <button
          type="submit"
          class="rounded bg-brand-500 text-white py-1 px-3 focus:outline-none hover:bg-brand-400 mr-2"
        >
          Save Changes
        </button>
        <button
          @click="loadDefaults()"
          type="button"
          class="rounded bg-brand-300 text-white py-1 px-3 focus:outline-none hover:bg-brand-500"
        >
          Reset
        </button>
      </div>
      <div class="flex justify-between  mt-2">
        <div>
          <div class="text-2xl font-poppins font-bold mt-2">
            {{ activeData.name }}
          </div>
        </div>
      </div>
      <stx-view-item title="Description" look="style2" />
      <b-form-group
        v-if="data && data.id"
        id="assetData-group-name"
        label="Item Name"
        label-for="assetData_input-name"
        :invalid-feedback="form.errors.name"
        :state="!form.errors.name"
      >
        <b-form-input
          id="assetData_input-name"
          v-model="form.name"
          type="text"
          :state="!form.errors.name ? null : false"
        ></b-form-input
      ></b-form-group>
      <div class="grid lg:grid-cols-3 gap-6">
        <b-form-group
          v-if="data && data.id"
          id="assetData-group-description"
          label="Item description"
          label-for="assetData_textarea-description"
          :invalid-feedback="form.errors.description"
          :state="!form.errors.description"
          class="col-span-2"
        >
          <b-form-textarea
            id="assetData_textarea-description"
            v-model="form.description"
            type="text"
            rows="4"
            :state="!form.errors.description ? null : false"
          ></b-form-textarea
        ></b-form-group>

        <b-form-group
          v-if="data && data.id"
          id="assetData-group-location_id"
          label="Item location_id"
          label-for="assetData_input-location_id"
          :invalid-feedback="form.errors.location_id"
          :state="!form.errors.location_id"
          class="w-auto"
        >
          <b-form-input
            id="assetData_input-location_id"
            v-model="form.location_id"
            type="text"
            :state="!form.errors.location_id ? null : false"
          ></b-form-input
        ></b-form-group>
      </div>
      <stx-view-item title="Measurements" look="style2" />
      <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
        <b-form-group
          v-if="data && data.id"
          id="assetData-group-code"
          label="Item code"
          label-for="assetData_input-code"
          :invalid-feedback="form.errors.code"
          :state="!form.errors.code"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-code"
            v-model="form.code"
            type="text"
            :state="!form.errors.code ? null : false"
          ></b-form-input
        ></b-form-group>

        <b-form-group
          v-if="data && data.id"
          id="assetData-group-status"
          label="Item status"
          label-for="assetData_input-status"
          :invalid-feedback="form.errors.status"
          :state="!form.errors.status"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-status"
            v-model="form.status"
            type="text"
            :state="!form.errors.status ? null : false"
          ></b-form-input
        ></b-form-group>

        <b-form-group
          v-if="data && data.id"
          id="assetData-group-dimension"
          label="Item dimension"
          label-for="assetData_input-dimension"
          :invalid-feedback="form.errors.dimension"
          :state="!form.errors.dimension"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-dimension"
            v-model="form.dimension"
            type="text"
            :state="!form.errors.dimension ? null : false"
          ></b-form-input
        ></b-form-group>

        <b-form-group
          v-if="data && data.id"
          id="assetData-group-weight"
          label="Item weight"
          label-for="assetData_input-weight"
          :invalid-feedback="form.errors.weight"
          :state="!form.errors.weight"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-weight"
            v-model="form.weight"
            type="text"
            :state="!form.errors.weight ? null : false"
          ></b-form-input
        ></b-form-group>
      </div>
      <stx-view-item title="Item Details" look="style2" />
      <div class="grid md:grid-cols-2 gap-6">
        <b-form-group
          v-if="data && data.id"
          id="assetData-group-manufacturer"
          label="Manufacturer"
          label-for="assetData_input-manufacturer"
          :invalid-feedback="form.errors.manufacturer"
          :state="!form.errors.manufacturer"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-manufacturer"
            v-model="form.manufacturer"
            type="text"
            :state="!form.errors.manufacturer ? null : false"
          ></b-form-input
        ></b-form-group>

        <b-form-group
          v-if="data && data.id"
          id="assetData-group-manufactured_at"
          label="Manufactured Date"
          label-for="assetData_input-manufactured_at"
          :invalid-feedback="form.errors.manufactured_at"
          :state="!form.errors.manufactured_at"
          class="w-full"
        >
          <date-picker
            v-model="form.manufactured_at"
            valueType="format"
            class="w-full"
            :class="{
              'border-2 rounded border-red-500': !!form.errors.manufactured_at
            }"
          ></date-picker>
          <!-- <b-form-input
          id="assetData_input-manufactured_at"
          v-model="form.manufactured_at"
          type="text"
          :state="!form.errors.manufactured_at ? null : false"
        ></b-form-input
      > -->
        </b-form-group>

        <b-form-group
          v-if="data && data.id"
          id="assetData-group-model_no"
          label="Model no"
          label-for="assetData_input-model_no"
          :invalid-feedback="form.errors.model_no"
          :state="!form.errors.model_no"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-model_no"
            v-model="form.model_no"
            type="text"
            :state="!form.errors.model_no ? null : false"
          ></b-form-input
        ></b-form-group>

        <b-form-group
          v-if="data && data.id"
          id="assetData-group-serial_no"
          label="Serial no"
          label-for="assetData_input-serial_no"
          :invalid-feedback="form.errors.serial_no"
          :state="!form.errors.serial_no"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-serial_no"
            v-model="form.serial_no"
            type="text"
            :state="!form.errors.serial_no ? null : false"
          ></b-form-input
        ></b-form-group>

        <b-form-group
          v-if="data && data.id"
          id="assetData-group-part_no"
          label="Part no"
          label-for="assetData_input-part_no"
          :invalid-feedback="form.errors.part_no"
          :state="!form.errors.part_no"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-part_no"
            v-model="form.part_no"
            type="text"
            :state="!form.errors.part_no ? null : false"
          ></b-form-input
        ></b-form-group>
      </div>
      <stx-view-item title="Stock" look="style2" />
      <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6">
        <b-form-group
          v-if="data && data.id"
          id="assetData-group-standard_stock"
          label="Standard Stock"
          label-for="assetData_input-standard_stock"
          :invalid-feedback="form.errors.standard_stock"
          :state="!form.errors.standard_stock"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-standard_stock"
            v-model="form.standard_stock"
            type="text"
            :state="!form.errors.standard_stock ? null : false"
          ></b-form-input
        ></b-form-group>

        <b-form-group
          v-if="data && data.id"
          id="assetData-group-current_stock"
          label="Current Stock"
          label-for="assetData_input-current_stock"
          :invalid-feedback="form.errors.current_stock"
          :state="!form.errors.current_stock"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-current_stock"
            v-model="form.current_stock"
            type="text"
            :state="!form.errors.current_stock ? null : false"
          ></b-form-input
        ></b-form-group>
        <b-form-group
          v-if="data && data.id"
          id="assetData-group-sub_unit"
          label="Item Unit (db:sub_unit)"
          label-for="assetData_input-sub_unit"
          :invalid-feedback="form.errors.sub_unit"
          :state="!form.errors.sub_unit"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-sub_unit"
            v-model="form.sub_unit"
            type="text"
            :state="!form.errors.sub_unit ? null : false"
          ></b-form-input
        ></b-form-group>
      </div>

      <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6">
        <b-form-group
          v-if="data && data.id"
          id="assetData-group-sub_items"
          label="Sub Item Name/Unit"
          label-for="assetData_input-sub_items"
          :invalid-feedback="form.errors.sub_items"
          :state="!form.errors.sub_items"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-sub_items"
            v-model="form.sub_items"
            type="text"
            :state="!form.errors.sub_items ? null : false"
          ></b-form-input
        ></b-form-group>

        <b-form-group
          v-if="data && data.id"
          id="assetData-group-items_per_unit"
          label="Sub Item Max Quantity (db:items_per_unit)"
          label-for="assetData_input-items_per_unit"
          :invalid-feedback="form.errors.items_per_unit"
          :state="!form.errors.items_per_unit"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-items_per_unit"
            v-model="form.items_per_unit"
            type="text"
            :state="!form.errors.items_per_unit ? null : false"
          ></b-form-input
        ></b-form-group>
        <b-form-group
          v-if="data && data.id"
          id="assetData-group-stock_status"
          label="Sub item Current Stock (db:stock_status)"
          label-for="assetData_input-stock_status"
          :invalid-feedback="form.errors.stock_status"
          :state="!form.errors.stock_status"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-stock_status"
            v-model="form.stock_status"
            type="text"
            :state="!form.errors.stock_status ? null : false"
          ></b-form-input
        ></b-form-group>
      </div>

      <stx-view-item title="Purchase Details" look="style2" />
      <div class="grid md:grid-cols-3 gap-6">
        <b-form-group
          v-if="data && data.id"
          id="assetData-group-purchased_at"
          label="Purchase Date"
          label-for="assetData_input-purchased_at"
          :invalid-feedback="form.errors.purchased_at"
          :state="!form.errors.purchased_at"
          class="w-full"
        >
          <date-picker
            v-model="form.purchased_at"
            valueType="format"
            class="w-full"
            :class="{
              'border-2 rounded border-red-500': !!form.errors.purchased_at
            }"
          ></date-picker>
          <!-- <b-form-input
          id="assetData_input-purchased_at"
          v-model="form.purchased_at"
          type="text"
          :state="!form.errors.purchased_at ? null : false"
        ></b-form-input
      > -->
        </b-form-group>
        <b-form-group
          v-if="data && data.id"
          id="assetData-group-purchase_amount"
          label="Purchase Amount"
          label-for="assetData_input-purchase_amount"
          :invalid-feedback="form.errors.purchase_amount"
          :state="!form.errors.purchase_amount"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-purchase_amount"
            v-model="form.purchase_amount"
            type="text"
            :state="!form.errors.purchase_amount ? null : false"
          ></b-form-input
        ></b-form-group>

        <b-form-group
          v-if="data && data.id"
          id="assetData-group-purchase_currency"
          label="Purchase Currency"
          label-for="assetData_input-purchase_currency"
          :invalid-feedback="form.errors.purchase_currency"
          :state="!form.errors.purchase_currency"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-purchase_currency"
            v-model="form.purchase_currency"
            type="text"
            :state="!form.errors.purchase_currency ? null : false"
          ></b-form-input
        ></b-form-group>
      </div>

      <div class="grid sm:grid-cols-3 md:grid-cols-4 gap-6">
        <b-form-group
          v-if="data && data.id"
          id="assetData-group-vendor"
          label="Vendor"
          label-for="assetData_input-vendor"
          :invalid-feedback="form.errors.vendor"
          :state="!form.errors.vendor"
          class="w-full sm:col-span-3 md:col-span-2"
        >
          <b-form-input
            id="assetData_input-vendor"
            v-model="form.vendor"
            type="text"
            :state="!form.errors.vendor ? null : false"
          ></b-form-input
        ></b-form-group>

        <b-form-group
          v-if="data && data.id"
          id="assetData-group-country"
          label="Country"
          label-for="assetData_input-country"
          :invalid-feedback="form.errors.country"
          :state="!form.errors.country"
          class="w-full sm:col-span-2"
        >
          <b-form-input
            id="assetData_input-country"
            v-model="form.country"
            type="text"
            :state="!form.errors.country ? null : false"
          ></b-form-input
        ></b-form-group>

        <b-form-group
          v-if="data && data.id"
          id="assetData-group-year_of_construction"
          label="Production Year"
          label-for="assetData_input-year_of_construction"
          :invalid-feedback="form.errors.year_of_construction"
          :state="!form.errors.year_of_construction"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-year_of_construction"
            v-model="form.year_of_construction"
            type="text"
            :state="!form.errors.year_of_construction ? null : false"
          ></b-form-input
        ></b-form-group>
      </div>

      <!--
      <b-form-group
        v-if="data && data.id"
        id="assetData-group-description"
        label="Item description"
        label-for="assetData_input-description"
        :invalid-feedback="form.errors.description"
        :state="!form.errors.description"
        class="w-full"
      >
        <b-form-input
          id="assetData_input-service_due_at"
          v-model="form.service_due_at"
          type="text"
          :state="!form.errors.service_due_at ? null : false"
        ></b-form-input
      ></b-form-group> -->

      <stx-view-item title="Maintenance Details" look="style2" />

      <div class="grid md:grid-cols-2 gap-6">
        <b-form-group
          v-if="data && data.id"
          id="assetData-group-service_technician"
          label="Service Technician"
          label-for="assetData_input-service_technician"
          :invalid-feedback="form.errors.service_technician"
          :state="!form.errors.service_technician"
          class="w-full"
        >
          <b-form-input
            id="assetData_input-service_technician"
            v-model="form.service_technician"
            type="text"
            :state="!form.errors.service_technician ? null : false"
          ></b-form-input
        ></b-form-group>
        <b-form-group
          v-if="data && data.id"
          id="assetData-group-service_due_at"
          label="Service Due"
          label-for="assetData_input-service_due_at"
          :invalid-feedback="form.errors.service_due_at"
          :state="!form.errors.service_due_at"
          class="w-full"
        >
          <date-picker
            v-model="form.service_due_at"
            valueType="format"
            class="w-full"
            :class="{
              'border-2 rounded border-red-500': !!form.errors.service_due_at
            }"
          ></date-picker>
          <!-- <b-form-input
          id="assetData_input-service_due_at"
          v-model="form.service_due_at"
          type="text"
          :state="!form.errors.service_due_at ? null : false"
        ></b-form-input
      > -->
        </b-form-group>
      </div>

      <div class="grid md:grid-cols-2 gap-6">
        <b-form-group
          v-if="data && data.id"
          id="assetData-group-warantee_start"
          label="Warantee Starts"
          label-for="assetData_input-warantee_start"
          :invalid-feedback="form.errors.warantee_start"
          :state="!form.errors.warantee_start"
          class="w-full"
        >
          <date-picker
            v-model="form.warantee_start"
            valueType="format"
            class="w-full"
            :class="{
              'border-2 rounded border-red-500': !!form.errors.warantee_start
            }"
          ></date-picker>
          <!-- <b-form-input
          id="assetData_input-warantee_start"
          v-model="form.warantee_start"
          type="text"
          :state="!form.errors.warantee_start ? null : false"
        ></b-form-input
      > -->
        </b-form-group>

        <b-form-group
          v-if="data && data.id"
          id="assetData-group-warantee_end"
          label="Warantee Ends"
          label-for="assetData_input-warantee_end"
          :invalid-feedback="form.errors.warantee_end"
          :state="!form.errors.warantee_end"
          class="w-full"
        >
          <date-picker
            v-model="form.warantee_end"
            valueType="format"
            class="w-full"
            :class="{
              'border-2 rounded border-red-500': !!form.errors.warantee_end
            }"
          ></date-picker>
          <!-- <b-form-input
          id="assetData_input-warantee_end"
          v-model="form.warantee_end"
          type="text"
          :state="!form.errors.warantee_end ? null : false"
        ></b-form-input
      > -->
        </b-form-group>
      </div>

      <stx-view-item title="Extras" look="style2" />
      <b-form-group
        v-if="data && data.id"
        id="assetData-group-note"
        label="Additional Notes"
        label-for="assetData_textarea-note"
        :invalid-feedback="form.errors.note"
        :state="!form.errors.note"
        class="w-full"
      >
        <b-form-textarea
          id="assetData_textarea-note"
          v-model="form.note"
          type="text"
          rows="4"
          :state="!form.errors.note ? null : false"
        ></b-form-textarea
      ></b-form-group>

      <b-form-group
        v-if="data && data.id"
        id="assetData-group-location_classification"
        label="Location Classification"
        label-for="assetData_input-location_classification"
        :invalid-feedback="form.errors.location_classification"
        :state="!form.errors.location_classification"
        class="w-full"
      >
        <b-form-input
          id="assetData_input-location_classification"
          v-model="form.location_classification"
          type="text"
          :state="!form.errors.location_classification ? null : false"
        ></b-form-input
      ></b-form-group>

      <!-- <div class="flex justify-between border-t border-gray-200 pt-4 mt-2">
        <div>
          Description:
          <div class="font-poppins font-bold">
            {{ activeData.description }}
          </div>
        </div>
        <div>
          <stx-view-item title="Serial No:">{{
            activeData.serial_no
          }}</stx-view-item>

          <stx-view-item title="Model No:" class="mt-2">{{
            activeData.model_no
          }}</stx-view-item>
        </div>
      </div>
      <div class="flex justify-between border-t border-gray-200 pt-4 mt-2">
        <stx-view-item title="Manufactured At:">{{
          activeData.manufactured_at
        }}</stx-view-item>
        <stx-view-item title="Warantee Start:">{{
          activeData.warantee_start
        }}</stx-view-item>
        <stx-view-item title=" Warantee End:"
          >{{ activeData.warantee_end }}
        </stx-view-item>
        <stx-view-item title=" Service Due Date:">{{
          activeData.service_due_at
        }}</stx-view-item>
      </div>
      <div class="flex justify-between border-t border-gray-200 pt-4 mt-2">
        <stx-view-item title="Purchased At:">{{
          activeData.purchased_at
        }}</stx-view-item>
        <stx-view-item title="Status:">{{ activeData.status }}</stx-view-item>
        <stx-view-item title="Location:">{{
          activeData.location_id
        }}</stx-view-item>
        <stx-view-item title="Base Location:">{{
          activeData.base_location
        }}</stx-view-item>
      </div>
      <div class="flex justify-between border-t border-gray-200 pt-4 mt-2">
        <stx-view-item title="Year of Construction:">{{
          activeData.year_of_construction
        }}</stx-view-item>
        <stx-view-item title="Country:">{{ activeData.country }}</stx-view-item>
        <stx-view-item title="Purchase Amount:">{{
          activeData.purchase_amount
        }}</stx-view-item>
        <stx-view-item title="Currency:">{{
          activeData.purchase_currency
        }}</stx-view-item>
      </div>
      <div class="flex justify-between border-t border-gray-200 pt-4 mt-2">
        <stx-view-item title="Note:">{{ activeData.note }}</stx-view-item>
      </div> -->
    </b-form>
  </div>
</template>

<script>
import StxViewItem from "@/components/StxViewItem";
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  props: {
    activeData: {
      type: Object,
      required: true
    }
  },
  components: {
    StxViewItem
  },
  data() {
    return {
      savedDefaults: {},
      form: this.$inertia.form({
        id: -1,
        name: "",
        location_id: "",
        description: "",
        code: "",
        status: "",
        dimension: "",
        weight: "",
        standard_stock: 0,
        current_stock: 0,
        sub_unit: "",
        stock_status: "",
        items_per_unit: 0,
        sub_items: "",
        manufacturer: "",
        vendor: "",
        service_technician: "",
        country: "Nigeria",
        year_of_construction: 0,
        manufactured_at: "",
        purchased_at: "",
        service_due_at: "",
        warantee_start: "",
        warantee_end: "",
        model_no: "",
        serial_no: "",
        part_no: "",
        purchase_amount: 0,
        purchase_currency: "",
        note: "",
        location_classification: "",
        photo: ""
      })
    };
  },
  mounted() {
    this.savedDefaults = this.activeData;
    this.loadDefaults();
  },
  computed: {
    data() {
      return this.activeData;
    }
  },
  methods: {
    saveChanges() {
      this.form.put(route("asset.update", this.activeData.id));
    },
    loadDefaults() {
      //   this.form = {
      (this.form.id = this.savedDefaults.id),
        (this.form.name = this.savedDefaults.name),
        (this.form.location_id = this.savedDefaults.location_id),
        (this.form.description = this.savedDefaults.description),
        (this.form.code = this.savedDefaults.code),
        (this.form.status = this.savedDefaults.status),
        (this.form.dimension = this.savedDefaults.dimension),
        (this.form.weight = this.savedDefaults.weight),
        (this.form.standard_stock = this.savedDefaults.standard_stock),
        (this.form.current_stock = this.savedDefaults.current_stock),
        (this.form.sub_unit = this.savedDefaults.sub_unit),
        (this.form.stock_status = this.savedDefaults.stock_status),
        (this.form.items_per_unit = this.savedDefaults.items_per_unit),
        (this.form.sub_items = this.savedDefaults.sub_items),
        (this.form.manufacturer = this.savedDefaults.manufacturer),
        (this.form.vendor = this.savedDefaults.vendor),
        (this.form.service_technician = this.savedDefaults.service_technician),
        (this.form.country = this.savedDefaults.country),
        (this.form.year_of_construction = this.savedDefaults.year_of_construction),
        (this.form.manufactured_at = this.savedDefaults.manufactured_at),
        (this.form.purchased_at = this.savedDefaults.purchased_at),
        (this.form.service_due_at = this.savedDefaults.service_due_at),
        (this.form.warantee_start = this.savedDefaults.warantee_start),
        (this.form.warantee_end = this.savedDefaults.warantee_end),
        (this.form.model_no = this.savedDefaults.model_no),
        (this.form.serial_no = this.savedDefaults.serial_no),
        (this.form.part_no = this.savedDefaults.part_no),
        (this.form.purchase_amount = this.savedDefaults.purchase_amount),
        (this.form.purchase_currency = this.savedDefaults.purchase_currency),
        (this.form.note = this.savedDefaults.note),
        (this.form.location_classification = this.savedDefaults.location_classification),
        (this.form.photo = this.savedDefaults.photo);
      //   };
    }
  }
});
</script>

<style lang="scss" scoped></style>
